[2022-06-13 07:44] sanderquirynen opened #6645 "Add 'key' field to media folders"
# Problem description

We've had a few occurrences where we needed to identify a specific folder through code, eg:
- A folder where users can drop images which will automatically be linked to a Product, based on the file name
- A folder with icons/illustrations we want to use for a certain single_media_selection field. We would then setup permissions so copywriters can select images, but not uploa

[2022-06-13 08:14] alexander-schranz commented on #6645
A collection already has a `key` field which is for example used in the suluformbundle to store form media (also there is similar things implemented every page can have its own collection based on some [collection strategy](https://github.com/sulu/SuluFormBundle/blob/2.4/Resources/doc/dynamic.md)). They are because of the are programmatically only field not available for the content manager as it

[2022-06-13 09:55] mamazu opened #6646 "Add pagination to selection field types to avoid URI too long"
| Q | A
| --- | ---
| Sulu Version | 2.3.7
| PHP Version | 7.4.12
| DB Version | mariadb:10.5.9
| Browser Version | Firefox 100.0.2

# Actual Behavior
When you want to create a list of Sulu pages, you use the `page_selection` property in Sulu. This gives you a User interface for selecting pages one by one and adding them. This way you can create a list of arbitrary length since the individual item

[2022-06-13 10:16] alexander-schranz commented on #6646
Thx for reporting.

A pagination of the selected Items I think would be great, think it is enough to just show the first 10 pages and then show the rest via a paginiation. But not sure how this will effect other cases as example the query for the pages. We would need a design to target this as we do not have any paginiation inside the selections / items list yet.

Still in most cases selection are

[2022-06-13 12:26] alexander-schranz commented on #6646
I tested it on our servers the 414 does not appear there so I think it has todo with limitation defined on your webserver.

I know that we normally increase already `large_client_header_buffers` in our webservers because it is already required for CMPs as they already write bigger cookie header as it is the default setting for the nginx. But also on our default server without large header buffers

[2022-06-13 14:19] mamazu commented on #6646
I completely agree that this isn't the right or the normal way to use Sulu in this case. And the issues we are having also didn't occur at 56 Entries in the list. The page in question has more than 200 Entries in a list, so that will give the web server something to think about.

[2022-06-13 15:27] ghost commented on #6608
@alexander-schranz Hey didn't get any email from you :( Is there any update regarding this?
Thanks in advance :)

[2022-06-14 07:47] alexander-schranz commented on #6608
Hello @wsmi22,

You should got an email to `miriam.iomin@whitesourcesoftware.com` at 18. May and an invitation to the security advisory. I can try to resend you the invitation.

[2022-06-14 08:48] ghost commented on #6608
@alexander-schranz I see it now thank you!

[2022-06-15 11:13] #6556 closed, assigned to nobody

[2022-06-15 11:13] alexander-schranz commented on #6556
Merged and alreay party of Sulu 2.5.0-alpha1: https://github.com/sulu/sulu/releases/tag/2.5.0-alpha1

[2022-06-15 13:35] simontol opened #6653 "http://schemas.sulu.io/template/template-1.1.xsd unavailable"
| Q | A
| --- | ---
| Sulu Version | 2.4.2
| PHP Version | 8.1.6
| DB Version | 5.7.37
| Browser Version | N/A

# Actual Behavior
Upgraded from Sulu 1.x a month ago and migrated some page types with the following header:
[code]
The upgrade process went fine and all worked well.
Today I found that the http://schemas.sulu.io/template/template-1.1.xsd file has become unavailable.
I've tried to switch

[2022-06-15 14:45] alexander-schranz commented on #6653
Thx for report. Looks like something wrong here with the schema deployment, that there are not all version available.

/cc @wachterjohannes can you check this not sure how this is currently deployed.

As a workaround you can also reference to your local file in the vendor directory:

Depending where your file is, it something like:

[code]

Similar phpunit is doing: https://github.com/sulu/skeleto

[2022-06-15 20:21] remdan commented on #6150
I understand...  a first step would be to copy at least the URL with one click, without webspace like "/neuigkeiten/test-blog-post" ?

is better than nothing and several clicks less...

[2022-06-15 20:37] remdan opened #6654 "Display the number of selected elements"
# Problem description

When you select items in a list you never see how many items have been effectively selected.
No number is displayed...

This information could be helpful, especially with the media folder system.

<img width="1434" alt="2" src="https://user-images.githubusercontent.com/5031692/173921405-8f6fa44d-755d-4941-a656-b86fe5e94556.png">
<img width="1437" alt="1" src="https://user-im

[2022-06-15 21:35] remdan opened #6655 "Incomplete upload of multiple files at the same time"
| Q | A
| --- | ---
| Sulu Version | 2.4.2
| PHP Version | 7.4
| DB Version | MariaDB 10.3
| Browser Version | Firefox 101.0.1

# Actual Behavior

Uploading multiple files gives an error message where it is not clear what the problem is!

# Expected Behavior

- Detailed error message for each file
- The possibility to restart the process for the files that were not uploaded

# Steps to Reproduce

[2022-06-16 08:12] simontol commented on #6653
Hi @alexander-schranz ,
thank you for your reply.
Unfortunately there is no `template-1.1.xsd` file in the schema directory.
Can't find it in the codebase.

[2022-06-16 08:16] remdan opened #6656 "Smart content: Overload when selecting more than 100 images"
| Q | A
| --- | ---
| Sulu Version | 2.4.2
| PHP Version | 7.4
| DB Version | MariaDB 10.3
| Browser Version | Firefox 101.0.1

# Actual Behavior

When I select several 100 files (photos) by Smart content then my server might fail and the form can not be saved.
Cause: for each photo a GET request is made which creates a thumbnail on the server at the first time.

# Expected Behavior

I don't need

[2022-06-16 08:53] remdan opened #6657 "batch delete (all) does not end"
| Q | A
| --- | ---
| Sulu Version | 2.4.2
| PHP Version | 7.4
| DB Version | MariaDB 10.3
| Browser Version | Firefox 101.0.1

# Actual Behavior

If I select multiple files and want to delete them now, the process stops and I have to confirm the operation again.
So the modal remains standing and I just have to click again to complete the process.

it stops because my server starts blocking with 1

[2022-06-20 14:09] niklasnatter commented on #6638
Related issue: https://github.com/sulu/sulu/issues/6436

[2022-06-22 07:52] sebheitzmann commented on #6485
I have tried to change the response of the login in the Symfony Backend, but the login don't honnor the url sended by the login path.
![image](https://user-images.githubusercontent.com/2197902/174974518-855c57c7-a02f-43ea-bc86-a229c88b75b2.png)

It could be possible to just follow the returned url ?

[2022-06-22 08:30] alexander-schranz commented on #6485
Currently not. The frontend itself does always stay on the current "Frontend Route". Something like you did post `/admin/dashboard/` isn't even a route the frontend know. If you visit sulu you will see it is `/admin/#/` while you see for the frontend only the hash part is important and so it is `/`.
But you must know `/` is not the login route `/`, it is the `Search` route but it just shows the Lo

[2022-06-23 09:24] lribi opened #6661 "Using translation keys for template meta information does not work"
| Q | A
| --- | ---
| Sulu Version | 2.4.2
| PHP Version | 8.1.3
| DB Version | MySQL 5.7.36
| Browser Version | Firefox 101.0

# Actual Behavior

When defining an article template, title and info text can be defined as meta information. The same can be done for properties.

For properties it's possible to remove the `lang` attribute and only specify one title or info text. The content is then int

[2022-06-23 13:06] wachterjohannes commented on #6653
@simontol i have taken a look at that - do you have any idea in which version of sulu the `template-1.1.xsd` was available? seems to me that there were never an official release with this XSD. Also on the server we never deployed that intentionally. /cc @alexander-schranz

[2022-06-24 10:57] #3482 closed

[2022-06-24 11:18] alexander-schranz commented on #3482
2FA will be part of #6589 but will requires scheb/2fa to be installed and configured in the project. See docs: https://github.com/sulu/sulu-docs/pull/720

[2022-06-24 11:50] R3dLantern opened #6662 "Media upload from root collection provokes permission error"
| Q | A
| --- | ---
| Sulu Version | 2.4.3
| PHP Version | 8.1.7
| DB Version | MariaDB 10.4.12
| Browser Version | Google Chrome 102.0.5005.115 (64-bit)

# Actual Behavior

When in Media overview ("root collection"): You can trigger the upload process and then proceed to select a collection you are not permitted to reach for the new upload. The result is a HTTP 403 response, however the error mes

[2022-06-24 11:56] R3dLantern commented on #6612
After some research I discovered there was a problem in my custom Admin class, hence the doubled permission buttons. Fixing it returned the view to the state you've screenshotted.

I see. In that case, I will close this.

[2022-06-24 11:56] #6612 closed, assigned to nobody

[2022-06-24 12:52] rogoit opened #6663 "Cypress.IO tests for admin area"
Hello friends,

thx for your open source passion and this perfect CMS. We do a lot of things with it and published about 40 YouTube tutorials. This helps the community a lot. Check out here
https://www.youtube.com/watch?v=grJNikzIvas&list=PLKrKzhBjw2Y_bsIrig7rNLCXgZyYGMRgH

Actual we started to add a new series about Cypress.IO website testing and start with the rocks project. Also we do this on a

[2022-06-27 07:55] martinlagler opened #6665 "External Link page save error, when coming from a different page"
| Q | A
| --- | ---
| Sulu Version | 2.4.2 -->
| PHP Version | 8.1.2 -->
| DB Version | 8.0 -->

# Actual Behavior

When i have a `page_selection` property and the selected page is an external link and I click on the selected page to get to the detail page. If i then change the URL (without a reload) a JS error occurs: `Form.js:342 Uncaught Error: The form ref has not been set! This should not hap

[2022-06-27 12:43] niklasnatter commented on #6627
I think this should be fixed in #6628. Thanks a lot!

[2022-06-27 12:43] #6627 closed, assigned to nobody

[2022-06-27 12:45] niklasnatter commented on #6594
i think this should be fixed in #6591. Please feel free to reopen this issue if I am mistaken!

[2022-06-27 12:45] #6594 closed, assigned to nobody

[2022-06-27 12:51] niklasnatter commented on #6610
Hey, thanks for reporting! I think the crash is not caused by the identical property names, but by the `resource_locator` property. I think the property causes problems when switching the template of a page that is not yet created. I am not sure yet if this happens for al templates or only if the template contains some special properties.

[2022-06-27 14:59] alexander-schranz commented on #6662
Thx for reporting. This is fixed via #6666 and will be part of the next release.

[2022-06-27 14:59] #6662 closed, assigned to nobody

[2022-06-27 15:19] simontol commented on #6653
Hi @wachterjohannes,
our team inherited the Sulu project from another team.
We've upgraded the project from 1.6 to 2.4.
The xsd link started giving error at the start of this month.
I suppose that the file was removed from the server on June 8th.
![immagine](https://user-images.githubusercontent.com/32391/175973659-b97cc03c-a04a-4d97-9eaf-06ac8cb7454c.png)

I dug into the git history and found tha

[2022-06-27 17:09] alexander-schranz commented on #6653
I think you are save to change that templates all to `template-1.0.xsd` I could not find a reference to the `1.1` file in one of old skeletons or standard version and the current version of skeleton still uses 1.0. I think we did falsly versionate it sometimes ago and it was never adjusted correctly. So at current state I think we will keep go with the `1.0` file and you just need adjust your refe

[2022-06-28 08:30] wachterjohannes commented on #6653
@simontol i can only approve what @alexander-schranz said - just change back to 1.0 version. i have no chance to find any reference to the 1.1 version and also in the deployment there was no version 1.1

I will close this issue but if you have problems with it after changing to version 1.0 - feel free to open a new issue

[2022-06-28 08:30] #6653 closed, assigned to nobody

[2022-06-30 08:08] marcelkussin opened #6674 "Add possibility to use current page as default of smart content data source"
# Problem description

The Problem is to achieve that at the moment requires the user to open the smart content data and select the current page as data source.

Thats for minor experienced content creator something they tend to forget very often

# Proposed solution

Maybe a parameter to select the current page as data source as default would be a good choice.

Defaults for children type (by temp

[2022-07-04 08:02] jimmywarting commented on #6460
I only look at typescript as another coffeescript or flow language that one day will be obsolete when javascript gets better and better. in the next 5-10 years there will be another rust like language that overtake typescript
javascript on the other hand is always here to stay and browser will never add typescript support.

[You might not need TypeScript... (syntax)](https://jimmywarting.github.io

[2022-07-04 09:31] alexander-schranz commented on #6460
We are using FlowJS for typesafety and will aslong as JS doesn't provide such things go with FlowJS and hopefully in future with Typescript. I know Typescript can be used with JSDocs instead of inline types (like in your link) but it is limited. Keep in mind this does have zero effect on people using Sulu. So it is more for us internal to have a better tested and static analyzed codebase.

People

[2022-07-07 09:22] alexander-schranz opened #6684 "Improve the UI/UX of the Teaser Selection Edit View"
# Problem description

Improve the UI/UX of the Teaser Selection Edit View. Currently the teaser selection feels like a foreign component which does not match our UI/UX standards.

![Bildschirmfoto 2022-07-07 um 11 17 41](https://user-images.githubusercontent.com/1698337/177738859-18c5e835-e736-4cca-81ff-260d22fab00d.png)

# Proposed solution

Task for our UI/UX expert to improve the design and wo

[2022-07-07 12:00] luca-rath opened #6686 "External links and shadow pages should have resource_locator field in settings tab"
# Problem description

Currently it's hard for the content manager to change the route path of a page of type external link or of a shadow page.

The necessary steps are:
- Change page type to `Content` or disable shadow page
- Change route path in `Details` tab
- Change page type back to `External link` or enable shadow page again

# Proposed solution

Add `resource_locator` property to `Settings

[2022-07-07 13:27] alexander-schranz commented on #6686
Why I'm first a little bit not happy about External Page (as it should not have internal url). It make sense when it is a parent page. For all cases "Internal", "External", "Shadow", it make sense that I can remove history urls. So yeah the easiest way is `title` and `url` (including removing history urls) is always able to be changed.

[2022-07-07 14:43] #6436 closed, assigned to nobody

[2022-07-10 19:01] alexander-schranz commented on #6343
I did have a look today at webpack 5 update. But as it is a breaking change as webpack does not longer polyfill node libraries and make so some dependency crash I decided that we will move the webpack update to Sulu 3.0. Currenty state can be seen here: https://github.com/sulu/sulu/pull/6690. While there are workarounds about this, it would make still projects crash depending on such libraries and

[2022-07-11 11:54] niklasnatter commented on #6610
Fixed in #6667

[2022-07-11 11:54] #6610 closed, assigned to nobody

[2022-07-11 12:22] niklasnatter commented on #6686
I think this is related to (or a duplicate of?) https://github.com/sulu/sulu/issues/2314.

[2022-07-11 12:31] alexander-schranz commented on #6686
Yes it is the same. We should add the information to the other issue.

[2022-07-11 12:31] #6686 closed, assigned to nobody

[2022-07-12 09:59] #6661 closed, assigned to nobody

[2022-07-13 14:00] #6638 closed, assigned to niklasnatter

[2022-07-13 14:08] alexander-schranz commented on #6674
It would be an interesting feature which could improve the user experience.

It is sadly not easy to achieve. When creating a new page there is not yet a `uuid` of the page and so the page can not link to something which does not exist.

When the page is edited it default values should not overwrite exist values else I could never have a empty smart content which make sense when its optional. Also

[2022-07-16 15:35] mamazu opened #6706 "Webspace name doesn't properly encode all characters"
| Q | A
| --- | ---
| Sulu Version | 2.5.0
| PHP Version | 8.1.7
| DB Version | mysql-server:8.0
| Browser Version | 101.0.1

# Actual Behavior

When I configure a webspace name to contain special characters. Some of the special characters like the umlauts work but things like the `'` do not encode correctly.
![webspace](https://user-images.githubusercontent.com/14860264/179361435-3ec5859d-caa3-46

[2022-07-16 20:47] mamazu commented on #6656
This might also be related to #6646 with missing pagination in some elements

[2022-07-17 09:09] StaffNowa commented on #6556
Good job :)

[2022-07-18 09:10] alexander-schranz commented on #6556
@StaffNowa Thx. Even could use your work from the [security.encoder_factory => security.password_hasher_factory](https://github.com/sulu/sulu/pull/6562/commits) pull request in mine :)

[2022-07-19 19:38] mamazu commented on #6646
Maybe something like this as a design suggestion:

![Untitled](https://user-images.githubusercontent.com/14860264/179834230-44ac390d-b1fe-46c2-99da-f010107e1a0f.png)

In the XML you could configure it like this with 10 being the default
[code]

[2022-07-20 14:44] remdan commented on #6657
I have noticed a different behavior when deleting an entire folder compared to deleting via batch:

![Bildschirmfoto 2022-07-20 um 14 53 43](https://user-images.githubusercontent.com/5031692/180009101-daf1e814-c167-4166-b5b1-486ae52ed934.png)
![Bildschirmfoto 2022-07-20 um 14 53 58](https://user-images.githubusercontent.com/5031692/180009155-d9e8ede7-47d5-40e5-9ffc-1c833ca7fd42.png)

This is follo

[2022-07-21 09:10] simontol opened #6716 "Save button not disabled after save and publish"
| Q | A
| --- | ---
| Sulu Version | 2.4.2
| PHP Version | 8.1.8
| DB Version | 5.7.37
| Browser Version | Chrome 103.0  Firefox 102.0

# Actual Behavior
Sometimes when saving a page after editing it, the save button is not disabled and it seems that there are some pending unsaved changes.
If I click on back button, the "Leave form? Changes you made will be not saved" modal is shown.
It seems to h

[2022-07-21 16:35] alexander-schranz commented on #6716
That sounds like a bug in the `Texteditor` does it appears also when you have just a template with text editor, title and url. The save button should only be activated if something is changed so the response from the server could change the data but also a text editor field type itself could change something (do you have none core ckeditor plugins installed).

So do you use a custom build or do yo

[2022-07-21 17:17] simontol commented on #6716
Hi @alexander-schranz ,
Can't upgrade to 2.5.0 because we're using SuluForm bundle and 2.5 is not released yet.
Will try to upgrade to 2.4.4

[2022-07-21 17:24] alexander-schranz commented on #6716
@simontol thx for testing. Do not forget to update the admin build ;) https://docs.sulu.io/en/latest/upgrades/upgrade-2.x.html

PS: we try to update all bundles the next week so we can release them in 2 weeks with the updated Sulu Demo.

[2022-07-22 09:51] mamazu commented on #6706
Should be fixed™.

[2022-07-22 09:51] #6706 closed, assigned to nobody

[2022-07-23 09:58] remdan opened #6718 "Add option to select 'inline' for a media internal link"
# Problem description

Currently there is only one fixed way to set the disposition_type, i.e. for the whole webspace
https://docs.sulu.io/en/2.5/reference/twig-extensions/functions/sulu_get_media_url.html?highlight=pdf#sulu-get-media-url

but I think this would be great feature, if we can also decide situative if a pdf is shown in a new tab or only forced as download

![Bildschirmfoto 2022-07-23

[2022-07-26 08:24] alexander-schranz commented on #6718
Thx for the feature request. I'm little bit split in two if disposition type is what we should support. Or if we should go with supporting the [`download`](https://www.w3schools.com/tags/att_a_download.asp) attribute which also work in headless way or for external storages 🤔 .

[2022-07-27 08:28] tstauer opened #6724 "Admin backend crashes when setting localStorage with non JSON values"
| Q | A
| --- | ---
| Sulu Version | 2.5.0
| PHP Version | 8.0.20
| DB Version | mysql  Ver 14.14 Distrib 5.7.38
| Browser Version | Firefox 91.11.0esr (64-Bit)
# Actual Behavior

The admin backend crashes in the file clipboard.js when trying Json.parse on the localStorage content.
Action buttons like saving in the backend are not working due to the JavaScript error.

The error got introduced in t

[2022-07-27 14:46] lucacolombo4 opened #6728 "ImageMap in admin not works if you use custom admin path"
| Q | A
| --- | ---
| Sulu Version | 2.4.3
| PHP Version | 8.0.16
| DB Version |  MariaDB 10.7
| Browser Version | Chrome 103

# Actual Behavior

If you use a custom admin path the ImageMap content type not shows image in the admin interface due to the wrong url to the image.

# Expected Behavior

ImageMap works with custom admin path

# Steps to Reproduce

1 - change admin path following sulu-dem

[2022-07-27 14:58] alexander-schranz commented on #6728
@lucacolombo4 good catch 👍 . This should definitly use the fos js routing library to generate the url.

Do you want to create a PR for this for the 2.4 branch: You can find an example here: https://github.com/sulu/sulu/blob/08863981d9e607dd1432db68eec2dac710732f74/src/Sulu/Bundle/AdminBundle/Resources/js/stores/metadataStore/metadataStore.js#L30 and you find the route name here: https://github.com

[2022-07-27 15:44] lucacolombo4 commented on #6728
Thank you Alex, i followed your indications and it works.
You have to modify also this file: [vendor/sulu/sulu/src/Sulu/Bundle/MediaBundle/DependencyInjection/SuluMediaExtension.php](https://github.com/sulu/sulu/blob/5755c551dcd69a91f6ef05f7148408f49b849b87/src/Sulu/Bundle/MediaBundle/DependencyInjection/SuluMediaExtension.php#L108)
adding 'sulu_media.redirect' to 'routes_to_expose'

[2022-07-28 13:48] alexander-schranz commented on #6444
Another strange tag I found is the `label` around the `CharacterCount`. I think it should just be a `span` or `fragment` as the label without a `for` should in my case not exist.

[2022-07-28 14:25] remdan commented on #6718
I understand your input... [MDN Web Docs](https://developer.mozilla.org/de/docs/Web/HTML/Element/a#attr-download) has interesting Inputs about it....

download-attribute will probably be easier and faster to implement.

Content-Disposition can be done with a query paramter over the url and handling in the controller... or is there a other way?

[2022-07-28 16:43] alexander-schranz commented on #6728
fixed in #6729

[2022-07-28 16:43] #6728 closed, assigned to nobody

[2022-07-30 13:40] remdan opened #6739 "Use country selection in Location Content Type"
# Problem description

The country is given in the current raw format like the ISO-Code but it's possible to change to everything which can be error-prone.

![Bildschirmfoto 2022-07-30 um 15 38 37](https://user-images.githubusercontent.com/5031692/181916959-bc3b8de6-8360-4f0a-a546-5be94e3a5282.png)

# Proposed solution

Use the same dropdown like in the address form for a contact:

![Bildschirmfot

[2022-07-30 14:00] remdan opened #6740 "Use Geocoder PHP in LocationBundle"
# Problem description

I was just wondering why the LocationBundle does not use an existing Geolocator library like "Geocoder PHP"?

Possibly that is worth considering...
[The most featured Geocoder library written in PHP](https://geocoder-php.org/)

# Proposed solution

[existing Symfony integration](https://github.com/geocoder-php/BazingaGeocoderBundle)

[2022-08-01 10:06] #6724 closed, assigned to nobody

[2022-08-01 10:12] alexander-schranz commented on #6724
Fixed in #6749 and will be part of the next release. @tstauer Thx for report!

[2022-08-02 09:48] marek5816 opened #6761 "Add BlurHash support"
# Problem description

Page loading time is big factor nowadays, mainly on mobile devices, and the images are making biggest impact on page loading time

# Proposed solution

Preloading small version of image make good UX, when user see that there is some image, so user can start using page (because also text/html is already loaded) while the full versions of images are loading in background
Blurh

[2022-08-02 20:28] alexander-schranz commented on #6761
@marek5816 I like the idea and did already some time ago stumble over the blurhash algorithm. I'm not yet sure about the PHP Implementation. Think from ourside it only would make sense to generate the `Hash` and provide the `Hash` as a property of the media so a JS implementation can use it to display an image while the other image is loading.

Actually this seems not be too much work. See example

[2022-08-03 08:46] cpoint-eu opened #6763 "Missing translations in admin search dropdown"
| Q | A
| --- | ---
| Sulu Version | 2.5
| PHP Version | 8.1.6

# Actual Behavior

Admin search dropdown is not translated to user locale.

# Possible Solutions

Pass locale query parameter to URL should solve this issue:

Current url:
/admin/search/indexes?flat=true

Possible solution:
/admin/search/indexes?flat=true&locale=de

[2022-08-03 08:52] alexander-schranz commented on #6763
I think the search is unlocalized by design and list content of all localizations, is that not the state in your case? The "result" will be shown in different "content locales". Currently there is no filter for a specific "locale" or any kind of filter.

The locale which the user defined in its profile is the `System Locale` which only represnet the `Labels`, `Navigation`, ... Content is always in

[2022-08-03 09:03] cpoint-eu commented on #6763
I don't mean the search result but the text translations in the dropdown menu:

All - translated correctly
Categories - always in english
Snippets - always in english
your.custom.label - untranslated (if you dont have en translations)

[2022-08-03 09:12] alexander-schranz commented on #6763
Okay understanding. Mostly this kind of issues screenshots helps. I will add one for if somebody want to tackle it:

<img width="312" alt="Bildschirmfoto 2022-08-03 um 11 05 14" src="https://user-images.githubusercontent.com/1698337/182569920-addc72af-b18f-4b64-9576-17b9b6f6b0d2.png">

I think the issue is somewhere here: https://github.com/sulu/sulu/blob/c4867cbe8b9f43e03fd2488c3156c0805c998858/s

[2022-08-03 16:53] wimvds commented on #4278
I just did a proof of concept Admin (with a hardcoded snippet type) that just requires a small hack in the StructureFormMetadataloader to allow overrides of the defaultType (see Slack : https://sulu-io.slack.com/files/U6K5TE15X/F03S0G5GGGN/iconadmin.php).

I think based on that PoC it should be relatively easy to add all snippet types as subitem below the "Snippets" menu item, so each type can hav

[2022-08-04 12:33] spackmat commented on #6381
Sulu 2.5 introduced a very TYPO3-ish way to copy/paste blocks that me and my content managers very much appreciate. Thank you, we missed that before! But one aspect is still missing here: Referencing blocks from other pages instead of copy/move them. As described in part here. That is a great feature of TYPO3 as @mavuio already pointed out. Me and my content managers are used to the thought "well,

[2022-08-04 12:58] wimvds commented on #4278
I experimented a bit today and tried both approaches.

With tabs :
![snippets-tabs](https://user-images.githubusercontent.com/777114/182852635-084f86d0-af5a-4311-945d-fdbc0029688f.png)

With subnavigation :
![snippets-nav](https://user-images.githubusercontent.com/777114/182852662-a883aad3-79cc-4b8f-9c08-f7ac11d696c2.png)

I personally like the subnavigation better as with the tabs the menu bar ca

[2022-08-04 13:36] alexander-schranz commented on #6381
@spackmat Thx for your feedback and thx for your interest in this issue.

First I want to tell you the current state. To share content between 2 pages Sulu introduces in its early versions "Snippets" and a content manager can create snippets and a content manager can embed them via "snippet_selection" and "single_snippet_selection".

This issue is about what you did mention in your comment and sho

[2022-08-04 13:59] spackmat commented on #6381
I don't fully understand the problem, because from my understanding that would affect the new cut/copy/paste feature as well. I mean, the problem you described that it is unclear if a certain block type is the same across different page templates, should also apply to that feature and is somehow solved there. Can't inserting a special reference block for loading a certain block from another page (

[2022-08-04 14:13] alexander-schranz commented on #6381
The cut/copy/paste function is not effected. If it can map the data it does map the data if not it will use the "default type" and if the default type has some fields in it it can map them and all others are ignored and the content manager paste things and that pasted things the content manager will click save and if the data is not valid he need to change or add something if there are not all req

[2022-08-04 14:19] spackmat commented on #6381
Now I see, thanks! Interesting approach for the implementation of the paste feature BTW.

[2022-08-08 11:35] marek5816 commented on #6761
Probably will give a try to implement it in next few weeks

[2022-08-09 10:09] marek5816 opened #6787 "Make return arrow direct back to page editing when renewing image"
# Problem description

When I am editing page and I click on image, because I need to update it with newer version, every time I click on back arrow, it return me to media not the page that I am editing.

# Proposed solution

It would be nice if it redirect user back to page editing, because every time I need to make unnecessary clicks to get back to editing, if user would like to work more with m

[2022-08-09 10:35] alexander-schranz commented on #6787
@marek5816 The arrow button in the Sulu UI will at current state always navigate to the "overview" or the defined parent route of that view.
At current state the easiest way to get back to the page you did come from by just click your Browsers "Back Button", which will navigate you back to the page you did come from.

[2022-08-09 10:49] #6787 closed, assigned to nobody

[2022-08-10 10:23] sebheitzmann opened #6791 "Get rid of doctrine/cache dependency"
https://github.com/sulu/sulu/blob/c4867cbe8b9f43e03fd2488c3156c0805c998858/src/Sulu/Bundle/CoreBundle/Resources/config/cache.xml#L7

The twig extension use a Memoize class that cache all the data in an Doctrine array cache. The doctrine cache is deprecated.

It's usefull to cache this info in the context of website with user session. The http cache is useless and the default cache has a lifetime o

[2022-08-10 10:24] sebheitzmann commented on #6791
my page render time is about 7~10 s just because the navigationExtension don't really cache the informations.

[2022-08-10 12:11] alexander-schranz commented on #6791
The cache is internal for the current request so multiple calls of the twig extension with the same values don't trigger the database everytime. If you only do it once you should not have too much a problem as the ArrayCache is very fast.

We are aware that the doctrine/cache is deprecated, but on ourside its an easy fix, there are still dependencies like phpcr/jackalope which depends on the doctr

[2022-08-10 12:22] sebheitzmann commented on #6791
thank you, and sorry for the missed template.
I wil try the navigation cache, but the problem is also an the content and structure data which use a lot of request.

[2022-08-10 12:43] alexander-schranz commented on #6791
Not sure what you mean with `structure data which use a lot of reques` if you are using `sulu_content_load` you should definitly avoid it. It should never be used without selecting specific properties as documented in the docs: https://docs.sulu.io/en/2.5/reference/twig-extensions/functions/sulu_content_load.html
And doing it inside a loop is also bad thing which should be avoided.

[2022-08-10 12:59] sebheitzmann commented on #6791
thanks for the tips but why can't this be cached more than in the request ?

[2022-08-10 13:21] alexander-schranz commented on #6791
Because it is a object.  And the object is not serializeable and can not be unserialized the way it is expected.
In the example navigation cache we are doing this by generating an array with the properties we require in our project: https://gist.github.com/alexander-schranz/6763148880e60410ed77894ccb585802#file-navigationtwigextension-php-L109
There is currently no general solution as you need to

[2022-08-16 07:11] alexander-schranz commented on #6740
We currently as I know only have providers in it which we can directly call. This did at current state made the maintainance for us really low as we don't depend on third party library which mostly we need to make sure support latest PHP or Symfony Versions. We must also say that the LocationBundle is not used a lot most are happy with the OpenStreetMap providers nominatim.

But if you say it is w

[2022-08-16 07:22] alexander-schranz commented on #6307
@ampaze the new RFC9213 will maybe change this in the future. https://github.com/symfony/symfony/issues/47288

[2022-08-16 09:29] alexander-schranz commented on #6739
@remdan I agree that would be better but mostly this is more a "Backward compatibility" issue, I think that is why it wasn't changed yet. So the main task here would be how to provide a migration, for custom forms and pages, articles, snippets, ...

[2022-08-17 09:24] friemt opened #6796 "Readme mentions wrong versions for requirements"
| Q | A
| --- | ---
| Sulu Version | 2.5
| PHP Version | NA
| DB Version | NA
| Browser Version | NA

# Actual Behavior

`README.md` on `sulu/sulu` and `sulu/skeleton` lists the wrong requirements despite the `composer.json` dependencies being set to `"php": "^8.0 || ^8.1"` and `"symfony/framework-bundle": "^5.4 || ^6.0"`.

Sulu requires a PHP version higher or equal to 7.2 and is compatible with

[2022-08-17 09:37] friemt opened #6797 "Composer platform check does not list all requirements"
| Q | A
| --- | ---
| Sulu Version | 2.5
| PHP Version | NA
| DB Version | NA
| Browser Version | NA

# Actual Behavior

Composers relatively new `check-platform-reqs` does not list the *required*  extensions `intl`, `fileinfo`, `gd`, `imagick` or `vips`.

[code]

# Expected Behavior

The required extensions are listed by composers check.

# Steps to Reproduce

* Create `sulu/skeleton` project
* R

[2022-08-17 10:51] alexander-schranz commented on #6796
We are currently still supporting Symfony 4.4 and and PHP 7.2 in Sulu 2.4, which is actively maintained. You can install it via `composer create-project sulu/skeleton:"2.4.*"`. But if you start a new project we recommend the usage of PHP 8.1 and Sulu 2.5 as Sulu 2.4 end of life is end of year. See our [Direction](https://sulu.io/direction) about our Release Cycle.

[2022-08-17 10:57] alexander-schranz commented on #6797
Thank you for the feedback.

I'm not sure about using `suggest` to provide "or" conditions of packages. Think it make a lot of noise and maybe some people think they need then all extension `gd`, `vips` and `imagine` to run all features of sulu which isn't the case. Would need to discuss this. Tested it I think `composer check-platform-reqs` does not include suggestions, so maybe that should be th

[2022-08-17 11:38] friemt commented on #6797
In that case maybe change the wording in the documentation. Currently `intl` and `fileinfo` are listed as mandatory, which they may not be.

Tried adding extensions to `suggest` and it doesn't seem to show in the list, should have checked earlier, sorry. So it will have to go to `require` if necessary.

[2022-08-17 11:40] friemt commented on #6796
Okay, shouldn't the readme of version 2.5 list the actual requirements for version 2.5? Am I missing something?

[2022-08-17 11:45] alexander-schranz commented on #6796
@friemt I decided to keep it when releasing 2.5 as it is more a "Landingpage README", until we really drop support for it because Symfony 4.4 is also still a supported LTS version. There are currently also still discussion if we support 2.4 longer then other minor releases, because of such things.

[2022-08-17 11:48] friemt commented on #6796
Ok, thanks for the clarification.

[2022-08-17 11:48] #6796 closed, assigned to nobody

[2022-08-17 14:09] remdan opened #6798 "add categories and tags to link type"
# Problem description

It is currently not possible to generate a link that also refers to a corresponding category or tag... for example you have a link in a footer that points to a site with a [SmartContent](https://docs.sulu.io/en/2.5/reference/content-types/smart_content.html).

Yes, it's possible by query, but you have to know the id from the category...
![](https://user-images.githubusercont

[2022-08-17 18:11] alexander-schranz commented on #6798
I don't think we will add such a features to the `link` content type. As the focus on the link content type is creating a link like `<sulu-link>` and `<a href>` not more. What makes maybe in your case more sense is using the `teaser_selection` which is extendable by overwriting such services. Currently there is no `single_teaser_selection` but maybe that would make to make this easier in future.

[2022-08-18 08:39] alexander-schranz commented on #3729
A good library which wraps some optimizer can be found here: https://github.com/spatie/image-optimizer. Spatie provides widely use libraries in the laravel eco system and they are mostly good maintained and good quality of code.

[2022-08-19 07:56] remdan commented on #6798
thanks for your feedback... now I understand the background and usecase of the two types better.

[2022-08-19 07:59] remdan commented on #6798
teaser_selection is not a option in the moment I think... the direction of progress is not yet completely clear to me, is in a state of upheaval ([many open tickets](https://github.com/sulu/sulu/issues?q=is%3Aissue+is%3Aopen+teaser)).

[2022-08-19 08:00] #6798 closed, assigned to nobody

[2022-08-20 08:44] ampaze commented on #6307
Thanks for the heads up.

[2022-08-23 08:27] alexander-schranz opened #6799 "Convert Enzyme to Testing Library"
# Problem description

Enzyme is not longer actively developed and not compatible with react 18 so we need to convert our test cases.

Related issue: https://github.com/sulu/sulu/issues/6343

# Proposed solution

Convert them step by step.

### See https://github.com/sulu/sulu/pull/6711 when tackling a class

# Status

<details>
   <summary>Status Script</summary>

One liner to run it directly:

[

[2022-08-23 14:53] alexander-schranz commented on #6343
Currently `enzyme` is one of the blocking libraries and we are currently working on the migration to `react-testing-library`: Issue https://github.com/sulu/sulu/issues/6799

[2022-08-25 20:56] mario-fehr opened #6805 "Add a small docker setup for developing and testing bundles locally."
It would be nice if a small docker setup for developing and testing bundles, like ArticleBundle, FormBundle, etc, locally. This would for example make running the test locally mutch easier.

[2022-08-26 10:00] oprichnik opened #6806 "Temporarily disable preview in admin"
# Problem description

When in a page with a lot of content, the preview is refreshing every time i'm typing something on the keyboard.

This makes impossible writing something smoothly because of excessive lags.

# Proposed solution

- Automatic sensor disabling preview when typing on the keyboard
- Setting to disable temporarily the automatic preview refresh

[2022-09-01 13:55] llefort001 opened #6808 "Incompatibility with gedmo/doctrine-extensions 3.7.0"
| Q | A
| --- | ---
| Sulu Version | Tested with 2.4.2, 2.4.5
| PHP Version | 8.0.22
| DB Version | mariadb-10.3.34
| Browser Version | Chrome 105.0.5195.52

# Actual Behavior

Error 500 :
`Uncaught Exception: An exception has been thrown during the rendering of a template ("Tree object class: App\Entity\Category must have tree metadata at this point")`

Happens after extending sulu Category entit

[2022-09-01 18:56] alexander-schranz commented on #6808
@llefort001 Thx for report as it seems to work on the latest 3.8 version we should just add a conflict to `3.7` to the conflict section of your `composer.json`: https://github.com/sulu/sulu/blob/2.4/composer.json#L143

Do you want to create a pull request for the 2.4 branch adding this conflict?

[2022-09-01 19:10] alexander-schranz commented on #6806
That sounds strange there is already some debouncing active which should avoid to many requests and refreshing. Current debounce rate is hardcoded to 250ms: https://github.com/sulu/sulu/blob/e8a62f408dd15e1b89b9bfff63dda2d89cc3597e/src/Sulu/Bundle/PreviewBundle/Resources/js/containers/Preview/Preview.js#L26.
What could also be the reason for the `lags` is custom JS which maybe leaks memory everyti

[2022-09-01 19:20] alexander-schranz commented on #6805
I'm fine with this. Do you want to target this issue and add `docker-compose.yml` and `docker-compose.override.yml` like in the skeleton to the `tests/Application` directory of the bundles. Article Bundle should also include elasticsearch, have a look for this at the [demo](https://github.com/sulu/sulu-demo/blob/7998b6a133183a1369bfe5dc2b11e4d0f43658fb/docker-compose.yml#L19-L25).

[2022-09-03 11:55] remdan opened #6809 "add more flexibility for naming"
# Problem description

When I create a template for a new page I usually set a property for the title.
[Sulu - Docs](https://docs.sulu.io/en/2.5/reference/content-types/index.html?highlight=text_line)

[code]
This title is now used for all sorts of things like admin (backend) naming:

![sulu_backend_tree](https://user-images.githubusercontent.com/5031692/188267325-cc65b8cd-3ddc-470b-8213-bbd366192

[2022-09-06 08:52] mario-fehr commented on #6805
@alexander-schranz I will target this issue ASAP I find some time.

[2022-09-07 08:18] alexander-schranz commented on #6809
There is currently nothing planned into this direction. Sure navigation and breadcrumb should be more flexible to read other properties. But currently they are limited to title and excerpt data. Best practice is that they are here the `title` property of the details tab as that is what is common short title and shown in the navigation.

It is common in one of our partner that they create a `pageTi

[2022-09-08 13:13] alexander-schranz commented on #6808
fixed in #6810

[2022-09-08 13:13] #6808 closed, assigned to nobody

[2022-09-17 13:39] oprichnik commented on #6806
I updated to the last version of Sulu and this is working as expected by now.

[2022-09-17 13:39] #6806 closed, assigned to nobody

[2022-09-20 09:52] misterdoak opened #6820 "Override colors.scss"
| Q | A
| --- | ---
| Sulu Version | 2.5.1
| PHP Version | 7.4

Probably not a bug but strange behavior

# Actual Behavior

I try to override color.scss (sulu-admin-bundle/containers/Application/colors.scss) to customize backoffice theme.
According to this PR [#75](https://github.com/sulu/sulu-demo/pull/75) I did that in my webpack.config.js :
`
const colorsCssPath = path.resolve(env.node_modules_

[2022-09-20 10:25] veewee commented on #5809
Hello,

This would be nice!
Symfony provides a [RFC 7807](https://tools.ietf.org/html/rfc7807) format for violations constraints in it's serializer component:

[code]

See:
* Format: https://github.com/symfony/serializer/blob/6.1/Tests/Normalizer/ConstraintViolationListNormalizerTest.php#L47-L68
* Normalizer: https://github.com/symfony/serializer/blob/6.1/Normalizer/ConstraintViolationListNormaliz

[2022-09-21 07:54] AdamReece-WebBox opened #6821 "Extending Sulu base entities is not compatible with Doctrine cascade operations"
| Q | A
| --- | ---
| Sulu Version | 2.2.19
| PHP Version | 8.0.23
| DB Version | MariaDB 10.0.3
| Browser Version | Chrome 100something

We're currently extending the Sulu `User` entity to add extra properties to it. One of these is a unidirectional one-to-one with another entity `Person` with our `User` being the owning side.

User class:
[code]
(The `Person` entity is optional and typically onl

[2022-09-21 08:48] luca-rath commented on #6821
Hi, if you delete the `Contact` via the administration interface, the `User` entity is deleted by the database itself, because of the `ON DELETE CASCADE`. So doctrine doesn't know, that the `User` has been deleted, and therefore the doctrine `cascade={"remove"}` is not taken into account. You could fix this by changing changing the owning side of your relation to `Person::$user` (so the `app_perso

[2022-09-21 09:50] AdamReece-WebBox commented on #6821
Thanks for your response. That would indeed explain why the cascade operations do not apply between `User` and `Person`. It also explains another point I've just remembered whereby my database event subscriber only ever heard the `Contact` being removed but never the `User`. (This is why I tried to use `UserRepository::findOneByContact()` to pick up a `User` from a `Contact`.)

Was there a specifi

[2022-09-21 10:33] alexander-schranz commented on #6821
We are using database cascading because of performance reasons and consistents.

I recommend in your usecase to go instead of using `se_users.person_id` to set the relation on the other hand to go on `app_person.user_id` and set so also ON DELETE CASCADE on that table. From PHP part it still is the same you can access the person from the user and the user from the person but you don't need to figh

[2022-09-21 15:00] manibi opened #6822 "App Secret is stored visible in .env file"
| Q | A
| --- | ---
| Sulu Version |
| PHP Version |
| DB Version |
| Browser Version |

# Actual Behavior
The value of APP_SECRET is visible in the .env file and can easily be found with dorking.

# Expected Behavior
No openly visible variable values in .env file

# Steps to Reproduce
Look into https://github.com/sulu/sulu/blob/2.5/.env row 3

# Possible Solutions
Remove visible variable values f

[2022-09-21 15:33] luca-rath commented on #6822
This repository is never used in production directly. Instead, a new project is created using the `sulu/skeleton` repository, which does not have a `APP_SECRET` set and a new `APP_SECRET` is generated automatically when creating the project and written to the `.env.local` file. The `.gitignore` file contains `.env.local`, therefore that secret is never being pushed

[2022-09-21 15:33] #6822 closed, assigned to nobody

[2022-09-26 10:58] wachterjohannes opened #6824 "Checkmark in Collection-Selection"
# Problem description

The selection of the collection to upload an image seems no to be intuitive. To see that you have to click on the checkmark you have to hover over it and can be easily overlooked.

<img width="1424" alt="image" src="https://user-images.githubusercontent.com/1464615/192259345-d843dc67-ba0f-4620-bb55-7892e03dbf73.png">

[2022-09-26 13:45] alexander-schranz commented on #6824
This problem exist in all kind of lists which make usage of Sulu via touch devices a problem:

<img width="1350" alt="Bildschirmfoto 2022-09-26 um 15 45 21" src="https://user-images.githubusercontent.com/1698337/192292786-2ec4b755-15ee-4e30-86e3-535dadc3f48f.png">

[2022-09-26 14:46] niklasnatter commented on #6820
Hey,
unfortunately I think overwriting the `colors.scss` in the webpack configuration will not work because the file is imported inside of `.scss` files and therefore the import is resolved by the `postcss-import` package: https://github.com/postcss/postcss-import

The `postcss-import` package has a `resolve` options that allows you to overwrite how imports are resolved. We used the following conf

[2022-09-28 09:33] Jupi007 opened #6827 "Accents in webspace name render unicode in fulltext"
| Q | A
| --- | ---
| Sulu Version | 2.5.1
| PHP Version | 8.1
| DB Version | MariaDB 10.7.3
| Browser Version | Firefox 105.0.1

# Actual Behavior

Using accents in the webspace name, render character unicode in fulltext:

![Capture d’écran du 2022-09-28 11-12-27](https://user-images.githubusercontent.com/36476595/192740319-8c6a6d95-eeaf-48e8-a6bd-c4132e4cddb1.png)
**_Sulu 2.5.1_**

# Expected Be

[2022-09-28 09:42] alexander-schranz commented on #6827
Thx for report this should not happen. I think @mamazu did change here something in https://github.com/sulu/sulu/pull/6714. I think here some flags for `json_encode` are not correct and need to be added.

[2022-09-28 10:02] Jupi007 commented on #6827
You're right, it comes from this:

https://github.com/sulu/sulu/pull/6714/files#diff-f4fe3c2e77f45c284b1108287baa7cda92cd8518c448ec85b579e71eee4e7099L35

If I revert it, the problem disappear.

[2022-09-28 10:13] alexander-schranz commented on #6827
@Jupi007 we can not revert it as it solve another problem. We should just use the correct flags for `json_encode` to avoid the `\u00e9`. Fast research it can be achieved via the following flag: https://3v4l.org/aCd1K. Do you want to create a pull request for the `2.4` branch here.

[2022-09-28 10:21] Jupi007 commented on #6827
Sorry, I didn't mean that this should be reverted :D
Just, you are right it comes from here, as it disappear when I revert it.

I also was searching a solution and I found the same one as you.
Define this flag fix the problem:

[code]

With pleasure!

[2022-09-28 13:52] alexander-schranz commented on #6827
fixed in #6828 and will be part of the next releases

[2022-09-28 13:52] #6827 closed, assigned to nobody

[2022-09-28 14:29] alexander-schranz commented on #6525
This was fixed in https://github.com/sulu/sulu/pull/6648.

[2022-09-28 14:29] #6525 closed, assigned to nobody

[2022-09-28 18:07] Jupi007 opened #6830 "Add dark theme support to the admin"
# Problem description

I personally always switch my system to a dark theme at night.
More and more websites are now supporting this feature, and I always implement a dark theme on my projects.
I'd like to build a large part of my next ones using Sulu, and the transition between the public part and the admin is a bit eye hurting at night in my opinion.

# Proposed solution

I would love to see the

[2022-09-28 18:24] alexander-schranz commented on #6830
We are very strict about the design of the Sulu Admin. It would be first needed to be tackled by our UI/UX experts but as there are more important tasks then a dark theme
currently there will be not soon a dark theme provided for the Sulu Admin.

I personally also not a big fan of this kind of providing dark or light themes to a software but not tackling something more specific kind of things like

[2022-09-28 18:44] Jupi007 commented on #6830
No problem, I totally understand your position :)

Thanks, but I think this wouldn't work, as I search to have both light/dark themes and let the browser switch to the best one depending on the user choice.
Unless copy and rewrite a large part of your scss, I don't think it would be easily doable.

Well on a first look, I think use root css vars for all that is related to colors would allow a grea

[2022-09-28 23:19] alexander-schranz commented on #6830
Yeah maybe the first step could be convert existing colors to css variables e.g.:

Something like:

[code]

Think this way it should not be a bc break for custom modules using the scss variables. So we could make things step by step into this direction.

[2022-09-29 07:56] wimvds opened #6831 "Translation bug in preview (snippets and smart content)"
| Q | A
| --- | ---
| Sulu Version | 2.4+
| PHP Version | 7.4.30
| DB Version | MySQL 5.7.39
| Browser Version | Chrome 105.0.5195.125 / Firefox 105.0.1

# Actual Behavior

When you edit a page in the admin and toggle the language via the dropdown in the edit window, the snippets and smart content in the preview will keep the original language you opened the page in, instead of switching to the ne

[2022-09-29 09:37] Jupi007 commented on #6830
Exactly.
If you don't use any color transformation in modules (like `opacity`, `lighten`...), it should work.

Then, project extended themes could do something like:

[code]

_Awaiting semantic named vars, because color names will have no more sense in this example._

Btw, if you go in this direction with css vars, it wouldn't be a big deal to add dark theme (or some high contrast mode) support to

[2022-09-29 10:19] alexander-schranz commented on #6830
@Jupi007

We are using postcss and only a limited feature set of scss. Nesting, simple-vars, the only things we need to check is the usage of `rgba` via the [`postcss-hexrgba`](https://github.com/madeleineostoja/postcss-hexrgba) plugin. But yeah that would be needed to be checked how we could achieve this.

I know tailwind uses here `background: rgba(var(--color-primary-500),0.5)`. But the colors

[2022-09-29 11:00] Jupi007 commented on #6830
Hmm, indeed I see you are using a lot of `rgba` and I don't see how you could easily get rid of them, because most are used for shadows and disabled stuff, without add a lot of complexity to the color palette.

You could do something like this:

[code]

But this will break bc, as the color format must follow a precise pattern which isn't compatible with the older one.
And I don't think that a post

[2022-09-29 13:27] alexander-schranz opened #6832 "System Pages"
# Problem description

After some discussion with @friemt. I got an idea about making "Special Sites" like Logins, Registration, ... managable by the Content Manager. I would think Sulu could benifit from something like `System Pages`. A system page is something which is example a `registration` or `login` page. This page has an already defined route and can just by the content manager be filled w

[2022-09-29 17:00] NeuralClone opened #6833 "Anonymous roles always granted access to media when webspace security system is defined"
| Q | A
| --- | ---
| Sulu Version | 2.3 or higher
| Symfony | 5.3 or higher
| PHP Version | 7.2 or higher
| DB Version | N/A
| Browser Version | N/A

# Actual Behavior

If there's a security system configured for a webspace and the anonymous role for that system is denied access to a media collection, access is still always granted if a user knows the download routes for the files in the collecti

[2022-09-29 17:56] alexander-schranz commented on #6833
Did you setup a complete security system? Because justpermission-check is not enough to make this work.

Can you check the following documentation: https://docs.sulu.io/en/2.5/cookbook/user-context-caching.html

And if possible create a reproducable repository if it does not work for you.

[2022-09-29 19:06] NeuralClone commented on #6833
I also enabled user context caching as described in the documentation and somehow forgot to include it above. Sorry about that. I'll edit my post to include that step.

And sure, I can do that.

[2022-09-29 21:15] mamazu commented on #6827
I don't think that Twig makes sense to use in the first place. All the work-arounds we are doing just to render a simple string.

[2022-09-30 00:40] NeuralClone commented on #6833
I've created a repository that reproduces this particular issue and shows the exact changes I made after creating a sulu/skeleton project:

https://github.com/NeuralClone/sulu-skeleton/tree/reproducer/anonymous-role-media-download

I wanted to get this up and running quickly so my fixtures are loosely based on the fixtures in [sulu/sulu-demo](https://github.com/sulu/sulu-demo).

The steps to repro

[2022-09-30 08:38] alexander-schranz commented on #6833
Can you try out if it is releated to #6825

[2022-09-30 14:03] NeuralClone commented on #6833
Sure, I can look into that.

[2022-10-04 10:07] niklasnatter commented on #6833
Hey, thanks a lot for setting up and providing the repository for reproducing this!

As you have already noticed, the problem here is that the behaviour of the symfony security bundle changed. In previous versions, Symfony returned an `AnonymousToken` for unauthenticated users. This was changed  in the authenticator-based security model (https://github.com/symfony/symfony/pull/42423) which was fir

[2022-10-04 17:44] NeuralClone commented on #6833
You're welcome! I had intended to take another look at things this weekend as mentioned above but I ran out of time.

I really appreciate the prompt responses, assistance, and all the hard work everyone has put into this project. It's saved me a ton of time.

[2022-10-05 07:32] alexander-schranz commented on #6833
@NeuralClone I merged both security checker related pull requests so it is easier for you to test you can run:

[code]

To install the current dev version into your project. Please let us know if this did fix your issue.

[2022-10-05 11:50] niklasnatter commented on #6833
Thats great to hear - thank you! 🙂

[2022-10-05 11:50] niklasnatter commented on #6833
Fixed in #6837

[2022-10-05 11:50] #6833 closed, assigned to nobody

[2022-10-06 02:58] NeuralClone commented on #6833
Thank you! Both fixes seem to have solved the issues I was having.

[2022-10-06 08:11] alexander-schranz commented on #6833
Thx for the feedback.

[2022-10-06 14:12] picturestone opened #6842 "Deprecation-Marking for page templates"
# Problem description

With longer running projects, sometimes a redesign for page templates is done. Then the content can be migrated manually from old page templates to the new templates over some time. If its a big website, this migration can take some time. During this time both the old and new templates need to be available so visitors of the website can at least see the content in the old te

[2022-10-14 07:45] nlipkanov opened #6851 "Sulu still shows a "-1" in page urls"
| Q | A |
| --- | --- |
| Sulu Version | ^5.4
| PHP Version | ^8.0
| DB Version | MARIADB-10.7.4
| Browser Version | Google Chrome 105.0.5195.127
# Actual Behavior

Duplicated pages have a "-1" string attatched to their routes end, e.g. about-1.
After deleting one of the duplicated page, the string "-1" is still present.

# Expected Behavior

Renaming the duplicated pages resource locator / route

[2022-10-14 08:02] alexander-schranz commented on #6851
@nlipkanov renaming a page does do nothing with the URL. If you want to generate a new url after you changed the titleyou need to click the `Refresh URL` button:

![refresh-url](https://user-images.githubusercontent.com/1698337/195794663-9f854266-9dfd-4b9e-b223-d2674461be79.gif)

So this behaviour is expected and not a bug.

[2022-10-14 08:09] nlipkanov commented on #6851
In my case, the "-1" still stays and does not go away if you visit the page in the frontend. In fact, when I rename the title to something else multiple times, then it shows a "-2" in the url of the page.

[2022-10-14 08:12] alexander-schranz commented on #6851
@nlipkanov are you under `dev` or `prod`. Are you using the correct `phpcr` property. Old versions had a `path` which is incorrect, as that is the PHPCR path which has nothing todo with the `Url`. Thats also new versions not longer have that property so check your twig templates if they have correctly used the `.url` property.

[2022-10-14 08:13] nlipkanov commented on #6851
I am under dev.

[2022-10-14 08:26] nlipkanov commented on #6851
I also get an error when I try to rename the resource locator:
`Resource Locator was moved to \"/leistungen-2\" (2f3ee38f-36a1-426c-aede-dfd6f795cc50)`

I do not have any page which has a resource locator like "leistungen" or "leistungen-1". I assume this is some caching issue.
Weird enough that I do not have this issue on my local machine.

[2022-10-14 08:37] alexander-schranz commented on #6851
@nlipkanov it can still be that a page has that url in the `Url History`. You can use the `bin/console doctrine:phpcr:shell` and analyse your url tree under `/cmf/<webspace_key>/routes`.

If you think its a cache issue maybe clear all your cache pools. But normally no caches are active under `dev`. And mostly the errors lay in false outputted url in the twig template.

If you are under `prod` chec

[2022-10-14 11:56] nlipkanov commented on #6851
So, apparently it was just the url history that was in my way. Thanks for pointing that out!
I deleted the urls in the history and everything works as expected!

[2022-10-14 11:56] #6851 closed, assigned to nobody

[2022-10-14 15:32] Prokyonn opened #6855 "info_text breaks form field alignment"
| Q | A
| --- | ---
| Sulu Version | 2.4
| PHP Version | 8.0
| Browser Version | Chrome 106.0.5249.119

# Actual Behavior

Field alignment with `colSpan` doesn't work as expected when a field in the same row has an additional `info_text`:

![image](https://user-images.githubusercontent.com/25978473/195834341-cbd3a9bf-038a-4867-bd4c-3d91b13f898c.png)

Without the `info_text` everything works fine:

[2022-10-16 07:41] alexander-schranz commented on #6855
It is currently expected behaviour of the floating grid which is required for specific floating elements.

The workaround here is that you wrap the first row into a `<section>` tag.

[2022-10-16 15:59] luca-rath commented on #6855
I think adding an `<info_text> </info_text>` with a single space inside to the other fields as well should work too (at least this trick works to push toggler fields down to be on the same height as normal input fields)

[2022-10-17 14:42] nicolas-joubert commented on #6355
Hello @sanhofman,
i've got the same need, so have you finally implemented it ?
Regards,

[2022-10-18 07:37] sanhofman commented on #6355
Hi @nicolas-joubert,

Yes we have used a custom component like mentioned above.

But would still be a great addition to provide this within Sulu!

[2022-10-18 08:12] nicolas-joubert commented on #6355
hi @sanhofman,
i've implemented your react component with a fake contentType. Rendering works but not save into model. Could you had Symfony part of the custom component, thanks ?

[2022-10-18 14:00] nicolas-joubert commented on #6355
After using 'id' for keys and change render value to `{this.props.schemaOptions.list.value.find(({id}) => id === this.props.value)}` it work on sulu 2.4

[2022-10-19 20:45] marek5816 opened #6858 "Routes are not sending trough JS routing API"
| Q | A
| --- | ---
| Sulu Version | 2.4.5
| PHP Version | 7.4.30
| DB Version | 5.5.5-10.3.35-MariaDB-1:10.3.35+maria~focal
| Browser Version | Firefox 105.0

# Actual Behavior

When you create Admin Controller, register route etc. according this tutorial https://docs.sulu.io/en/2.5/book/extend-admin.html to extend admin UI, then add remaining function `getAction, putAction, postAction, postTrigg

[2022-10-20 05:01] wachterjohannes commented on #6763
fixed b #6765

[2022-10-20 05:01] #6763 closed, assigned to nobody

[2022-10-20 10:45] stollr opened #6860 "Add a way to create scopes for grouped parameters similiar to sections"
# Problem description

I am creating my first website with Sulu. I like the division between the structure (templates) and the content (twig). When it comes to structure the admin area *sections* are a nice way to separate different areas of a page.
But I am missing a way to not only separate those areas in the admin UI, but also to separate the properties from different sections when accessing th

[2022-10-20 11:10] alexander-schranz commented on #6860
@naitsirch Thx for creating this feature request. There is already an issue for it here https://github.com/sulu/sulu/issues/5063. So please add your additional thoughts there so we don't have here duplicated issues.

[2022-10-20 11:10] #6860 closed, assigned to nobody

[2022-10-20 11:56] stollr commented on #6860
Thx for the hint. I have overlooked that issue.

[2022-10-20 12:05] stollr commented on #5063
@alexander-schranz redirected me to this issue after I have created #6860. i wanted to suggest a new element for page templates. It could be named `<scope>` or `<group>` and should work like a section but create a new level in the `content` variable in the twig template. Here's an example:

[code]
And this is the twig template
[code]

The advantage is that one does not have to prefix every propert

[2022-10-20 12:36] alexander-schranz commented on #6860
No problem you are welcome!

[2022-10-20 12:47] alexander-schranz commented on #6858
@marek5816 we are only exposing the get routes matching `(.+\.)?c?get_.*`, as this are the only routes which are used by Sulu frontend which just use then REST like standard to performe this thing. You can not configure sulu to user specific routes for PUT, POST, .. currently.

If you want to expose additional route you need configure that in the `fos_js_routing` example or using `expose: true` op

[2022-10-21 18:45] hacfi opened #6863 "New project error on sulu:build dev "Item /cmf/cms/contents not found in workspace default""
| Q | A
| --- | ---
| Sulu Version | 2.5.1
| PHP Version | 8.1.9
| DB Version | PostgreSQL 14.4
| Browser Version | irrelevant (Chrome 106.0.5249.119)

# Actual Behavior

Running `php bin/adminconsole sulu:build dev` throws an error:
[code]

# Expected Behavior

`php bin/adminconsole sulu:build dev`  does not throw an error.

# Steps to Reproduce

[code]

# Possible Solutions

[2022-10-21 18:46] hacfi commented on #6863
Just checked the contents of `config/packages/doctrine.yaml` and noticed I have to specify the server version.
Using `export DATABASE_URL="postgresql://user:pass@127.0.0.1:5432/cms?charset=utf8&serverVersion=14` solves the issue.

[2022-10-21 18:46] #6863 closed, assigned to nobody

[2022-10-22 11:38] Mrkisha opened #6864 "Different page templates based on different webspaces for the same page type"
# Problem description
As A user, I should be able to set specific template for page type per webspace.

# Proposed solution
Lets say I have multi-website setup in sulu with webspaces **webspace1** and **webspace2**. They both use same page type **article**. However I want the page template structure (html) for webspace2 to be different than webspace1. Then I should be able to specify, possibly in

[2022-10-22 12:21] alexander-schranz commented on #6864
This is already possible via `themes` and the SuluThemeBundle which is build on top of the SyliusThemeBundle.

You specify in `webspace1` the  `<theme>app/webspace1</theme>` and in `webspace2` the `<theme>app/webspace2</theme>` and so you can have different HTML structure. You even can themes build on top of the other themes. Have a look at the docs of the SyliusThemeBundle for more:

 - [https://

[2022-10-22 12:37] marek5816 commented on #6858
All this informations are not listed in documentation. In tutorial is shown only `cgetAction()` and then next headline show that there are generated 5 routes, I had hard times even to find that I must add remaining 4 functions and only then are routes generated (ended asking this on slack)

The next issue I see is related with this topic. In documentation is not written anything about `expose: tru

[2022-10-22 13:08] alexander-schranz commented on #6858
@marek5816 Sulu doesn't require the other 4 routes it just requires the route registered in your resource registration.

https://docs.sulu.io/en/2.5/book/extend-admin.html#configure-resources

As they normally match the regex there is nothing required here.

Keep also in mind the library is not provided by Sulu and so is not documented in the Sulu docs. All about the library can be found in its ow

[2022-10-22 16:11] Mrkisha commented on #6864
Thank you. I though theme is more off to change the styles rather than templates as well.

[2022-10-22 16:11] #6864 closed, assigned to nobody

[2022-10-22 16:17] alexander-schranz commented on #6864
@Mrkisha see it more the other way around you dont need themes to include different css based on a webspace key but you need theme when you want to overwrite templates.

[2022-10-22 19:34] Mrkisha commented on #6864
@alexander-schranz I got it.

I've made it work.
However I think one thing is missing from documentation and that is that structure of template folder and files have to be exact as in <project>/template folder.

[2022-10-24 13:22] niklasnatter commented on #6525
For completion: it looks like displaying the title for `external` links was fixed in #6675 and therefore works on 2.5.* versions only at the moment 🙂

[2022-10-24 13:58] glen-rhodes opened #6865 "JS error on article edit page of SULU demo"
| Q | A
| --- | ---
| Sulu Version | demo
| PHP Version | demo
| DB Version | demo
| Browser Version | Firefox 106.0.1

# Actual Behavior

When I click "edit" on an article in the article list of the admin section of SULU demo, I get a blank page with this error in me JS console:
TypeError: this.webspaceOptions[0] is undefined.

# Expected Behavior

I expected to see an article edit page.

# Steps

[2022-10-24 14:32] alexander-schranz commented on #6865
@glen-rhodes I can not reproduce it. I can just click on any article and the article edit view is loaded like expected, no JS error. Maybe just somebody tried to change or messed around with the demo data. The demo is reseted in a specified interval and so it maybe is why the error is currently not longer there.

If you have similar issue on a local project let us know how to reproduce it.

[2022-10-25 08:48] niklasnatter commented on #6831
Thanks for reporting! This should be fixed in #6861

[2022-10-25 08:48] #6831 closed, assigned to nobody

[2022-10-27 12:54] alexander-schranz opened #6867 "Allow defining the highest supported headline level of text_editor"
# Problem description

There exist currently `h2`, `h3`, `h4`, `h5`, `h6` inside the text_editor field type via ckeditor. Currently there is no way to limit this easily for a specified field.

When creating semantic correctly HTML and you are already inside `<section>` with `<h2>` it should not be possible for the content manager to add additional `<h2>` headline inside this section as that would

[2022-10-28 11:02] Impergator opened #6870 "sulu_content_load causes exception "Warning: Array to string conversion"."
| Q | A
| --- | ---
| Sulu Version | 2.4.1
| PHP Version | 8.1
| DB Version | mariadbd  Ver 10.6.9-MariaDB for Linux on x86_64 (MariaDB Server)
| Browser Version | Google Chrome 105.0.5195.125 (Official Build) (64-bit)

# Actual Behavior

When ever I call the twig function `sulu_content_load(<myPageId>)` I get the following error

![image](https://user-images.githubusercontent.com/59212513/1985604

[2022-10-28 11:10] alexander-schranz commented on #6501
fixed in #6868

[2022-10-28 11:10] #6501 closed, assigned to nobody

[2022-10-28 11:13] alexander-schranz commented on #6870
@Impergator is this maybe an older project which was updated to a newer version. The sortBy was changed some time ago and phpcr migration where added. Can you check if this happens also for a new page? And check if all your phpcr migrations are run:

[code]

PS: `sulu_content_load` should always used with `properties` parameter else you will run into performance issues: https://docs.sulu.io/en/2.5

[2022-10-28 11:41] Impergator commented on #6870
@alexander-schranz You are right, this is an older project that was updated. I've tested your recommendations and the error only appears when I reference an old page. When I reference a new page it works perfectly. I tried `bin/console phpcr:migrations:migrate` to upgrade the old pages, but the migrations are already on the newest version. Is there something else I need to upgrade?

[2022-10-28 11:48] alexander-schranz commented on #6870
This is the migration which should handle this: https://github.com/sulu/sulu/blob/2.5/src/Sulu/Bundle/PageBundle/Resources/phpcr-migrations/Version202005250917.php

Maybe you can try to rerun this one only or debug why it does not work for your page.

[2022-10-28 12:00] Impergator commented on #6870
Ok, I upgraded the sulu version to 2.5, reverted the phpcr migration scripts and reran them. Now it also works with the old pages. Thank you very much.

[2022-10-28 12:04] #6870 closed, assigned to nobody

[2022-10-30 18:43] Jupi007 opened #6873 "Upload icon have overlay path"
The down arrow of the `upload` icon got overlay path, and it looks weird.

**Actual:**

![Capture d’écran du 2022-10-30 19-38-38](https://user-images.githubusercontent.com/36476595/198895783-94dd8894-9aa9-4af2-b077-793fe5e3ecb5.png)

https://github.com/sulu/sulu/blob/5c1717cbc50f279e9035cdc7a673c50dc2e18c09/src/Sulu/Bundle/AdminBundle/Resources/js/components/Icon/fonts/sulu.svg?short_path=7d478d8#

[2022-10-31 09:15] alexander-schranz commented on #6873
@Jupi007 Hello 👋 ,

we are using `icomoon`. Easiest way to update the `icomoon` icons is to download the current `selection.json`: https://github.com/sulu/sulu/blob/2.5/src/Sulu/Bundle/AdminBundle/Resources/js/components/Icon/selection.json

Dragging the `selection.json` into [Icomoon app](https://icomoon.io/app/#/select) should use all our preconfigured settings again. (If you already used Icomoo

[2022-10-31 09:19] Jupi007 commented on #6873
Hi @alexander-schranz 👋
Okay, thanks :)
I will do this a bit later today.

[2022-10-31 09:26] tommysonsylverstone opened #6874 "contact_selection content type produce infinite loading animation"
| Q | A
| --- | ---
| Sulu Version | 2.4.5
| PHP Version | 7.4.30
| DB Version | MySql 8.0.30 (Ubuntu 20.04)
| Browser Version | Chrome 106.0.5249.119

# Actual Behavior

In my sulu admin, the `contact_selection` will work fine the first time, but as soon as I'm quitting and coming back to my form, the content type doesn't show the contacts I've entered previously anymore and it's showing an infin

[2022-10-31 09:29] Jupi007 commented on #6873
A small question: `2.4` and `2.5` icon files are different from each other, should I do a PR for each?

[2022-10-31 09:38] alexander-schranz commented on #6874
@tommysonsylverstone Thank you for reporting. Does this also happen if you add a `contact_selection` to a page template.

A infinite loading normally happens when a backend error is happening. Can you open your browsers dev tools and check the requests to the `/admin/api/contacts` there should be failing request. The error of that request would be very interesting. If there is no error the respons

[2022-10-31 09:47] alexander-schranz commented on #6873
@Jupi007 In this edge case it would be great. Normally we would solve the merge conflict when merging 2.4 -> 2.5 but we would in this case also need to regenerate the icomoon selection.json via the web app as the `selection.json` is not very "git friendly". So a PR for both branches in this edge case would make it easier for us so I can cherry pick the files of your 2.5 PR when merging 2.4 -> 2.5.

[2022-10-31 09:49] Jupi007 commented on #6873
Okay, I'll do two PRs so :)
It is not a big deal for me to do it.

[2022-10-31 09:57] tommysonsylverstone commented on #6874
@alexander-schranz After checking the admin `profiler`, it seems very likely that the error is produced by something I did previously in my project. Here's the deal:
- I've followed [this pull request](https://github.com/sulu/sulu-demo/pull/91) to add another tab/data to a contact. In my case, it was a simple text field `text_editor`.
- In my profiler, I've got the following error
`[Semantical Err

[2022-10-31 09:58] Jupi007 commented on #6873
I'm doing a review of the full icon font, and some other icon are affected:

![image](https://user-images.githubusercontent.com/36476595/198981182-f0ad8cf2-f183-432e-823d-67437b5e1fe3.png)
![image](https://user-images.githubusercontent.com/36476595/198981210-0b7793d9-637b-4799-83a7-a8fec964fb81.png)
![image](https://user-images.githubusercontent.com/36476595/198981235-962005f1-14c7-4219-ad8c-1c84e

[2022-10-31 10:01] alexander-schranz commented on #6874
@tommysonsylverstone if you are in a custom tab. That is mostly a hint that your API does not return the `contacts` in the way the frontend expect it. So you need to have a look at your serializer configuration and methods which are serialzing.

The return of your JSON api should look like:

[code]

Mostly the error is that you are serialzing the `getContacts()` or whatever you named the property

[2022-10-31 10:04] alexander-schranz commented on #6873
@Jupi007 sure that is great 👍 . Thank you for working on this issue :)

[2022-10-31 10:08] alexander-schranz commented on #6874
@tommysonsylverstone the error on overwriting sounds like there is something not correclty configured. Check again the configuration here: https://docs.sulu.io/en/2.5/cookbook/extend-entities.html specially the `sulu_contact` configuration.

And also check that nobody reference the `old` class. That should not be used in any `metadata` like list or entity orm metadata. Instead use the new class or

[2022-10-31 10:19] alexander-schranz commented on #6858
I'm closing this in favor of a docs issue: https://github.com/sulu/sulu-docs/issues/750

[2022-10-31 10:19] #6858 closed, assigned to nobody

[2022-10-31 13:16] tommysonsylverstone commented on #6874
My `sulu_contact.yaml` config is like this:
[code]
As for the overriding of doctrine orm xml files, I don't know how to proceed. Also I'm trying to apply those changes to the `Contact` entity only, do I have to change anything about my `Account` entity to make it work too ?

[2022-10-31 13:23] alexander-schranz commented on #6874
@tommysonsylverstone no you don't need todo anything on core entities.

You only need to change maybe your own entities or any none sulu core bundles which have a relation to `Contact` entity.

So example if you are using a Third Party bundle which has a relation to `Contact` instead of `ContactInterface` it would be needed to fix that in the Third Party Bundle.

Also make sure that your doctrine

[2022-10-31 13:53] tommysonsylverstone commented on #6874
I've tried running `bin/console doctrine:cache:clear-metadata`, one try with just this, another try with `bin/adminconsole cache:clear`, both didn't solved the issue. I also don't have any third party bundle that uses the `Contact` entity outside my own `App` .

I've also noticed something about the api url it's trying to getting to:
`http://localhost:8000/admin/api/contacts?flat=true&ids=2%2C3%2C

[2022-10-31 13:58] alexander-schranz commented on #6874
How does the response of your API looks like? Where your `contact_selection` is used?

[2022-10-31 14:02] tommysonsylverstone commented on #6874
The API response looks like this:
[code]

My `contact_selection` is used in my articles.xml config file.

[2022-10-31 14:04] alexander-schranz commented on #6874
@tommysonsylverstone I don't mean that API I mean the API of your resources which returns the data for the `contact_selection`.

[2022-10-31 14:13] alexander-schranz commented on #6874
But also in the list response there is an error which is related to your project code.

Looks like you extended the `contacts.xml` and did configure there something wrong that produces: `App_Entity_Contact__class.freeText AS freeText` instead of `App_Entity_Contact.freeText AS freeText`:

Maybe you did not use the correct string or variable in your custom list xml: https://github.com/sulu/sulu/blo

[2022-10-31 14:19] tommysonsylverstone commented on #6874
That was it !

My field configuration was like that:
[code]
when you just have to declare your Entity without the `::class` at the end.

Many thanks @alexander-schranz !

[2022-10-31 14:20] alexander-schranz commented on #6874
Yeah you can not use `App\Entity\Contact::class` here only `%parameters%` or real FCQN no `::class`.

But good if it only was that.

[2022-10-31 14:21] #6874 closed, assigned to nobody

[2022-11-01 11:50] migster42 opened #6880 "Exception when delivering videos because of missing token"
| Q | A
| --- | ---
| Sulu Version | 2.4.6
| PHP Version | 8.1.10

# Actual Behavior

After upgrading from 2.4.5 to 2.4.6 videos (mp4 files) are not delivered.

[code]

# Expected Behavior

Videos are delivered without exception.

# Steps to Reproduce

Upload a video on admin ui then logout and call the url of the `MediaStreamController`, e.g. `/media/3/download/video.mp4?v=1`.

# Possible Solutio

[2022-11-02 08:46] alexander-schranz commented on #6880
@migster42 can you also tell use which Symfony Version you are using and if you are using the new or old authenticator system of symfony. New one has this line old: https://github.com/sulu/skeleton/blob/6384df0905915a593419caa6cbae5dff79265cd0/config/packages/security.yaml#L2

[2022-11-02 09:26] migster42 commented on #6880
@alexander-schranz I use Symfony 5.4.15 and my `security.yaml` is the same as in the skeleton of sulu version 2.4.6: https://github.com/sulu/skeleton/blob/2.4.6/config/packages/security.yaml

With `enable_authenticator_manager: true` it works for me. Thank you!

[2022-11-02 09:26] #6880 closed, assigned to nobody

[2022-11-02 09:49] alexander-schranz commented on #6880
@migster42 we did fix the issue in #6881 so it should also work for the old authenticator system.

[2022-11-02 10:36] alexander-schranz commented on #6873
Thank you. 👍 Icons are updated:

 - https://jsdocs.sulu.io/2.4/#icon
 - https://jsdocs.sulu.io/2.5/#icon

[2022-11-02 10:37] #6873 closed, assigned to nobody

[2022-11-02 12:09] alexander-schranz opened #6882 "Add emoji support for url slugger"
# Problem description

Currently emojis are just removed and not replaced by the name when slugging a title with emoji for it. It would be nice to slug them also.

# Proposed solution

In Symfony 6.2 a new `withEmoji`: https://symfony.com/blog/new-in-symfony-6-2-better-emoji-support

For bc reasons it would require something like following that we run not into any error with Symfony 6.1 or lower:

[2022-11-02 12:33] niklasnatter commented on #6865
This sounds like somebody was messing with the permissions of the demo application while you were using it. As @alexander-schranz already set, the demo application is resetted periodically, so the error is not reproducible anymore. Still thanks for reporting! 🙂

[2022-11-02 12:33] #6865 closed, assigned to nobody

[2022-11-02 18:46] Jupi007 opened #6883 "Icon button group got wrong border-color"
| Q | A
| --- | ---
| Sulu Version | Tested on 2.5, but it should affect also 2.4

# Actual Behavior

When a disabled icon button is located against a disabled one, the middle border use the wrong color:

![Capture d’écran du 2022-11-01 21-06-36](https://user-images.githubusercontent.com/36476595/199574296-40a49ec0-43a7-49b8-b37a-daab73c2a531.png)

# Expected Behavior

The middle border should the

[2022-11-02 19:03] alexander-schranz commented on #6883
@Jupi007 thx for report.

I think we should handle this in the ButtonGroup component and not in the `icon` component: https://github.com/sulu/sulu/blob/2.5/src/Sulu/Bundle/AdminBundle/Resources/js/components/ButtonGroup/buttonGroup.scss

Is there something like your fix also possible?

[2022-11-02 19:59] Jupi007 commented on #6883
I think you're right, it is the cleaner solution, and it shouldn't cause any side effect.
It is just less simple to fix:

[code]

**Before:**

![image](https://user-images.githubusercontent.com/36476595/199591156-2a29c4c2-43c5-41bb-abe4-2f7877990aed.png)

**After:**

![Capture d’écran du 2022-11-02 20-55-58](https://user-images.githubusercontent.com/36476595/199590868-8d67315f-4182-4fce-9f26-9268e

[2022-11-02 20:22] Jupi007 opened #6884 "Default avatar got bad contrast"
| Q | A
| --- | ---
| Sulu Version | 2.5 and 2.4 (not tested but same code)

# Actual Behavior

The default user avatar got very bad contrast: the icon almost blend in its background.

![Capture d’écran du 2022-11-02 19-57-45](https://user-images.githubusercontent.com/36476595/199594379-de2b05e9-f67b-4538-a867-4c670fa32802.png)

# Possible Solutions

Something like this would be better imo:

![ima

[2022-11-02 21:54] alexander-schranz commented on #6883
@Jupi007 sounds good this way will you open a PR?

[2022-11-02 21:58] Jupi007 commented on #6883
Ofc, I will do one 👍

[2022-11-03 00:04] alexander-schranz commented on #6883
fixed in #6885 thank you!

[2022-11-03 00:04] #6883 closed, assigned to nobody

[2022-11-03 10:17] stollr opened #6886 "[RFC] Adding admin resource URLs to FOSJsRouter automatically"
# Problem description

I wanted to extend the admin UI with a custom entity and followed the [docs](https://docs.sulu.io/en/latest/book/extend-admin.html). But when I tried to open the list view in the browser I got the following javascript error:

After some debugging I found out that the route of the action was removed in `FOS\JsRoutingBundle\Extractor\ExposedRoutesExtractor::getRoutes()` becaus

[2022-11-03 10:31] alexander-schranz commented on #6886
It definitely make sense for me to expose all routes which are configured as resource routes as they are used by the admin JS.

Think creating a compilerpass and adding the addition routes same way as here: https://github.com/FriendsOfSymfony/FOSJsRoutingBundle/blob/master/DependencyInjection/FOSJsRoutingExtension.php#L48-L50 should do the job.

[2022-11-03 10:58] niklasnatter commented on #6886
Using the configuration to determine what to expose is a great idea! 🙂

[2022-11-03 14:35] mbaderweb opened #6888 "503 Service Unavailable when editing an uploaded image or document"
| Q | A
| --- | ---
| 2.4.0 | Sulu
| 8.1 | PHP

# Actual Behavior

When i edit an image or document in the media section in admin, it try's to navigate to the file view but then when the loader appears nothing happens. I checked the specific request in the background and the media request says 503 Service Unavailable.

When I clear the cache, it works for one time, then the error occurs again.

I

[2022-11-03 14:36] mbaderweb commented on #6888
There are no accorded error messages in the log files..nothing

[2022-11-03 14:43] alexander-schranz commented on #6888
@mbaderweb sorry I think without any logs or stack trace of an error its not possible to help here a lot. I think you need to try to reproduce the issue. Example you can run the application locally with `APP_ENV=prod` and check if its a problem with the `APP_ENV` or with your server. If its only your server it can also be that you don't have enough resources.

But no logs are always strange. Pleas

[2022-11-03 15:01] mbaderweb commented on #6888
@alexander-schranz thank you for your ultra fast answer, that is amazing!!
I also think, this is an resource issue.
I will try your recommendations
Thanks!!

[2022-11-03 15:11] alexander-schranz commented on #6529
Sorry for the late response.

I did have a look at the Categories API. And it seems currently it does not support to return a specific categories by list of `ids`. Currently the API seems only be optimized for category Tree View. Which from the given ids can will always return all parent categories and all parent siblings category.

And in the specific auto complete case that would be the API need

[2022-11-03 15:29] #6888 closed, assigned to nobody

[2022-11-07 12:57] Skullfox opened #6896 "Wrong de localization lat/lang in ContactBundle"
| Q | A
| --- | ---
| Sulu Version | 2.2+

# Actual Behavior

Latitude/Longitude are switched in DE

[code]

should be

    "sulu_contact.latitude": "Breitengrad",
    "sulu_contact.longitude": "Längengrad",

# Possible Solutions
[/src/Sulu/Bundle/ContactBundle/Resources/translations/admin.de.json#L74](https://github.com/sulu/sulu/blob/2.5/src/Sulu/Bundle/ContactBundle/Resources/translations/admin

[2022-11-07 13:05] alexander-schranz commented on #6896
@Skullfox Thx for creating the issue. Can you open a Pull Request for it. You just need to target the current `2.4` Branch here: https://github.com/sulu/sulu/blob/2.4/src/Sulu/Bundle/ContactBundle/Resources/translations/admin.de.json

[2022-11-07 16:12] alexander-schranz commented on #6884
@Jupi007 aslong as we don't add additional blue I'm fine with it. If the blue does not yet exist and this variant we need to discuss it with the style guide.

[2022-11-07 16:33] Jupi007 commented on #6884
What I propose is to use some kind of transparent white.

[2022-11-07 22:48] mamazu commented on #6646
I have tried to implement a UI for that but the problem is that if I want to change it in the `MultipleItemSelection`, I also have to change the logic how items are loaded. Because currently it shows only two items but in the background still loads all of them. Where would that code be located.

[2022-11-08 13:36] 0xJas0n opened #6900 "Update page permissions for all locales"
| Q | A
| --- | ---
| Sulu Version | 2.4.5
| PHP Version | 8.0.25
| DB Version | MySQL 8.0.27
| Browser Version | Google Chrome 107.0.5304.87

# Actual Behavior

Sulu does not allow you to save the changes after a page permission change.

Video: [Filebin](https://filebin.net/6aipzo6k6gauf53x)

# Expected Behavior

Allow to save changes made on the permission tab on pages.

# Steps to Reproduce

1.

[2022-11-08 14:23] alexander-schranz commented on #6646
I'm not sure where this code currently lies would need to debug the selection. Know in the overlay there are LoadingStrategy used not and think the List should maybe be extended work in combination with `ids` and request only a limited numbers of them.

[2022-11-09 11:14] alexander-schranz opened #6901 "SingleSelection require unneeded third click for Confirm"
# Problem description

When selecting a item following is required for the content manager e.g.

1. Open a Single Selection Overlay
2. Select the Page
3. Confirm Overlay

or select a media

1. Open a Single Media Selection Overlay
2. Select Media
3. Confirm the Overlay

The third click (3.) on confirm of the selection should not be required for a single selection. The selecting of the item should

[2022-11-09 12:31] alexander-schranz commented on #6884
@Jupi007 would not introduce a new color currently, isn't there something which already matches? Else I need to recheck the things with the existing styleguide and designer.

[2022-11-09 12:34] Jupi007 commented on #6884
Oh okay, I understand.
Let me check if I can find some color which fit in your palette.

[2022-11-09 13:30] Jupi007 commented on #6884
What do you think of this:

![Capture d’écran du 2022-11-09 14-26-17](https://user-images.githubusercontent.com/36476595/200842573-98c70eb2-706e-49c0-9520-f88d26d0697e.png)

I used:

[code]

[2022-11-09 13:31] alexander-schranz commented on #6884
Looks fine for me 👍

[2022-11-09 13:32] Jupi007 commented on #6884
Great!
Let me do a PR so.

[2022-11-09 13:53] alexander-schranz commented on #6884
Fixed in #6902

[2022-11-09 13:53] #6884 closed, assigned to nobody

[2022-11-09 17:28] alexander-schranz commented on #6900
@0xJas0n I'm  not sure If I understand the problem correctly. The linked file seems to be strange. If you activate permission for the website. You can just not click save currenlty because that `toggler` doesn't change anything about permissions. You need atleast remove some permissions from a specified role mostly in case of website the `Anonymous Role`.  If the anonymous role does not exist plea

[2022-11-09 19:27] alexander-schranz commented on #6476
Reseved for [VincentA](https://twitter.com/vinceAmstoutz/status/1590404420613046272).

[2022-11-09 19:28] alexander-schranz commented on #6198
Reserved for [victor_vasiloi](https://twitter.com/alex_s_/status/1590425318602739712).

[2022-11-09 21:07] vvasiloi commented on #6198
Yep, you can assign it to me.

[2022-11-10 08:16] vinceAmstoutz commented on #6476
@alexander-schranz Before I start in the next few days, I need, please, a confirmation on this part:

Correct me if I'm wrong, you mean I should add support for AVIF images in the `php-imagine/Imagine` repository in addition?

[2022-11-10 08:27] chirimoya commented on #6476
It looks like `Imagine` has already added the support for AVIF ... https://github.com/php-imagine/Imagine/issues/742 /cc @alexander-schranz correct me, if I'm wrong.

[2022-11-10 08:34] vinceAmstoutz commented on #6476
Well seen, since version 1.3 apparently: https://github.com/php-imagine/Imagine/releases/tag/1.3.0.

So for this point there is nothing to do @alexander-schranz?

[2022-11-10 08:45] alexander-schranz commented on #6476
@vinceAmstoutz Welcome nice to see you here :)

So the task here is that Sulu Code need to be updated that avif is supported in the linked files:

 - [ ] Adjust the ImagineImageConverter avif format
     - [ ] https://github.com/sulu/sulu/blob/c0e3b0b4d64d82111618a48de374e10265f3fb89/src/Sulu/Bundle/MediaBundle/Media/ImageConverter/ImagineImageConverter.php#L129-L142
 - [ ] Adjust the SuluMediaExt

[2022-11-10 08:49] vinceAmstoutz commented on #6476
Thanks for your welcoming 🙂
Perfect!

[2022-11-11 06:56] wachterjohannes commented on #6900
@alexander-schranz i have investigated that with @0xJas0n and the problem is - if you change the permissions of a page and select at least one role. the page should be removed from the index. That seems not to work at latest when you have selected a category in the excerpt. Because we load the page without a locale (see https://github.com/sulu/sulu/blob/2.5/src/Sulu/Bundle/PageBundle/Search/EventL

[2022-11-11 10:53] Prokyonn commented on #6900
@wachterjohannes the method `SearchManager::getDecoratedIndexNames` gets all matching indexes when no locale is set:

![image](https://user-images.githubusercontent.com/25978473/201325721-450d18c9-4a82-49c8-8d1a-b6cf779798f4.png)

[2022-11-11 11:14] nikomuse opened #6905 "Admin preview Acces Denied - Extranet firewall"
| Q | A
| --- | ---
| Sulu Version | 2.5
| PHP Version | 8.1
| DB Version | MySQL 8
| Browser Version | Any

# Actual Behavior

Hi ! I’ve got an extranet app, so two different firewalls, admin and extranet but in the admin area, when I edit a page in the extranet webspace, the preview shows an “Access denied” error. Of course the user has the roles for both admin and extranet areas. How can I fix

[2022-11-11 11:18] nikomuse commented on #6905
The AccessDeniedException :
<img width="898" alt="Capture d’écran 2022-11-11 à 12 17 09" src="https://user-images.githubusercontent.com/6285278/201329716-4efd8f33-ad0b-4c0e-8cb1-afc44b720d6a.png">
And the user infos :

<img width="898" alt="Capture d’écran 2022-11-11 à 12 17 21" src="https://user-images.githubusercontent.com/6285278/201329795-a82ea6dc-9252-4cbb-aae0-0c84fcec87e1.png">

[2022-11-11 11:35] vvasiloi commented on #6198
@alexander-schranz to what extent should I test it?
Also, the `getResourceLocator` method from your example doesn't exists, should I use `getResourceSegment`?

[2022-11-11 11:39] alexander-schranz commented on #6198
@vvasiloi you are right I think it is `getResourceSegment`, which contains that part.

A Unit test is fine enough or adjust if already a test for the `DomainEventSubscriber` exist that the `url` is now set.

[2022-11-14 07:08] wachterjohannes commented on #6900
@Prokyonn awesome :) i merged it already!

@0xJas0n would you please test this BUGFIX?

[2022-11-14 09:08] rogoit commented on #5688
Deleting the var/cache content fixed proplem for me

[2022-11-14 13:36] stollr opened #6908 "Support for cssClass attribute for sections in XML configs"
# Problem description

Currently the cssClass attribute is allowed in the xsd file for sections (see https://schemas.sulu.io/template/properties-1.0.xsd, line 74). But it is not supported by the code.

# Proposed solution

Add Propterty to SectionMetadata, adding the cssClass value in the PropertiesXmlParser and add support in the frontend.

[2022-11-14 13:55] stollr commented on #6381
As a new Sulu user I can confirm that this is a feature I searched for, when I started using Sulu some weeks ago. I was a little bit disappointed when I found out that this wasn't supported. Later I detected the xinclude feature, which is some kind of workaround. But I'd be really happy if this feature will be implemented one day ;-)

[2022-11-14 14:45] alexander-schranz commented on #6908
@naitsirch this seems a left over of the 1.6 frontend. We are currently not planned to support this kind of things as it did make the old UI very inconsistent.

So I think we will in next major version remove this from the XSD file.

Do you had a specific usecase why you wanted to change a section?

[2022-11-14 16:18] stollr commented on #6908
Yes, indeed. I have extended the account details form xml file, included the origin xml via xinclude, and added my own section at the end.

Now the issue is that my own section starts at the left of the screen, whereas the origin form has two columns and the input fields are located in the right column.

I know that I could copy the origin xml and insert my custom fields in the right colum, but th

[2022-11-14 16:58] alexander-schranz commented on #6908
Sulu Admin is by design Headless / API driven and Symfony Forms are not :) I understand the point that some would like to use Symfony Forms. But even Symfony Forms are not in all companys wide spreaded as they also have a certain complexity and are listed beside Security by Symfony itself as the complexes component.

React also was the choice as we also can implemented complex logic into our field

[2022-11-15 00:29] alexander-schranz commented on #6476
@vinceAmstoutz if you need any help to start let me know. But definitely no stress here take your time. And if you have questions always feel free to ping me.

[2022-11-15 15:39] alexander-schranz opened #6909 "S3 Google Cloud Storage can end up into an unexpected Rate Limit"
# Problem description

It currently can happen when deleting a lot if items that we run into a Rate Limit.

[code]

https://cloud.google.com/storage/quotas

I think it maybe make sense to allow some kind of retry handling, if a 429 return is happening.

Strangely the limit is per Object so we need also analyse why this is happening that our delete action is doing multiple object calls.

# Proposed

[2022-11-16 09:54] stollr commented on #6908
What I meant was, configuring the forms with PHP and Symfony Forms and then only pass the configuration via API to the frontend and render the forms with react.

XML for the page templates is fine. My question was only about forms for custom entities where Symfony controllers or the admin class has to be written in PHP anyways. And also the form type [configuration](https://docs.sulu.io/en/2.5/boo

[2022-11-16 11:13] mamazu commented on #6646
I don't really have any good ideas on how to solve this. Every approach I've tried has some major downsides.

## Proper pagination
Adding a proper pagination to the list (as I intended to) needs changes in a lot of components (`MultipleItemSelection`, `Header`, newly created `Pagination`). Furthermore to properly implement this a lot of components would need to handle it as well. The downside I se

[2022-11-21 13:19] FlorianBoe opened #6911 "Add access to calculated size of image formats"
# Problem description
A best practice to optimize the Cumulative Layout Shift of images is to specify the height and width of the image. For image formats that are only limited by width, this is currently not possible. In these cases I can't determine the size of the images via the configured aspect ratio. Currently only the width and height of the source file can be accessed (`media.properties.wi

[2022-11-21 13:39] alexander-schranz commented on #6911
Hello @FlorianBoe,

We recommend here the usage of the `get_image` twig extension of the `sulu/web-twig` project. It already provides you a full pictures tags including `width` and `height` attributes by the `properties` value of the image.

See https://github.com/sulu/web-twig/blob/2.5/docs/image.md

Because of history of the package, to enable the full potential of that twig extension you need t

[2022-11-21 16:44] luca-rath commented on #6911
@alexander-schranz this only works properly, if the aspect ratio of the original image is the same as the aspect ratio of the crop. But if the image format just restricts one dimension, the aspect ratio might differ

[2022-11-21 16:51] alexander-schranz commented on #6911
@luca-rath sure, but that is a very edge case which doesn't appear a lot that that kind of formats are even cropped by a user and so I think that more then 99% of the cases are handled by the get_image twig extension.

[2022-11-21 17:19] luca-rath commented on #6911
Sure, but I guess it would require just a small method in the `Api\Media` class to be able to always get the correct aspect ratio:

[code]

[2022-11-21 17:30] luca-rath commented on #6911
Also, what's definitely more often the case, that you have multiple sources with different image formats (landscape on desktop, portrait on mobile), we should set the correct width/height attributes on each source, see https://github.com/whatwg/html/pull/5894 ... Although I think this is currently only taken into account in chrome

[2022-11-21 17:32] alexander-schranz commented on #6911
@luca-rath yeah currently not supported by all major browsers yet but already exist an issue in web-twig for it. https://github.com/sulu/web-twig/issues/48

[2022-11-21 17:41] luca-rath commented on #6911
ah great, didn't know that

[2022-11-21 22:07] alexander-schranz commented on #6905
@nikomuse Thank you for this nice reproduable.

I did create a PR to remove some unrelated things from the reproducer here: https://github.com/nikomuse/sulu-skeleton-extranet/pull/1

Would be nice if you could merge that to make the reproducer easier to use.

What I did found out that it does not have todo with the `role_hierarchy` you provided so I removed completely that part from your the repro

[2022-11-21 22:22] alexander-schranz commented on #6905
I even found out more the problem is that the Preview runs in the Admin Users mode and so have only `ROLE_USER` available.

Changing the following line should fix your issue:

[code]

The sulu user provider already checks if you are allowed to access the new security system. So there is not required to add a specific role here.

[2022-11-21 22:23] alexander-schranz commented on #6905
PS: if you use a firewall on your whole webspace it is required to use `user context based caching`: https://docs.sulu.io/en/2.5/cookbook/user-context-caching.html else the webspace will not being cached correctly.

[2022-11-21 22:34] nikomuse commented on #6905
@alexander-schranz Hi ! Many thanks, I didn't  switch to affirmative so it's a great fix for me !
About the roles, it works with this fix only, as the ROLE_EXTRANET_USER is a "child" of the ROLE_USER.
Kind regards !

[2022-11-22 19:11] remdan opened #6912 "Remember last position from Media selection (Folder)"
# Problem description

If I have to select several individual files (single_media_selection) and search for them via the folder structure, the selection jumps back to the root in each case.

If the files are in 5 subfolders, the clicks add up a lot...

![V2](https://user-images.githubusercontent.com/5031692/203521071-b644cdae-0df2-4d07-bc21-d8c057dafbd3.png)

# Proposed solution

It would be nice

[2022-11-22 21:13] alexander-schranz commented on #4406
With the doctrine migrations bundle 3.0 it allows to add multiple directories where migration exist. So sulu is possible to provide migrations itself. As we are supporting multiple database and database verson we need to generate for each migrations.

I did today hack a quick prototype together which provides a command and a docker compose file for easily create this kind of multi server migration

[2022-11-23 11:23] remdan opened #6914 "Make Items in Selection expandable"
# Problem description

Use case: I want to select several medias / pages  and make further settings / specifications for each element.

[Media selection](https://docs.sulu.io/en/2.5/reference/content-types/media_selection.html#media-selection) is a quick way to select multiple medias but after that I can not give any more information.
<img width="550" alt="v1" src="https://user-images.githubuserco

[2022-11-23 11:35] alexander-schranz commented on #6914
That usecase is very specific and I'm not sure if there will be a out of the box solution for it. Specially what if I have additional data which is required to be set, block are there the most flexible way yet. But understand that it is hard that they can not first choice all medias and then add the additonal data to them.

Currently you can improve the blocks UX for such specific usecase by using

[2022-11-23 11:50] alexander-schranz commented on #6842
Definitely an interesting feature which I see a good usage for it for Templates and even Block Types to make possibility to deprecate them to show Content Manager they should migrate that content to another template / block type.

[2022-11-24 14:42] matthieu2607 commented on #6832
Hi @alexander-schranz,
It's a great idea ;)

[2022-11-24 22:23] alexander-schranz commented on #6277
@wachterjohannes this is fixed now?

[2022-11-25 08:27] wachterjohannes commented on #6277
@alexander-schranz yes is fixed

[2022-11-25 08:27] #6277 closed, assigned to nobody

[2022-11-25 08:39] niklasnatter commented on #6277
For traceability - I think it was fixed in https://github.com/sulu/sulu/pull/6868 and https://github.com/sulu/sulu/pull/6879, right?

[2022-11-25 12:33] #6476 closed, assigned to vinceAmstoutz

[2022-11-25 12:33] alexander-schranz commented on #6476
Implemented by @vinceAmstoutz in #6910 🎉 Part of upcoming 2.6

[2022-11-25 12:34] alexander-schranz commented on #6198
Implemented by @vvasiloi in #6906 🎉  will be part of upcoming 2.6 release :)

[2022-11-25 12:34] #6198 closed, assigned to vvasiloi

[2022-11-25 12:35] alexander-schranz commented on #6886
Thank you for implementing this 🎉  will be part of the upcoming 2.6 release :)

[2022-11-25 12:35] #6886 closed, assigned to nobody

[2022-11-25 12:39] alexander-schranz commented on #6912
@remdan we had that it the previous version and did decide not implement it again in 2.0. As it was confusing content manager that they were not in the root directory, when opening the Media section after some time again.

Maybe we could reimplement it when we add some kind of timelife for this kind of "user settings", so the Collection is remember for the time my session is valid. But not sure ho

[2022-11-25 17:36] nozarashi20 commented on #6882
Hi @alexander-schranz , I can tackle this one

[2022-11-26 15:22] alexander-schranz commented on #6882
@nozarashi20 sure, pull request welcome :)

[2022-11-26 23:03] rogoit opened #6940 "Add og and other meta tags from demo project project to the core seo meta twig file"
| Q | A
| --- | ---
| Bug? | no
| New Feature? |yes
| All versions

#### Actual Behavior
Base template has no meta tags for social media

How does Sulu behave at the moment?
Zou have to implement every time

#### Expected Behavior
Includes meta from demp bundle

What do you think?

[2022-11-28 16:13] scasei opened #6917 "Problem building admin interface"
# For all stumble over this issue [update your sulu](https://docs.sulu.io/en/2.5/upgrades/upgrade-2.x.html) to the latest supported version (currently: `2.4.9` and `2.5.5`.
## All which can not update checkout: https://github.com/sulu/sulu/issues/6917#issuecomment-1330341954

----------

| Q | A
| --- | ---
| Sulu Version | 2.5.5
| PHP Version | 8.1.9
| DB Version | Ver 8.0.30-0ubuntu0.20.04.2 for

[2022-11-28 16:54] alexander-schranz commented on #6917
@scasei Thank you for the report. It looks like `this.sortedTabRoutes[selectedTabIndex]?.options?.disableTabGap` is today supported by all major browsers. But sadly webpack `terser parser` itself does not support it.

We already had a similar issue in the past here: https://github.com/sulu/skeleton/pull/155/files.

So we need to find which babel plugin could solve this issue. Do you want to tackle

[2022-11-28 17:06] alexander-schranz commented on #6917
Did talk with @niklasnatter he things that we require now: https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining. @scasei Do you want to create a pull request for this for the `2.4` branch for sulu/sulu and sulu/skeleton?

[2022-11-28 19:13] scasei commented on #6917
@alexander-schranz Great, thank you, that seems to work. I will create a PR tomorrow.

[2022-11-29 07:46] ampaze commented on #6414
Can I maybe get some more attention to this bug?

The problem really is, that `request.resourceLocator`is false.

Can we not just set request.resourceLocator equal to the url of the current page?

[2022-11-29 08:03] GandonNicolas commented on #6917
Hi,

I'm having the same problem on the admin build.
I've tried adjusting the `.browserlistrc` file but I can't find the right syntax to workaround the problem.

Can anyone give me an example please?

[2022-11-29 08:12] scasei commented on #6917
@GandonNicolas The changes you have to make are here: https://github.com/sulu/skeleton/pull/199/files

[2022-11-29 09:34] alexander-schranz commented on #6917
### <a id="fix-2">Fix for</a> `>     const disableGap = selectedTabIndex !== undefined ? this.sortedTabRoutes[selectedTabIndex]?.options?.disableTabGap : false;`

For all running into this problem but not able to update this is the git patch:

[code]

-------------

### Fix for `> export * as DomUtils from "domutils";`

Another issue appears lately is the update of sanitze-html from 2.7.3 to 2.8.0

[2022-11-29 10:11] GandonNicolas commented on #6917
Thank you for your response 🙏

[2022-11-29 10:55] scasei commented on #6917
@alexander-schranz Thank you

[2022-11-29 12:03] alexander-schranz commented on #6917
@scasei Thx for the PR.

Issue is fixed via:

 - #6918
 - sulu/skeleton#199

We will avoid similar problems via the hardcoded browserlist:

 - #6919
 - sulu/skeleton#200

We will create a release soon.

[2022-11-29 12:03] #6917 closed, assigned to nobody

[2022-11-29 12:05] alexander-schranz commented on #6343
I added a comment in the issue description about our now hardcoded browserlist because of the webpack 4 terser parser, which can be removed when updating to webpack 5.

[2022-11-29 12:53] alexander-schranz commented on #6381
@naitsirch Yes sharing the form structure between 2 templates the `xi:include` feature is still the way to go. It can be used for any kind of xml data not only blocks also for sections.

This feature is then more about not sharing block form metadata instead sharing also whole content. And make it possible for the content manager change a reuseable block which can be used on different pages. But s

[2022-11-29 13:58] luca-rath commented on #6381
@alexander-schranz I can think of two different examples of how reusable blocks could be nicely implemented, but I don't think that would affect the JSON Schema implementation a lot.

## Option 1

[code]

[code]

(I would personally prefer an approach like this this one)

## Option 2

[code]

[code]

I think in both cases, it doesn't matter, where the json schema comes from. A `PropertyMetadataMap

[2022-11-29 14:30] alexander-schranz commented on #6381
@luca-rath it will be global like in having an `config/templates/content-blocks/*.xml` as they need a `global` unique key. In the `block` content type they will be maybe referenced this way:

[code]

Okay splitting and including something like `$ref` you think should work. Like in this example: https://stackoverflow.com/questions/18376215/jsonschema-split-one-big-schema-file-into-multiple-logical-

[2022-11-29 14:33] luca-rath commented on #6381
Yeah I saw after answering ... I didn't read the issue carefully before 😂

at least ajv supports that, yes

[2022-11-29 14:36] luca-rath commented on #6381
Our own json schema implementation on the server side doesn't support it yet, but that shouldn't be a big deal