[2020-12-01 11:12] nnatter commented on #5674
Is it possible that you have not updated the build of the administration interface when upgrading you application?
You can do that by using the `bin/console sulu:admin:update-build` command:
https://docs.sulu.io/en/2.2/upgrades/upgrade-2.x.html

[2020-12-01 11:17] ymc-thzi commented on #5674
YES, that's it 😃
Thanks a lot for the awesome response time and the fix

[2020-12-01 11:17] #5674 closed

[2020-12-01 13:51] nnatter opened #5676 "Allow to configure route generation for custom entities consistent to pages"
### Basics

There are two basic strategies when it comes to route generation at the moment.

#### Strategy 1: Live generation in Form based on `sulu.rlp.part` tag (used for pages)

In this strategy, properties that have a `sulu.rlp.part` tag are sent to the server via AJAX request when the form is edited. The value of the route is updated directly in the form, even without saving. On save, the alr

[2020-12-01 14:16] nnatter commented on #5025
Just tested this on `2.1.6`. The issue does not occur anymore 🎉

[2020-12-01 14:16] #5025 closed

[2020-12-02 14:46] #5579 closed

[2020-12-03 12:57] etidimjav opened #5680 "Role list limit bug for contact permission"
| Q | A
| --- | ---
| Sulu Version | 2.1.2

# Actual Behavior

The role list in contact permission is blocked to 10 items despite there is more than 10 roles.

# Expected Behavior

No limit for this list.

[2020-12-03 13:04] nnatter commented on #5680
Thanks for reporting! It looks like the `ResourceMultiSelect` (which is used in the `RoleAssignments`) does not pass any `limit` parameter to the `ResourceListStore`. Because of this, the API uses the default limit of 10.

[2020-12-03 13:08] saphrus opened #5681 "Browser crashes on input of faulty, complex URL in URL Field within backend"
| Q | A
| --- | ---
| Sulu Version | 2.1.5
| Browser Version | Chrome 87.0.4280.88 / Firefox 83.0

# Actual Behavior

When you enter a complex, faulty URL (e.g. `https://secret-secret-secret-secret-secret.secret-secret.com/de/publicservicedetail?q=elterngeld beantragen&id=8969217&organisationid=208445263` (the space character between "elterngeld" and "beantragen" being the fault)) in an URL input

[2020-12-03 13:52] alexander-schranz commented on #5681
I personally would remove the regex as today there with kind of things like applinks e.g. `myapp://` or other things I don't really see why we should add any validation. Also I think the regex does not support IPv6 which would also be more complicated as see for example the [Symfony Url Validator](https://github.com/symfony/symfony/blob/31ee43a8c67897a2f61782060965f5c8a81f58a2/src/Symfony/Componen

[2020-12-03 16:56] #2938 closed

[2020-12-04 10:38] luca-rath commented on #5681
Since we've added the possibility to define json-schema per field type recently, we could use that for validation. The `uri` format is even included in the spec (https://json-schema.org/understanding-json-schema/reference/string.html#resource-identifiers)

[2020-12-04 10:40] luca-rath commented on #5681
But this functionality has been introduced in the current `master` and the bug already existed in `2.1`, so validation would be completely missing in `2.1` and `2.2` versions, if we just remove the regex validation

[2020-12-04 10:59] alexander-schranz commented on #5681
@luca-rath I think with the select for the schemas we definitly have enough validation without adding some regex or json validation. I think currently the regex validation does harm more then its useful don't see any need as doing more as a normal browser currently validates for the url input type, also urls are mostly copied and not inputted manually.

As an example [🏹.to](https://🏹.to) is a inva

[2020-12-05 10:48] plozmun opened #5687 "Allow multiple Segments in resources"
# Problem description

Segments is a great feature but I think it could be improved by allowing multiple segments to be assigned to pages or blocks.
Use case:

- Some Pages assigned to autumn or spring and others to summer and winter
- One page only assigned to autumn but not spring.
- Etc..

# Proposed solution

Allow to select more than one segment

[2020-12-06 20:38] kfrohwein opened #5688 "Unable to run sulu:build dev after update from 2.1.2 to 2.2.2"
| Q | A
| --- | ---
| Sulu Version | 2.2.1

# Actual Behavior

2.1.2 runs fine. sulu:build dev shows no problems and after that I have an empty system.
2.2.2 just fails during the installation with the error you can find below.

Error message is:  `[PHPCR\ItemNotFoundException]      Item /cmf/dy/contents not found in workspace default_live`

I can change branches and composer install to 2.1.2 and

[2020-12-07 09:44] #431 closed

[2020-12-07 11:16] alexander-schranz commented on #5688
@kfrohwein the error message looks for me like a database was imported and the [phpcr cache](https://github.com/sulu/skeleton/blob/2.2.2/config/packages/prod/sulu_document_manager.yaml) was not cleared. If its locally you can clear the phpcr cache with:

[code]

for your prod as I know is multi server setup there the `cache.app` should be a central cache like [redis]https://github.com/sulu/skeleto

[2020-12-08 19:37] rogoit opened #5689 "Select organisation image from media"
# Problem description
Actual you have to upload a new logo version. i have different colored logos and just want to change it

# Proposed solution
Use media by logo update

[2020-12-09 12:18] nnatter commented on #5689
Sorry, I dont understand the description 😕  What exactly are you trying to do?

[2020-12-09 13:03] rogoit commented on #5689
Hi and thx for response. I only can upload a logo for a oganisation and not select it from the media library ;)

[2020-12-09 13:33] nnatter commented on #5689
Thanks for clarifying! I think this is implemented like this intentionally and we dont want to change the behaviour because of the following reasons:

- Uploading an avatar for a contact or an organisation will store the image inside of the `System/Sulu contacts` collection. This collection is a system collection that is not editable via the `Media` section of the admin interface to prevent uninte

[2020-12-09 13:34] ymc-thzi commented on #5680
Having the same issue. Is there some workaround?

[2020-12-09 13:43] nnatter commented on #5680
I think you could overwrite/decorate the `ListRestHelper` in your project and adjust the behaviour of the `getLimit` method:

- https://symfony.com/doc/current/bundles/override.html#services-configuration
- https://github.com/sulu/sulu/blob/master/src/Sulu/Component/Rest/ListBuilder/ListRestHelper.php#L101-L115

[2020-12-09 13:47] alexander-schranz commented on #5680
The simpliest way would be create a [Request EventSubscriber](https://symfony.com/doc/current/event_dispatcher.html#event-aliases). Which does something like `$request->query->set('limit', '');`  like:

[code]

[2020-12-09 14:02] rogoit commented on #5689
Ok, but for editors it would be easier i think. Also the workflow. Designers could upload things and editors use ;)

[2020-12-09 15:35] luca-rath opened #5693 "Sulu repositories using / not using github actions"
These are the most important repositories, which need to be migrated from travis to github actions.

# Sulu

- [x] https://github.com/sulu/sulu
- [x] https://github.com/sulu/skeleton
- [x] https://github.com/sulu/sulu-minimal
- [x] https://github.com/sulu/sulu-docs
- [x] https://github.com/sulu/SuluArticleBundle
- [x] https://github.com/sulu/SuluFormBundle
- [x] https://github.com/sulu/SuluRedirec

[2020-12-09 16:00] alexander-schranz commented on #5693
Did find out that over [https://github.com/search](https://github.com/search) you can search for [`user:sulu filename:.travis.yml`](https://github.com/search?q=user%3Asulu+filename%3A.travis.yml&type=code).

We should not forget that we have also other organizations repository which we maybe need to migrate:

 - [handcraftedinthealps](https://github.com/search?q=user%handcraftedinthealps+filename%

[2020-12-09 16:16] luca-rath commented on #5693
Updated the issue description

[2020-12-09 16:21] alexander-schranz opened #5694 "Add media `single_collection_selection` field type"
| Q | A
| --- | ---
| Sulu Version | for `2.x`
| Browser Version | -

# Actual Behavior

Currently there is no field type or content types for media collections.

# Expected Behavior

In some cases it would be great to have a `single_collection_selection` field type or also a `collection_selection`. Example the sulu form bundle could use it to make it possible to set the target collection for uplo

[2020-12-10 10:13] alexander-schranz commented on #5233
Just want to document it here and let to know that this is still something on our list, we did not yet implement the publication workflow in the [`SuluContentBundle`](https://github.com/sulu/SuluContentBundle/blob/0.4.0/Content/Application/ContentWorkflow/ContentWorkflow.php) but the workflow does exist there the following way. Which maybe could be reused in the sulu core we are currently in desig

[2020-12-10 12:56] alexander-schranz commented on #3051
@sulu/core-team I renamed this issue as I think we should overthink the `Internal Type` to work with `media`, `articles` or any other custom link provider which we also use inside the text editor. For symfony routes it would also be possible to provide a [link provider](https://docs.sulu.io/en/stable/cookbook/link-provider.html) if needed.

In 1.6 @wachterjohannes in a custom project created a lin

[2020-12-10 13:39] SirCoffeeMonkey commented on #3051
+1 for enabling custom link providers

[2020-12-10 13:43] alexander-schranz opened #5696 "Disable request analyzer validation for static routes"
# Problem description

Currently the request analyzer validate is called for any called url and could end in some errors for static routes: https://github.com/sulu/sulu/discussions/5695

# Proposed solution

I think it would be good that static routes which are not from `type: portal` are not validated and should not throw an exception. The webspace will be still available if its a partial match o

[2020-12-10 14:00] danakil opened #5697 "The "localizations" entry is not always available in the templates"
| Q | A
| --- | ---
| Sulu Version | 2.2.2
| Browser Version | Firefox Linux

# Actual Behavior

Sulu should provide a "localizations" variable in each templates.
It does not provide it for templates rendered from custom controller, instead there is a "urls" variable which seems deprecated.

# Expected Behavior

The "localizations" variable should be available in all the templates.

# Steps to Rep

[2020-12-10 16:08] nnatter commented on #5697
Should hopefully be fixed by #5698

[2020-12-10 16:08] #5697 closed

[2020-12-11 07:55] danrot commented on #5291
Just started looking at this issue. The first problem we have to solve is the impossibility to have different `visible` and `disabled` results per block. The following diagram should give an idea of the way the forms are currently structured and why this is a problem.

![2020-12-11_FormConditions](https://user-images.githubusercontent.com/405874/101874263-dc25fc00-3b88-11eb-9264-d3b7e30be41b.png)

[2020-12-11 08:54] nnatter commented on #5291
Thanks a lot for working on this! I think `__current` and `__parent` sounds good.

Would it make things easier if conditions inside of blocks would always be evaluated relative to  the data of the current block (`block-property` for a property in the current block, `/root-property` for a property in the root of a template)? I know this would be a small BC break and there is also the question how t

[2020-12-11 09:45] luca-rath commented on #5291
There exists a draft about relative json pointers here https://tools.ietf.org/id/draft-handrews-relative-json-pointer-00.html, so maybe we should stick to that syntax? The downside, it's also not implemented in the `json-pointer` library we use and the existing issue https://github.com/manuelstofer/json-pointer/issues/29 is not really active 😬

[2020-12-11 09:58] danrot commented on #5291
It's probably a good idea to support the existing standard anyway :-)

[2020-12-11 10:04] alexander-schranz commented on #5291
I think I would go with `__current` and `__parent` first I thought about maybe converting `../` and `./´ into this variables but this magic I think will make more problems as what when I want todo something like `"path != "./test"` here the `./` or `../` should not getting replaced with `__current` or `__parent`.  So I would here say we provide the variables instead directly and they can use them.

[2020-12-11 10:07] luca-rath commented on #5291
I just saw `json-pointer` in the [package.json](https://github.com/sulu/sulu/blob/master/src/Sulu/Bundle/AdminBundle/Resources/js/package.json#L29) and thought, this library would be used 🙄

[2020-12-11 12:31] danrot commented on #5291
@luca-rath This library is used, but json pointers are not used in combination with jexl (yet). Alex's message above has also confused me a bit :see_no_evil:

[2020-12-11 14:11] nnatter commented on #5312
There were a few changes regarding validation in the recent weeks, therefore I want to add a small update here. We have added a new `PropertyMetadataMapperRegistry` in #5640 that is used to generate a specific JSON schema for a given form property. The idea is to generate a JSON schema as specific as possible for a given form configuration. This JSON schema then can be used for data validation in

[2020-12-11 14:20] luca-rath commented on #5193
As an alternative to @danrot's suggestion, ajv supports validation of a specific field based on the data of another field.

[code]

See https://github.com/ajv-validator/ajv/blob/master/docs/validation.md#data-reference

[2020-12-11 14:20] nnatter commented on #3051
Think this is now also related to https://github.com/sulu/sulu/issues/4966 🙂

[2020-12-11 14:31] dieter-pollier opened #5701 "Add Flysystem V2 Support"
| Q | A
| --- | ---
| Sulu Version | 2.2
| Browser Version | Browser name and version

# Actual Behavior

When I configure S3 as external media storage, I get the following error on the cli:
`Unrecognized option "s3" under "sulu_media.storages". Available option is "local".`

# Expected Behavior

Sulu should recognize the configuration

# Steps to Reproduce

I followed the docs: https://docs.sulu.

[2020-12-11 14:34] alexander-schranz commented on #3051
@nnatter thx for linking this is definitly something we could also think about that we have a kind of LinkProvider for external links. Not sure how we handled this in the UX, as i should not have to need to open an overlay to paste my copied url. But I like the idea, but think we definitely need here a bigger concept how to combine DX and UX.

[2020-12-11 14:35] sabinebaer opened #5702 "Return absolute URLs when resolving sulu-link tags"
| Q | A
| --- | ---
| Sulu Version | 2.1.2
| Browser Version | N/A

# Actual Behavior

Media added to a text area by using the `sulu-media` tag are replaced with relative urls in emails and therefore can not be loaded in the email.

# Expected Behavior

`sulu-media` tags should be replaced with absolute urls.

# Steps to Reproduce

We are using the `SuluFormBundle` and want to use the `sulu-media`

[2020-12-11 14:36] nnatter commented on #5701
Hey, thanks for reporting. The `s3` option is only available if the `League\Flysystem\AwsS3v3\AwsS3Adapter` is found:
https://github.com/sulu/sulu/blob/0a30e7978638c8c0192768a468f324f34c0ed0ea/src/Sulu/Bundle/MediaBundle/DependencyInjection/Configuration.php#L210-L229

Does this class exist in your project?

[2020-12-11 15:05] dieter-pollier commented on #5701
Thanks for your reply. It seems that the name of the class has been changed in version 2.x: https://github.com/thephpleague/flysystem-aws-s3-v3/tree/2.x.
I installed using the command: `composer require league/flysystem:^1.0.0 league/flysystem-aws-s3-v3:^1.0.0`, and now the config gets loaded.

[2020-12-11 15:07] nnatter commented on #5701
Thanks for the information! I will create a PR for the documentation 🙂

[2020-12-13 19:32] alexander-schranz commented on #5701
I will keep this issue open as I think we should find a way in future to support the new [flysystem version](https://flysystem.thephpleague.com/v2/docs/advanced/upgrade-to-2.0.0/). We currently only support v1. We maybe need at current state add a `conflict` for version 2 package.

[2020-12-14 09:09] nnatter commented on #5701
Reminder: Revert https://github.com/sulu/sulu-docs/pull/604 when this is solved 🙂

[2020-12-14 09:19] nnatter commented on #5702
I think you are talking about the `sulu-link` tag with the `media` provider (eg `<sulu-link href="123" provider="media" />`), right?

Is there a usecase where `sulu-link` tag should be resolved to a relative link? If not, I think we could adjust the `LinkTag` to solve this for all providers? @sulu/core-team

[2020-12-14 09:23] luca-rath commented on #5702
The only usecase I could think of would be the headless bundle to allow following the link without actually refreshing the page. But I don't know if there is even a resolver for the `sulu-link` tag in the headless bundle yet

[2020-12-14 09:26] nnatter commented on #5702
When using the included JS setup, the `interceptAnchorClick` util in the `SuluHeadlessBundle` should already work with absolute URLs 🙂
https://github.com/sulu/SuluHeadlessBundle/blob/1ba404d1c12383c0ac49072f5775707bcad03e14/Resources/js-website/src/utils/interceptAnchorClick.js#L39-L48

[2020-12-14 09:27] luca-rath commented on #5702
okay, then it's fine 👍

[2020-12-14 09:27] alexander-schranz commented on #5702
@nnatter I think it does not harm creating absolute always urls. The best way to implement this for all providers would be https://github.com/sulu/sulu/blob/7ca6a5e0d22d69c69d45f39ca52a156e75d2adfc/src/Sulu/Bundle/MarkupBundle/Markup/LinkTag.php#L55 using the `urlHelper` by symfony for [absolute_url](https://github.com/symfony/symfony/blob/494ef421c554a78b38c6779c4b7deb9a20d89923/src/Symfony/Bridg

[2020-12-14 09:45] #4128 closed

[2020-12-14 15:59] jordygroote commented on #3309
@aubryfr @Quehnie
We had the same problem. And solved it like this.
- Made custom admin to configure views, add settings permissions and add navigation items (General)
- Made custom view in react
- Parse website_settings.xml into FormStore
- Made custom API endpoint to save and get global settings
- Provide the settings to TWIG so we can do `{{ settings.companyName }}` in any twig file and will ge

[2020-12-14 17:49] nnatter commented on #3309
@jordygroote Nice solution! Implementing a basic settings entity should even be possible without adding custom Javascript. The trick is to set a default for the `id` attribute to make Sulu load the entity 🙂  I just added an example for this here: https://github.com/sulu/sulu-demo/pull/88

[2020-12-15 10:35] danrot commented on #5291
I have just implemented the `__current` variable in the most straightforward way (at least IMO) and that didn't result as we've imagined that above. I would have set the `__current` variable to the `value` passed to the current field. That means that a `text_line` field would receive the value of the `text_line`, ergo a string instead of an expected object.

It would be easy to implement as we've

[2020-12-16 09:57] jordygroote opened #5709 "Frontend displays required error message even though the property of the block is not mandatory"
| Q | A
| --- | ---
| Sulu Version | 2.2.2

# Actual Behavior

Sulu displays a mandatory message when you focus/de-focus the input field

![Schermafbeelding 2020-12-08 om 14 43 40](https://user-images.githubusercontent.com/8653367/102332268-272a7f80-3f8c-11eb-95ae-383c10ebfb6a.png)

# Expected Behavior

The field is not mandatory so it should not give the user the message that it cannot be empty.

[2020-12-16 10:14] alexander-schranz commented on #5709
Thx for report sounds for me like the json schema does not correctly check for the `type` of the block. /cc @danrot @luca-rath

[2020-12-16 14:11] #4976 closed

[2020-12-17 08:04] plozmun commented on #2815
It would be useful to have some widgets that make it easier for the content editor to access its latest resources.

Some useful widgets:
- Drafts ( Last unpublished pages created by user but not published )
- Published pages ( Small list to access last published pages )

Maybe later create a skeleton for developers (or sulu bundles ) to create their own widgets ( Last Events , Last data submitted

[2020-12-17 09:01] danrot commented on #5680
Fixed in #5707. Thanks for reporting!

[2020-12-17 09:01] #5680 closed

[2020-12-18 16:37] #5291 closed

[2020-12-18 16:41] nnatter commented on #5291
This was fixed in #5705 - Sulu 2.3 will finally allow to use a `__parent` variable inside of conditions to access the current block 🎉

See the documentation PR for an example how to use this: https://github.com/sulu/sulu-docs/pull/609

[2020-12-21 10:23] alexander-schranz commented on #5688
Closing this because of inactivity. Please feel to to add additional information here, so we can reopen it when there is still an issue.

[2020-12-21 10:23] #5688 closed

[2020-12-21 17:33] aubryfr commented on #3309
Thanks a lot for the answer, @jordygroote!
(I'm not working with this at all anymore, but @valentinwatel might be interested)

[2020-12-23 10:12] #4994 closed

[2020-12-23 11:16] nnatter opened #5718 "Gap between preview toolbar and popover"
| Q | A
| --- | ---
| Sulu Version | dev-master

The preview pane renders a gap between the toolbar and the datetime popover. I think this **should be fixed before releasing Sulu 2.3**. See also https://github.com/sulu/sulu/pull/5608#issuecomment-749464478

![Screenshot 2020-12-23 at 12 06 38](https://user-images.githubusercontent.com/13310795/102991055-bd285200-4518-11eb-8147-5e34b385b2b0.png)

[2020-12-23 11:25] alexander-schranz commented on #5375
This was also reported in the slack channel:

![dropdown-behind-fields](https://user-images.githubusercontent.com/1698337/102991581-c5cd5800-4519-11eb-9c40-bc41f009c710.png)

Here we have a strange behaviour also with the "Add Button" of the Selection.

[2020-12-27 20:09] StaffNowa opened #5724 "[SymfonyInsight] Your project gitignore file should not contain user-specific files 2"
# Problem description
Your project gitignore file should not contain user-specific files 2

# Proposed solution
I think better set up a global .gitignore file
[code]

[2020-12-29 07:29] StaffNowa opened #5725 "Uncaught (in promise) TypeError: a.items.map is not a function"
| Q | A
| --- | ---
| Sulu Version | 2.2.3
| Browser Version | Google Chrome Version 87.0.4280.88 (Official Build) (64-bit)

# Actual Behavior

Sulu Admin on Smart Content returns error Uncaught (in promise) TypeError: a.items.map is not a function

# Expected Behavior

Return correct representation

# Steps to Reproduce

1. Create Smart Content with custom data provider
2. Return bad indexes into

[2021-01-01 17:11] StaffNowa opened #5726 "symfony/http-foundation 5.2 => 6.0"
# Problem description

[code]

# Proposed solution

Possible solution change Request::HEADER_X_FORWARDED_ALL into Request::HEADER_X_FORWARDED_FOR

[2021-01-03 15:10] rflorent opened #5727 "Custom form "Page block settings" for page template"
Hello,

I try to set a custom form block setting as described in [https://docs.sulu.io/en/2.2/reference/content-types/block.html#extending-block-settings](url) with settings_form_key, for some blocks in my page template.
My custom form settings is not loaded, still have the default form "page_block_settings.xml"
My blocks params :

[code]

My setting form in config/forms/page_section_settings.xml

[2021-01-05 13:00] timkoopmans50 opened #5728 "Selection field type should use order of given ids for displaying items"
# Problem description
If you make an entity selection (https://docs.sulu.io/en/2.2/book/extend-admin.html) you can select multiple entities. In your controller you would handle saving it in this specific order to an intermediary entity (the component allows for re-ordering using drag and drop), and in the getter of your entity you would then simply retrieve and sort the entities before returning t

[2021-01-05 13:55] alexander-schranz commented on #5724
@StaffNowa Thank you for report. I think with `user-specific` files you talk about `/.idea` and `.DS_Store`. Where I personal agree that this should be the case. We did add this file to make contributions as easy as possible to sulu. If we do not add them they are maybe accidentally commitet by contributors and we need then always ask them to remove them or do it ourself. I think this files do not

[2021-01-05 14:05] alexander-schranz commented on #5727
@rflorent thx for report. Can it be that the following part does always override your param: https://github.com/sulu/sulu/blob/60901bf750bc324816e7231fac76d1d35d87e9e1/src/Sulu/Bundle/AdminBundle/Metadata/FormMetadata/StructureFormMetadataLoader.php#L184-L187 Then this would be a bug which should be fixed there.

[2021-01-05 14:06] StaffNowa commented on #5724
For me ok :+1: like we have now :-1: Just checked Symfony Insight report :)

[2021-01-05 14:58] alexander-schranz commented on #5724
@StaffNowa oh thx for sharing the result. I will close this one as I see currently not advantage for removing them.

[2021-01-05 14:58] #5724 closed

[2021-01-05 15:07] alexander-schranz commented on #5726
@StaffNowa currently we support a range from 4.4 to 5.x. This means that we will have Symfony Deprecations which were introduce after 4.4. This deprecations will not be changed until we will cancel the support for 4.4 which I think will not happen before we support Symfony 5.4 LTS / 6.0 is released. Still thank you for report. So we can change this only when it is supported that way also in the 4.

[2021-01-05 15:10] alexander-schranz commented on #5725
You need to return it as an array. If its not an array with 0, 1, 2, ... the JSON serializer will convert it into a `object` instead of an `array`. So adding `$entities = array_values($entities);` is required here.

[2021-01-05 15:35] rflorent commented on #5727
@alexander-schranz thanks, that's right, this part override my params. If I comment out, my custom setting form is loaded but the "page_block_setting" param is lost (hide block).

How can I do to keep the hide block setting with my custom settings ? put it on my custom form ?

[2021-01-05 15:38] StaffNowa commented on #5725
@alexander-schranz thanks for your response :)

[2021-01-05 15:38] #5725 closed

[2021-01-05 15:41] StaffNowa commented on #5726
@alexander-schranz ok I will check it ;)

[2021-01-05 16:49] alexander-schranz commented on #5726
@StaffNowa as the skeleton always is installed with the newest version of symfony/symfony in the `sulu/skeleton` repository we can use the new [index.php](https://github.com/symfony/recipes/blob/master/symfony/framework-bundle/5.1/public/index.php)

[2021-01-05 16:52] alexander-schranz commented on #5727
@rflorent I think we need to check if no other value was set by using `!array_key_exists('settings_form_key', $itemMetadata->getOptions())` in the if statement. Do you want to create a PR for this for the 2.2 branch?

[2021-01-06 15:13] alexander-schranz commented on #5728
@timkoopmans50 can it be that your API does not keep in mind the order of the given `ids`. See as example: https://github.com/sulu/sulu/blob/40f01fe03dc4e4839745b1f25c68d9b476cbd16c/src/Sulu/Bundle/MediaBundle/Controller/MediaController.php#L301-L306

Or does your api return it in the correct order you send the `ids` request?

[2021-01-06 19:33] kfrohwein commented on #5688
Hi,

I am back from the dead :slightly_smiling_face:

It's really an empty and fresh install for local development.

Seems like a kind of race condition.

First sulu does `\Sulu\Component\Webspace\Document\Initializer\WebspaceInitializer::initializeWebspace`

and invokes
[code]
but after that the document is not created and the next lookup fails with the exception caught before inside `\Sulu\Compo

[2021-01-06 20:54] kfrohwein commented on #5688
I am lost in the event system. Yes it still looks like a cache problem because I can't find the UUID of the parent note that sulu is using to write the data. Still it seems to get that UUID from somewhere.

So all in all I can say that the event system should persist the new webspace homepage but doesn't. And the next look up of this page fails. Maybe as we are the only one in the world using PGSQ

[2021-01-06 22:58] alexander-schranz commented on #5688
@kfrohwein does this only happen on `prod` env or also on `dev` env? Only the `prod` env has the phpcr cache active. If you want to run `sulu:build dev` on prod env you need to make clear that you cleared before the phpcr cache which is stored in the `cache.app` which you maybe did configure to be saved in redis so the cache pool clear command is needed as written above. But you could test it if i

[2021-01-07 09:09] friemt opened #5730 "Sulu Media Ghostscript Path can't handle env values"
| Q | A
| --- | ---
| Sulu Version | 2.2.2
| Browser Version | all

# Actual Behavior

[code]

- `path: '/usr/local/bin/gs/'` does work
- `path: '%env(GHOSTSCRIPT_BINARY)%'` does not work
- `path: '%env(resolve:GHOSTSCRIPT_BINARY)%'` does not work
- `path: '%ghost_script_path%'` does not work

# Expected Behavior

[code]

- `path: '/usr/local/bin/gs/'` does work
- `path: '%env(GHOSTSCRIPT_BINARY)%

[2021-01-07 09:56] kfrohwein commented on #5688
No redis and it is locally with `APP_ENV=dev`. I tried my prod DB yesterday and I just had to do one doctrine migration and it did run well. So I try our staging system now but that should work.

The only problem I have is doing a fresh, local install of the DEV env without any extra cahing deamon.

[code]

[2021-01-07 09:58] kfrohwein commented on #5688
My best guess is still that the PGSql transaction or something is not flushed after the node should be persisted. But I don't know why. Everything else except PGSql is standard sulu.

[2021-01-07 10:21] alexander-schranz commented on #5688
@kfrohwein which version of PostgreSQL are you using? Can you test locally if the error also happens with a older postegresql version like 11?

Can you also show the output of:

[code]

[code]

[code]

I'm not familiar with postgresql transaction and can not help here. The error is familiar for me only when somebody forgot to delete the caches before running sulu:build on a new or changed database

[2021-01-07 11:39] kfrohwein commented on #5688
[code]
[code]
[code]

[2021-01-07 11:51] kfrohwein commented on #5688
Emptied all caches like you suggested, dropped the DB and recreated but no change. The first, french Webspace's homepage DY is not created.

[2021-01-07 11:57] alexander-schranz commented on #5688
@kfrohwein can you try to create a new sulu/skeleton project with:

[code]

Configure your PostgreSQL:

[code]

And then run with the example webspace:

[code]

Does this work without problems?

[2021-01-07 12:46] alexander-schranz commented on #5633
This is duplicated to #4066 so I will close this one. Please add your additional informs there.

[2021-01-07 12:46] #5633 closed

[2021-01-07 14:55] kfrohwein commented on #5688
I did deploy 2.2.3 against our PROD DB and I get the same errors as during installation. So we can't add any PHPCR nodes with 2.2.3

[2021-01-07 14:56] kfrohwein commented on #5688
[code]

[2021-01-08 16:06] kfrohwein commented on #5688
I tested the following:

- Copy my dockersetup
- copy the 2.2.3 skeleton into the project( our src) folder
- Changed the doctrine settings to pgsql
- used my currect env.local
- composer install
- sulu:build dev

I have to say this sadly works :unamused:

So it is "something"(tm) in my installation and not the sulu base system.

I will now compare the composer info data and sure if you have any su

[2021-01-08 16:15] alexander-schranz commented on #5688
As next step I would try to copy your `config/webspaces/*` into the the clean sulu/skeleton instalaltion and try again.

[2021-01-08 17:17] kfrohwein commented on #5688
Exactly what I just did. I deleted all my /config and it worked again. And in the end it was that I did reorder bundles.php...

I have no clue why the order of the bundles killed my system but now it works like intended and I did learn it the hard way. I remmeber that I posted a pull request because every time I did an update I did compare the file by hand. So I did a PR with an alphabetical sort.

[2021-01-11 09:27] niklasnatter commented on #5728
Thanks for reporting this!

The `Selection` field type will load the selected entities by requesting the list API with an `ids` parameter. This `ids` parameter will contain the selected ids in the correct order. At the moment, the field type expects that the list API of the entity respects the order of the ids in the `ids` parameter. For example, the sulu-demo implements this sorting in the `Doctr

[2021-01-11 09:52] niklasnatter commented on #5730
Thanks a lot for reporting! Should be fixed in the next release by https://github.com/sulu/sulu/pull/5740

[2021-01-11 09:52] #5730 closed, assigned to nobody

[2021-01-11 10:08] niklasnatter commented on #5709
Thanks a lot for the report! Should be fixed in the next release by https://github.com/sulu/sulu/pull/5715

[2021-01-11 10:08] #5709 closed

[2021-01-11 10:12] niklasnatter commented on #5726
Thanks for reporting! Should be fixed by https://github.com/sulu/sulu/pull/5729 🎉

[2021-01-11 10:12] #5726 closed

[2021-01-11 17:04] rflorent opened #5743 "Backend javascript media queries on key pressed"
| Q | A
| --- | ---
| 2.2.3 |
| 7.3 |
| MariaDB |
| Firefox 84.0.2 |

# Actual Behavior

On backend's xml template page form, after selecting a media (field block), every key pressed on a text field, or a action on a field will call a media request.  Overload and slowness make the backend unusable.

# Expected Behavior

No useless request

# Steps to Reproduce

Open web debug tools, add ou edit a

[2021-01-11 17:45] alexander-schranz commented on #5743
@rflorent Thx for report could be that we did introduce here a bug in #5576

/cc @nnatter @Prokyonn maybe we forget to add somewhere to add a `key` property and instead of reuse a component it create a new instance of it and do a new request.

[2021-01-12 14:05] niklasnatter commented on #5375
Thanks for reporting! This should finally be fixed in the next release by https://github.com/sulu/sulu/pull/5744 🎉

[2021-01-12 14:05] #5375 closed

[2021-01-13 09:39] ymc-thzi opened #5746 "How to add a custom ToolbarAction"
I simply want to add a button to the list view in the admin. I found this in the docs

I have no idea how to start this. There is not one single example on the whole internet where and how to add an action. 😄
First of all, is it to do in JS or PHP?
Where and how can I set a custom ToolbarAction?

I tried almost everything setting ToolbarActions in the yml config files because of this doc entry som

[2021-01-13 09:40] luca-rath commented on #5746
There is an example how to do this 😉 See https://github.com/sulu/sulu-demo/pull/81

[2021-01-13 09:41] niklasnatter commented on #5746
Depending on where you want to add a toolbar action, the following example pull requests should be helpful:
- https://github.com/sulu/sulu-demo/pull/81
- https://github.com/sulu/sulu-demo/pull/82

[2021-01-13 09:45] ymc-thzi commented on #5746
cool, thanks for the hints

[2021-01-13 10:04] niklasnatter commented on #5746
The [Sulu Demo repository](https://github.com/sulu/sulu-demo/pulls?q=is%3Aopen+is%3Apr+label%3AExample) contains multiple pull requests that demonstrate how to extend different parts of the administration interface. The examples include adding custom toolbar-actions, content-types, list-field-transformers, list-item-actions and completely new views.

As the administration interface is a Javascript

[2021-01-13 10:04] #5746 closed, assigned to nobody

[2021-01-13 17:37] rflorent opened #5748 "tree_leaf_edit / smart_content : urls are not updated"
| Q | A
| --- | ---
| 2.2.3 |
| 7.3 |

# Actual Behavior

tree_leaf_edit used by default
I use a smart content to display a list of pages.
If I edit the url of the "source" page, child pages retrieved from the smart content are still with the old parent page url.
The admin preview looks good, new urls are used.
Old url redirect to new url thanks to url history. Without history, 404.
Cache cleared

[2021-01-13 18:15] luca-rath commented on #5748
How did you clear the cache? I just tried with the `Artists` page of https://sulu.rocks and after pressing `Webspaces -> Clear website cache` the urls on https://sulu.rocks/en/aartists are adjusted

[2021-01-14 11:08] niklasnatter commented on #5743
Thanks for reporting! Should be fixed in the next release by #5745

[2021-01-14 11:08] #5743 closed, assigned to nobody

[2021-01-14 15:31] niklasnatter commented on #5748
Hello,
thanks for your report!

Is the URL of the child page updated if you republish the child page?
Do you think that https://github.com/sulu/sulu/issues/5302 or https://github.com/sulu/sulu/issues/4990 cover your problem?

[2021-01-15 10:23] niklasnatter commented on #4563
Fixed by #5716

[2021-01-15 10:23] #4563 closed

[2021-01-18 09:32] YetiCGN commented on #3353
Thanks! That's exactly what I needed. Found this solution before when adding another language, but you don't add need languages every other day. ;-)

[2021-01-19 10:21] niklasnatter commented on #5693
As far as I see, we managed to move all `Sulu`, `HandcraftedInTheAlps` and `MASSIVE ART` repositories 🎉
Thanks everybody for working on this!

As we are not official maintainers of the `Jackalope` and `PHPCR` repos, I would propose to close this issue here.

[2021-01-19 11:17] #5693 closed

[2021-01-19 12:47] jordygroote opened #5759 "Profile overlay shows data of previous user when switching users without reload"
| Q | A
| --- | ---
| Sulu Version | Latest

# Actual Behavior

The edit profile keeps hanging on administrator eventhough i am not logged in as administrator.
Also the form is broken and cannot save.

# Expected Behavior

The edit profile modal is showing the correct info of the account and the form can be saved.

# Steps to Reproduce
- Be logged in as administrator
- Create account
- Login as ne

[2021-01-19 13:08] alexander-schranz commented on #5759
Seems like the form is not cleared. After refresh the new data is shown. I think the overlay should always load the data from the endpoint and not cache it.

[2021-01-19 14:19] alexander-schranz opened #5760 "Logout and Relogin on Contacts Permission Tab errors"
| Q | A
| --- | ---
| Sulu Version | 2.2.3
| PHP Version | 7.4.12
| DB Version | Mysql 5.7.35
| Browser Version |

# Actual Behavior

Logout and Relogin on Contacts Permission Tab errors with a JS error

# Expected Behavior

Should not error when relogin.

# Steps to Reproduce

Open [https://sulu.rocks/admin/#/contacts/2/permissions](https://sulu.rocks/admin/#/contacts/2/permissions)
When not logg

[2021-01-20 10:26] alexandersch commented on #5694
We would really like to see this feature. Could you maybe point us on the right direction in how to implement this or what your thoughts are about this?

[2021-01-20 10:52] alexander-schranz commented on #5694
@alexandersch a "Field Type" itself should not be much work. As the endpoint exist it just need something like the following configure in the `SuluMediaExtension`:

https://github.com/sulu/sulu/blob/b74039fb7acf16ed69d7e7e74dc83174a5a195ce/src/Sulu/Bundle/ContactBundle/DependencyInjection/SuluContactExtension.php#L167-L190

The content type here is more need to be discussed. As in this case it sho

[2021-01-20 10:55] niklasnatter commented on #5759
Sounds good. Solving this might be a good opportunity form implementing a reusable `FormOverlay` container in the core. I implemented something like that in a project recently:

[code]

[code]

[2021-01-20 12:53] smanhoff opened #5765 "Sulu auto scrolls to bottom of page"
| Q | A
| --- | ---
| Sulu Version | 2.2.3 / 2.1.7
| PHP Version | 7.4.12
| Browser Version | Chrome 88.0.4324.96 (Official Build) (x86_64)

# Actual Behavior

While using longer lists and increasing the page limit to 100 for example, relevant results are showing while scrolling which is great. But when another tab in browser is openend and you return to Sulu tab it seems Sulu always scrolls down

[2021-01-20 13:15] alexander-schranz commented on #5765
@Sesamzaad I added the video as a gif so it don't get lost. Thank you for report. The behaviour is really strange, it seems also not always happening 🤔 .

[2021-01-20 13:29] alexander-schranz commented on #5765
We could also reproduce this behaviour in a similar way on the `2.1.7` Version on focus lose.

[2021-01-20 13:38] niklasnatter commented on #5765
Tested this a bit further - looks like this does not occur on `2.1.3`, but does occur on `2.1.4`. So the the reason should be somewhere in these changes: https://github.com/sulu/sulu/compare/2.1.3...2.1.4
From the first look, I would suspect https://github.com/sulu/sulu/pull/5567

[2021-01-20 22:08] alexandersch commented on #5694
We would actually need it in a custom entity admin screen. So the field type would then suffice.

But we actually do need the full list of media from a collection in our frontend though to show download links. So your suggestion of using the smart content media provider is probably the solution we would go for in our use case. I am not entirely sure if the headless bundle resolves the media for sm

[2021-01-21 07:47] sanderquirynen opened #5769 "Scroll position changes when the browser window loses focus"
| Q | A
| --- | ---
| Sulu Version | 2.2.3
| PHP Version | 7.4.11
| Browser Version | Tested in _Chrome 87.0.4280.141_ & _Firefox 84.0.1_

_**Edit**: probably a duplicate of https://github.com/sulu/sulu/issues/5765_

# Actual Behavior

When you are editing content and move focus to another window or tab (e.g. to copy content that you'd like to paste inside the field you're editing) the scroll-posi

[2021-01-21 09:13] niklasnatter commented on #5769
Thanks for reporting - this is most likely related to #5765

[2021-01-21 11:13] ehibes opened #5770 "Position on admin UI"
# Problem description

Hi everybody,
I made a custom entity in my Sulu project and generate an Admin UI list view.
Is there a way to make this list "orderable", I mean to change position of entities ?

[2021-01-21 12:55] niklasnatter commented on #5770
Thanks for reporting. I think this is a duplicate of https://github.com/sulu/sulu/issues/5371 - please upvote/add your thoughts there. Feel free to create a new issue if I am mistaken 🙂

[2021-01-21 12:55] #5770 closed, assigned to nobody

[2021-01-21 13:00] niklasnatter commented on #5371
Thanks for creating this issue - I think it would be nice to provide a better UX for this usecase too.

At the moment, you could implement a custom item action to your list view. This item action could open an overlay that allows to set the `sorting` of the item sends it to the server. See the following example pull request for how to implement an item action: https://github.com/sulu/sulu-demo/pul

[2021-01-21 18:55] StaffNowa opened #5776 "Administration interface hard to use on mobile device"
| Q | A
| --- | ---
| Bug? | Yes
| New Feature? | no
| Sulu Version | pre 2.3
| Browser Version | Google Chrome mobile

#### Actual Behavior

1. Open Admin
2. Try to use search filter - keyboard open / close immediately
3. Open edit page
4. Try to use any input - keyboard open / close immediately

#### Expected Behavior

Working input fields for fill data :+1:

#### Steps to Reproduce

Small video

[2021-01-25 12:49] niklasnatter commented on #5776
Thanks for creating this issue!

We are aware that the UX of the administration interface is not great on mobile devices at the moment. We would like to collect the current problems in this issue and tackle the collected problems in a future release.

Please add any further mobile-device problem as comment in this issue 🙂

[2021-01-26 07:51] goetas commented on #5646
JMS Serializer with php 8 support has been released :)

[2021-01-26 08:22] chirimoya commented on #5646
Thanks!

[2021-01-26 11:59] niklasnatter commented on #5769
Thanks a lot for reporting! Should be fixed in the next release by https://github.com/sulu/sulu/pull/5772

[2021-01-26 11:59] #5769 closed, assigned to nobody

[2021-01-26 11:59] niklasnatter commented on #5765
Thanks a lot for reporting! Should be fixed in the next release by https://github.com/sulu/sulu/pull/5772

[2021-01-26 11:59] #5765 closed, assigned to nobody

[2021-01-28 10:37] niklasnatter opened #5779 "Page with missing node in live workspace cannot be modified or deleted"
| Q | A
| --- | ---
| Sulu Version | 2.1 (probably also 1.6)

# Actual Behavior

Sulu uses two PHPCR workspaces; a `draft` workspace for unpublished data and a `live` workspace for published data that is displayed on the website. The `draft` workspace can be inspected via ` bin/adminconsole doctrine:phpcr:shell` and the `live` workspace can be inspected via `bin/websiteconsole doctrine:phpcr:shell

[2021-02-02 09:27] Quehnie opened #5785 "Teaser Selection does not show secured pages."
| Q | A
| --- | ---
| Sulu Version | 2.2.2

# Actual Behavior

When pages are secured with the website roles and you select them in a teaser selection they wont load any of the page details and in result also not shown on the page even when logged in. I know that it is not that easy because the teaser_selection is saved in the index and not like the other fields.

# Expected Behavior

Also secured

[2021-02-02 11:55] alexander-schranz commented on #5785
Think this is similar to #4066. I think as know website permissions are also handled over the permission tab we really need to have a look at this or maybe refractor the `TeaserSelection` to work with PHPCR query instead of index.

[2021-02-02 12:11] niklasnatter commented on #5785
Think this would be a good opportunity to refactor the `PageTeaserProvider` to use PHPCR instead of the search index. I feel like using the search index there regularly causes problems and makes things hard to understand and extend.

[2021-02-02 15:23] tentwofour opened #5787 "Roadmap/Milestones/EOL"
Hi,

I've used Sulu for a couple of personal projects so far and love it; I'm looking to use it on a larger project now. I see some milestones in the 2.x and 3.0 area, but no due date. Just wondering if there's a path you're following with certain releases. Does 2.x's EOL somewhat align to Symfony 4.4LTS? Or to PHP version EOL's? It seems like more the latter, as I see an issue about dropping PHP5

[2021-02-02 15:34] #5787 closed, assigned to chirimoya

[2021-02-03 08:41] alexander-schranz commented on #5694
@alexandersch the media smart content provider exist in the headless bundle. Here is the current list of implemented content types in the headless bundle: https://github.com/sulu/SuluHeadlessBundle/issues/3

[2021-02-03 10:15] alexander-schranz opened #5790 "Link Provider Proposal"
# Problem description

Currently there is a lot of usecases where the content manager should decide if he want to create a **Internal Link**  or a **External Link**. Currently there is no content type to handle both.

# Proposed solution

We should create a content type which would implement our Link Providers and also make it possible to create also external links.

So we have a select with examp

[2021-02-03 12:57] niklasnatter commented on #5728
Thanks for reporting! Fixed by #5784

[2021-02-03 12:57] #5728 closed

[2021-02-03 12:58] niklasnatter commented on #5394
Thanks a lot for reporting! This should hopefully be fixed in #5768

[2021-02-03 12:58] #5394 closed

[2021-02-03 13:26] niklasnatter commented on #5495
Closing this because of inactivity. Feel free to open a new issue if there are any unanswered questions!

[2021-02-03 13:26] #5495 closed

[2021-02-05 07:33] Sadbot opened #5796 "MongoDB support"
# Problem description

For small and fast admin-panel it would be convenient to use nosql database.

# Proposed solution

Doctrine ODM support MongoDb database and it's should be nice to support Sulu doctrine ODM ?

[2021-02-05 08:40] niklasnatter commented on #3417
This displays the following error when using Sulu 2.2.4:
![Screenshot 2021-02-05 at 09 39 46](https://user-images.githubusercontent.com/13310795/107010014-17facd80-6796-11eb-9148-6a6afd1a8941.png)

[2021-02-05 08:40] #3417 closed

[2021-02-05 09:53] niklasnatter commented on #4297
Thanks a lot for reporting! This was fixed in https://github.com/sulu/sulu/pull/5553

[2021-02-05 09:53] #4297 closed

[2021-02-05 11:21] themuddfamily commented on #5779
The solution worked perfect for me +1 to this :)

[2021-02-05 11:37] alexander-schranz commented on #4784
I did test this and this seems to work now. Think this was fixed by @Prokyonn in #5576

[2021-02-05 11:37] #4784 closed

[2021-02-05 11:44] alexander-schranz commented on #5779
@nnatter I think we could optimize the function as we know that if `$node->isNew()` the `getLiveNode` always will fail. So we could go there directly call `createNodesWithUuid` without try to load the livenode.

[2021-02-05 15:04] themuddfamily commented on #5779
Seems like this breaks creation of new pages - returning
"Uncaught PHP Exception PHPCR\PathNotFoundException" "Item X not found in workspace default_live"
I suspect this is partly what @alexander-schranz is referring to so I changed the fix to this.

I realise there is probably a way better way to do this but I wanted to post a way that works for others.

[code]

[2021-02-05 15:54] alexander-schranz commented on #5779
@themuddfamily thx for the response. I hope we can implement such a fix to avoid this kind of problems in the future.

[2021-02-08 12:45] alexander-schranz opened #5801 "Make Teaser Selection easier extendable"
# Problem description

There are many cases where Teasers maybe need additional properties. We had project where it mostly has `kicker` / `subTitle` field on the page which is shown on all fields. Currently the Teaser needed to override in this cases. We should give here a way to control this over the xml to add additional fields so also Frontend Developers can extend the teaser without the case o

[2021-02-08 12:57] nnatter commented on #3051
Also related to https://github.com/sulu/sulu/issues/5790 🙂

[2021-02-08 12:57] niklasnatter commented on #4966
Related to https://github.com/sulu/sulu/issues/5790

[2021-02-08 12:58] niklasnatter commented on #5158
Thanks for creating this issue! This was solved in https://github.com/sulu/sulu/pull/5672

[2021-02-08 12:58] #5158 closed

[2021-02-08 13:00] niklasnatter commented on #4621
Should be fixed by https://github.com/sulu/sulu/pull/5767 🙂

[2021-02-08 13:00] #4621 closed

[2021-02-08 15:11] alexander-schranz opened #5802 "PublishIndicator is set to draft when no publishState is provided by the api"
| Q | A
| --- | ---
| Sulu Version | 2.2.4 last checked 2.3.6 still exists
| PHP Version | 7.4
| DB Version | -
| Browser Version | -

# Actual Behavior

Currently if a API does not return the publishedState it will set `draft` flag to true. https://github.com/sulu/sulu/blob/fc98f92de28dd577bee4a9c7b1bf91c3ffecdfbd/src/Sulu/Bundle/AdminBundle/Resources/js/containers/List/adapters/AbstractTableAdap

[2021-02-09 08:15] niklasnatter commented on #5802
This handling is implemented in multiples places:

- `AbstractTableAdapter`
- `ColumnListAdapter`
- `MultiSelection`
- `SingleSelection`
- `SmartContentItem`
- `Form`
- `DeleteDraftToolbarAction`
- `SaveWithPublishingToolbarAction`

[2021-02-10 09:09] niklasnatter commented on #5631
Closing this because of inactivity. Feel free to open a new issue with additional information 🙂

[2021-02-10 09:09] #5631 closed

[2021-02-10 09:10] niklasnatter commented on #5748
Closing this because of inactivity. Feel free to open a new issue with additional information 🙂

[2021-02-10 09:10] #5748 closed, assigned to nobody

[2021-02-10 09:12] niklasnatter commented on #5676
Fixed by #5675

[2021-02-10 09:12] #5676 closed

[2021-02-10 09:14] niklasnatter commented on #5545
Want to reference https://github.com/sulu/sulu/pull/5616#issuecomment-737353182 here too for completion 🙂

[2021-02-10 09:15] niklasnatter commented on #5541
Should hopefully be fixed by #5659. Thanks for reporting!

[2021-02-10 09:15] #5541 closed

[2021-02-10 13:22] Skullfox opened #5804 "Searched categories dont display child elements"
| Q | A
| --- | ---
| Sulu Version | 1.6.(26,36,38)

# Actual Behavior

Expanding a searched category dont display child elements.

# Expected Behavior

Display child elements

# Steps to Reproduce

Create category **Parent**
Create subcategory **Child**

![](https://i.imgur.com/FM2fMuM.png)

Search for **Parent**

Click expand
![](https://i.imgur.com/kje91oc.png)
![](https://i.imgur.com/Qh8i2z7.p

[2021-02-10 14:24] alexander-schranz commented on #5804
@Skullfox thx for report. Tested this and it seems to be the same problem in the current 2.2.4 Version on https://sulu.rocks/admin

[2021-02-11 08:29] Prokyonn opened #5808 "Segment selection is rendered in article excerpt tab without segments"
| Q | A
| --- | ---
| Sulu Version | > 2.2.0

# Actual Behavior

If no segments are configured in the webspace, the `segmentSelection` is still rendered hidden in the excerpt tab.
This results in a larger space between the  elements:

![image](https://user-images.githubusercontent.com/25978473/107613844-6baf6000-6c49-11eb-8502-582771b6709d.png)

# Expected Behavior

The wrapper elements for the `s

[2021-02-11 08:44] niklasnatter commented on #4822
Thanks for reporting! Should be fixed by https://github.com/sulu/sulu/pull/5799

[2021-02-11 08:44] #4822 closed

[2021-02-11 08:59] niklasnatter commented on #5312
Progress update; #5799 will finally allow to display a custom error message from the server when saving a form. If the server returns an error response (response without 200 status code), the form view will look for a `detail` property and display it as error message instead of the generic `There was an error when trying to save the form` message. This implementation matches the error format descr

[2021-02-11 09:29] niklasnatter opened #5809 "Allow to display custom error message for specific field in Form"
# Problem description

The Form view displays two kinds of errors; **field-specific validation errors based on the form configuration** and **custom error messages returned by the server**. Unfortunately, it is not possible to return an error message for a specific field from the server at the moment.

### Field-specific validation errors based on the form configuration

When displaying a Form in

[2021-02-11 09:34] niklasnatter commented on #5312
With #5799 being merged, the only outstanding functionality that comes to my mind is displaying an error message for a specific field from the server. Because of this, I decided to close this issue and create a new issue for that usecase (#5809) - please upvote the new issue if returning field-specific error messages is important for you.

Thanks everybody for their input - I am quite happy that w

[2021-02-11 09:34] #5312 closed

[2021-02-11 09:45] alexander-schranz commented on #5809
As written in #5312 I would add here also my proposal to add error message to a field. Add a additional `fieldsError` to the exist error response e.g.:

[code]

As you see in the example a field can contain multiple error messages. I think this is important as Symfony Forms provide the same functionality to have multiple errors per field and not just one and we could easily convert symfony form er

[2021-02-11 12:26] luca-rath commented on #5681
![image](https://user-images.githubusercontent.com/5758674/107635761-f903ac00-6c6b-11eb-9a71-fb421f62b59e.png)
![image](https://user-images.githubusercontent.com/5758674/107635789-0751c800-6c6c-11eb-96ed-afc5cadd8b31.png)
![image](https://user-images.githubusercontent.com/5758674/107636223-9a8afd80-6c6c-11eb-9a62-250179081813.png)

This is the behaviour, if we add json-schema's `uri` format to url

[2021-02-11 12:31] luca-rath commented on #5681
https://json-schema.org/understanding-json-schema/reference/string.html#resource-identifiers The `uri` format is documented here

[2021-02-11 12:31] niklasnatter commented on #5681
Thanks for testing! I would trust the [JSON schema `uri` (or `iri`) format](https://json-schema.org/understanding-json-schema/reference/string.html#resource-identifiers). These formats implement an RFC and its one thing less to think about for us 🙂

[2021-02-11 12:39] luca-rath commented on #5681
unfortunately `iri` is not supported by our ajv version (6.x) out of the box, see https://github.com/ajv-validator/ajv/blob/master/docs/validation.md#formats ... But there is a separate plugin https://github.com/luzlab/ajv-formats-draft2019 which adds support for it. Though I'm not sure about adding that

[2021-02-11 12:42] luca-rath commented on #5681
But I should mention that this community plugin is mentioned in the `README.md` of https://github.com/ajv-validator/ajv-formats#formats

[2021-02-11 13:02] luca-rath commented on #5681
![image](https://user-images.githubusercontent.com/5758674/107639642-6d8d1980-6c71-11eb-852d-098229c50e2f.png)
![image](https://user-images.githubusercontent.com/5758674/107639786-a88f4d00-6c71-11eb-91af-879bf4c0e888.png)

Using the `iri` format of that plugin, both of these urls pass the validation. But it's hardly possible to find any input which does not pass validation with the `iri` format

[2021-02-11 13:06] luca-rath commented on #5681
![image](https://user-images.githubusercontent.com/5758674/107640137-1e93b400-6c72-11eb-9428-72f0fa9a186c.png)

Okay, unfortunately this valid input doesn't pass using that plugin's `iri` implementation ... So I would say we should use ajv's `uri` implementation

[2021-02-11 13:18] niklasnatter commented on #5681
Sounds good to me 🙂
We can still change this to a less strict validation if it turns out that the `uri` format causes problems.

[2021-02-11 13:24] alexander-schranz commented on #5681
As mention above I personally would remove the validation completely as mention above this could be also be app links which have there own formats. I think this validation will hurt us more then actually it will improve any UX.

[2021-02-11 13:40] niklasnatter commented on #5681
Dont have a very strong opinion, removing the validation is okay for me too. Just want to be able to close this issue as solved 😉

[2021-02-11 14:21] niklasnatter commented on #5336
As described in https://github.com/sulu/sulu/issues/5312#issuecomment-777291327, implementing the `TranslationErrorMessageExceptionInterface` will add a translated error message to the response. Every other exception will lead to a generic error message such as `"message": "Bad Request"`. This is done by the `FlattenExceptionNormalizer` of the FOSRestBundle:
https://github.com/FriendsOfSymfony/FOS

[2021-02-11 14:21] #5336 closed

[2021-02-11 15:59] niklasnatter commented on #5417
Thanks a lot for reporting! Should be fixed by #5797

[2021-02-11 15:59] #5417 closed

[2021-02-12 11:35] alexander-schranz opened #5821 "Add better handling for PageOutOfBoundsException"
# Problem description

Currently the PageOutOfBoundsException does hurt more then it will actually do something. It will throw an exception which no developer can catch easily.

# Proposed solution

I would remove to throw "PageOutOfBoundsException"  as I see no advantage for it. If you have multiple smart contents over example a block it will throw this exception this smart contents are paginated

[2021-02-12 12:04] luca-rath opened #5822 "sulu_content_load might lead to errors or unexpected results if both pages have a smart_content"
| Q | A
| --- | ---
| Sulu Version | 2.2

# Actual Behavior

The query parameters of the current request are taken into account in `sulu_content_load`.

An example would be the `SmartContent ContentType`. It retrieves the current page from `$this->requestStack->getCurrentRequest()->get($pageParameter)`.

Because of this, a page `Foo` with a smart_content (currently on page `2` e.g.) loads another

[2021-02-12 12:08] luca-rath commented on #5822
Somehow related to https://github.com/sulu/sulu/pull/5820 and https://github.com/sulu/sulu/issues/5821

[2021-02-12 12:48] niklasnatter commented on #5821
Cannot think about a usecase where the exception is needed, so removing the exception would be okay for me 👍

[2021-02-12 13:04] luca-rath commented on #5821
Is it likely that someone caught that exception somewhere?

[2021-02-12 13:15] alexander-schranz commented on #5821
@luca-rath the only place to catch the exception would be a custom controller but then the developer will not be able to display any content as content was never resolved when the exception is thrown, so they could just maybe show a nicer error page then the default once. I don't think that the most know about this exception and that nobody really did ever catch it.

[2021-02-12 13:27] alexander-schranz commented on #5822
For `sulu_content_load` the idea sounds at current state not bad for me the [requestStack](https://github.com/symfony/symfony/blob/fe4e2956e31074a87555fb14884fdb8a65af15e3/src/Symfony/Component/HttpFoundation/RequestStack.php#L35-L38) itself does not throw a `kernel.request` event which is good in this case, else this could make problems. The [request->duplicate](https://github.com/symfony/symfony

[2021-02-15 10:14] arjanfrans opened #5823 "Using `%kernel.debug%` in the SuluHttpCache configuration"
| Q | A
| --- | ---
| Sulu Version | 2.2.3
| PHP Version | 7.4.14
| DB Version | 8.0.23
| Browser Version | Chromium 88

# Actual Behavior
I am using the `kernel.debug` parameter in my `sulu_http_cache` config. This however results in an error because it requires an actual boolean.

[code]

[code]

# Expected Behavior

Just like many other Symfony bundles, I'd like to be able to use the `kernel.de

[2021-02-15 10:42] alexander-schranz commented on #5823
@arjanfrans Thx for report. It seems like the parameter is  not correctly resolved when set manually to `%kernel.debug%`.

But in case of `sulu_http_cache` the `kernel.debug` flag is used as default for debug enabled or disabled so it don't need to be set manually: https://github.com/sulu/sulu/blob/466edcb9beb7debe5c64e75bade7d04bbb6164de/src/Sulu/Bundle/HttpCacheBundle/DependencyInjection/Configu

[2021-02-15 11:20] alexander-schranz commented on #5823
I find out that this is caused in the PrependExtension but not sure if its on our side or the Symfony side bug with PrependExtension. I created a issue there https://github.com/symfony/symfony/issues/40198 and hope I get some feedback soon.

[2021-02-15 12:58] alexander-schranz opened #5824 "Persistence Bundle indexes are not merged together"
| Q | A
| --- | ---
| Sulu Version | 2.2.4
| PHP Version | 7.4.12
| DB Version | MySQL 5.7.35
| Browser Version | -

# Actual Behavior

Persistence Bundle indexes are not merged together.

# Expected Behavior

Indexes defined on the Main Entity like `accout.name` should still exist also when the project add new indexes.

# Steps to Reproduce

[code]

[code]

Create migration or dump-sql update:

[

[2021-02-15 15:05] niklasnatter commented on #5681
Thanks for reporting! Fixed in #5812

[2021-02-15 15:05] #5681 closed

[2021-02-16 11:19] #4053 closed

[2021-02-16 11:19] #4960 closed

[2021-02-18 06:56] sabinebaer opened #5828 "Tags are limited to 10 in the tag selection content type"
| Q | A
| --- | ---
| Sulu Version | 2.1.2
| PHP Version | 7.4.9
| DB Version | 5.7.31
| Browser Version | Any browser

# Actual Behavior

Only 10 tags are loaded in a tag selection in the Sulu admin area.

# Expected Behavior

Either there is something like a pagination for tags or the limit of tags that are loaded for a tag selection should be configurable in the xml.

# Steps to Reproduce

1. A

[2021-02-18 08:37] plozmun opened #5829 "[SnippetBundle] Copy locale not copy all the content of a Snippet"
| Q | A
| --- | ---
| Sulu Version | 2.2.4
| PHP Version | 7.4
| DB Version | MySQL 5.7
| Browser Version | Chrome

# Actual Behavior

When you copy a Snippet from a previous locale created, only the title is copied

# Expected Behavior

All the content including image reference must be copied like the pages

# Steps to Reproduce

- Go to sulu.rocks/admin
- Create a new Snippet  ( en) and fill tit

[2021-02-18 10:56] luca-rath commented on #5828
Thank you for reporting this bug! Fixed in #5830

[2021-02-18 10:56] #5828 closed, assigned to luca-rath

[2021-02-18 11:01] niklasnatter commented on #5829
Thanks for reporting! I suspect that this has something to do with the changes in #5573. The `SnippetController` probably needs to be adjusted similar to the `PageController`.

[2021-02-18 14:20] cedric-gunz commented on #5702
@nnatter @alexander-schranz

Are you planning to fix this in the near future?

Best regards,
Cedy

[2021-02-18 15:18] plozmun commented on #5829
@nnatter PR opened . It works :)

[2021-02-19 10:08] niklasnatter commented on #5702
Would have been nice to get a contribution here 🙂  Just created #5834 for this.

[2021-02-22 18:31] alexander-schranz commented on #5646
I updated the Issue Description with a section called **Known Issues**, this issues do not effect sulu itself but should be keep in mind before using PHP 8 for a Project.

[2021-02-23 10:00] DavidFeller opened #5836 "Always display type of block in administration interface"
# Problem description

The attached screenshot shows a snipped we use for a mega menu. It makes extensive use of blocks in blocks. At the moment the elements’ names are only shown if a block/element is collapsed. This is great, but sometimes it would make sense to also show this information while editing an element to keep track of the layer you are currently working on. If you are 3 or 4 layers d

[2021-02-23 10:12] luca-rath commented on #5836
Just a few thoughts about this ...

I agree, that it would make sense to always show the block type, but if there is just one block type, there should be something like a headline or label and not a select.

About the layer indicator, I don't think that's necessary, because the indentation is already a layer indicator.
Especially I would not make different backgrounds for the layers.

[2021-02-23 10:16] alexander-schranz commented on #5836
Yeah I agree here with @luca-rath it should not be a select to display the type here. Just a grey label like its in the closed state. This makes also the developer in control to display nothing when they want it by not given the type any meta title.

[2021-02-23 10:20] luca-rath commented on #5836
I like the idea to control the visibility of the label with the meta title. That also has to be taken into account for the collapsed state.

[2021-02-23 10:25] alexander-schranz commented on #5836
Besides the issue that it make sense to display the type title always when its set. In this case of @DavidFeller I would recommend to give also the block a meta title I think this would improve the UX also for the content manager at current state. e.g.:

[code]

[2021-02-23 10:25] DavidFeller commented on #5836
I agree with both of a you. A label is absolutely sufficient. I just wanted to throw in some ideas :)

[2021-02-23 10:28] alexander-schranz commented on #5836
Additional you can also improve the UX for the content manager to define a better text for the add button instead of Add block:

[code]

Requires I think Sulu 2.2 (https://docs.sulu.io/en/2.2/reference/content-types/block.html).

[2021-02-23 10:29] DavidFeller commented on #5836
@alexander-schranz: Oh cool! I wasn't aware of that. Great feature!

[2021-02-23 12:50] sanderquirynen opened #5838 "Double-clicking sorting-number inputs navigates to the edit view"
| Q | A
| --- | ---
| Sulu Version | 2.2.4
| Browser Version | Multiple browsers
# Actual Behavior

When you go to a sorting view in a webspace and double-click one of the number fields, you get redirected to the page, instead of selecting the value inside the input field (the default behaviour of input fields).

# Expected Behavior

Just select the value inside the input.

# Steps to Reproduce

1

[2021-02-23 13:04] alexander-schranz commented on #5838
Can confirm this and as I know @chirimoya did also mention it once, we should definitely in sort mode disable the click listeners as double click is mostly use to mark all numbers inside input and I aslong as it is in edit mode of the order you should not be possible to do in this column something else or navigate to a item.

[2021-02-23 14:35] niklasnatter commented on #5702
Thanks for reporting! Fixed in #5834

[2021-02-23 14:35] #5702 closed

[2021-02-23 14:37] niklasnatter commented on #5821
Fixed in #5835 🎉

[2021-02-23 14:37] #5821 closed, assigned to nobody

[2021-02-23 14:38] niklasnatter commented on #5822
Should we close this with #5820 and #5835 being merged? 🙂

[2021-02-23 14:47] luca-rath commented on #5822
Should we maybe display an error if the user tries to save a page with two smart_contents with pagination enabled and the same page parameters?

[2021-02-23 14:48] luca-rath commented on #5822
I guess you don't like the idea that's described in `Possible Solutions`?

[2021-02-23 15:06] niklasnatter commented on #5822
The solution sounds okay for me, but I am a bit afraid about potential side effects of pushing an empty request to the stack and I am not sure if it is still needed. With #5835 being merged, the problem is probably solved for the majority of usecases.

The case that the solution would solve is resolving the value of a paginated `smart_content` property of another page via the `sulu_content_load` f

[2021-02-23 16:56] alexander-schranz commented on #5646
We finally [merged](https://github.com/sulu/sulu/pull/5757) the PHP 8 support of sulu core, the most used bundles and did upgrade some other php packages to support PHP 8. 🎉

![](https://media.giphy.com/media/sRFym5lssgcTFrMSac/giphy.gif)

The support will be released with the release of the bundles and the next patch release of 2.1 and 2.2 Version of sulu.

[2021-02-23 16:56] #5646 closed

[2021-02-24 12:29] RSalo commented on #5545
@nnatter I suggest use for your bundle https://github.com/prooph or similar solutions.

[2021-02-25 09:23] niklasnatter commented on #4870
I think this is included in #3309 and therefore going to close this. Feel free to open a new issue if you disagree 🙂

[2021-02-25 09:23] #4870 closed

[2021-02-25 09:29] nnatter commented on #3421
Related to https://github.com/sulu/sulu/issues/5790 🙂

[2021-02-25 10:07] niklasnatter commented on #4089
I am going to close this as Sulu 1.6 receives critical fixes only and this is not a problem on Sulu 2.0 anymore. Hope that is okay for you 🙂

[2021-02-25 10:07] #4089 closed

[2021-02-25 10:08] niklasnatter commented on #5785
Should be fixed in #5842. Thanks a lot for reporting!

[2021-02-25 10:08] #5785 closed, assigned to nobody

[2021-02-25 15:09] niklasnatter commented on #5838
Thanks for reporting! Should be fixed in #5838

[2021-02-25 15:09] #5838 closed, assigned to luca-rath

[2021-02-25 19:12] niklasnatter commented on #5829
Fixed by #5832 - thanks a lot for reporting and also fixing this! Its a pleasure to get community contributions like this 🙂

[2021-02-25 19:12] #5829 closed, assigned to nobody

[2021-02-26 15:41] arjanfrans commented on #5823
I have the same problem with some other options, for example:

![image](https://user-images.githubusercontent.com/3588470/109321399-64936f00-7851-11eb-9128-b7e70cd86478.png)

The same applies probably to `tags.enabled`, `proxy_client.enabled` and possibly other boolean configuration values in SULU?

[2021-02-26 15:46] alexander-schranz commented on #5823
@arjanfrans thx for report think its here a general issue with parameter in the resolving process. Sadly got not yet any Feedback from symfony as for me it look like its implement the same was as in there docs, but in that example no parameters where used.

[2021-03-01 15:00] alexander-schranz opened #5852 "Add postinstall script to validate ckeditor plugin versions."
# Problem description

Currently when a project add a ckeditor plugin like [Font](https://github.com/sulu/sulu/blob/60be7bdf58fa71ac807ca8a61332b7e3aad365c7/src/Sulu/Bundle/AdminBundle/Resources/js/containers/CKEditor5/CKEditor5.js#L161-L176). They need to be sure that the ckeditor plugin is installed in the version sulu does support else it could end in strange errors.

# Proposed solution

Like

[2021-03-01 16:47] ymc-thzi opened #5853 "Error when building admin with custom JS: TypeError: (void 0) is not a function"
| Q | A
| --- | ---
| Sulu Version | 2.2.4

# Actual Behavior
I have added some custom buttons and stuff to the admin js. (../sulu/assets/admin/index.js). I have built this with
`$ bin/console sulu:admin:update-build`
and answered the commands questions with NO, don't overwrite my custum script and then YES create a build now. It worked very well for months now.
Now when the custom admin js is bui

[2021-03-01 17:41] alexander-schranz commented on #5853
@ymc-thzi Can you show our `package.json` you should have no greater or lower version of a dependency in it which is in the skeleton for your version. E.g. [2.2.4](https://github.com/sulu/skeleton/blob/2.2.4/assets/admin/package.json).

I can not reproduce it without knowing what you did change in your assets/admin folder because without changes `bin/console sulu:admin:update-build` will always do

[2021-03-02 08:30] ymc-thzi commented on #5853
@alexander-schranz thanks for the answer.

- The package.json seems unchanged. (If I change i.e. a version number the update-build command asks me to overwrite or merge it, but I have kept the original)
- If I make a change with nothing functional like a space or a comment to ../sulu/assets/admin/index.js only to force the update-build command to ask me to build the admin and not to download it. T

[2021-03-02 08:59] arjanfrans commented on #5823
@alexander-schranz If Symfony is not going to solve this anytime soon, do you see another way to solve it within Sulu?

[2021-03-02 09:16] alexander-schranz commented on #5853
@ymc-thzi Which version of node and npm are you using to create the build?

[2021-03-02 09:20] niklasnatter commented on #5853
I just set up a clean project using the `sulu/skeleton` and cannot reproduce the problem with the following environment:
[code]

What versions are you using? Have you tried updating your Node.js/npm version?

[2021-03-02 09:36] ymc-thzi commented on #5853
node: v10.23.2
npm: 6.14.10

I will give it a try updating node...

[2021-03-02 10:32] alexander-schranz commented on #5823
@arjanfrans could find a way to resolve the values but will wait for the feedback of the [symfony team](https://github.com/symfony/symfony-docs/pull/15048/files), if this is the correct way to handle this. At current state I would in your case use `stage` and `prod` environment and configure it the specific values directly instead of depend on `%kernel.debug%` value here.

[2021-03-02 15:06] niklasnatter commented on #5853
Node 10 will reach its end of life quite soon (April 2021), I could imagine that there are packages in the dependency tree that already dropped support for it. Can you try to update to Node 12 or Node 14?

[2021-03-02 17:27] ymc-thzi commented on #5853
Still the same after upgrading node to v14.16.0 🤷🏻‍♂️

[2021-03-03 10:08] niklasnatter commented on #5853
I spent some additional time on this today, but I am still not able to reproduce the problem on `Sulu 2.2.5`, I am sorry.
To rule out system specific settings on my machine I created the build inside different versions of the official [`node` docker image](https://hub.docker.com/_/node).

Note that the `node` container cannot execute PHP code and therefore cannot execute the `sulu:admin:update-bui

[2021-03-03 11:03] ymc-thzi commented on #5853
@nnatter thanks for you effort. Unfortunately the manual build still creates a js that is different than the one Sulu is providing when downloading it. This is the output of  `npm run build`. I can't find anything suspicious...

EDIT: removed the output because it does not contain any relevant information

[2021-03-03 11:18] niklasnatter commented on #5853
What do you mean with this? There are a lot of factors that affect the generated build (eg. system specific paths, see https://github.com/webpack/webpack/issues/7179). So it is expected that the build generated on your system slightly differs from the build included in the release.

[2021-03-03 13:36] ymc-thzi commented on #5853
Sorry for the misleading wording. I mean different so that it throws errors and crashes the Admin...
I am still searching...

[2021-03-03 13:48] alexander-schranz commented on #5853
@ymc-thzi Can you try to update to `2.2.5` sulu version and check if it works there for you?

[2021-03-03 13:54] ymc-thzi commented on #5853
@alexander-schranz I tried that already. But there were so many dependencies problems so I gave up. This Symfony satisfiable bla bla that some other bundles could not be updated
gedmo/doctrine-extensions:3.0.3
stof/doctrine-extensions-bundle:1.5.0
antishov/doctrine-extensions-bundle:1.4.3
and so on, it does not stop to complain 😖

[2021-03-03 13:57] alexander-schranz commented on #5853
you can only update a specific dependency with:

[code]

to update sulu only to 2.2.5

[2021-03-03 14:00] niklasnatter commented on #5853
@ymc-thzi I only tested this with `Sulu 2.2.5` until now. I can finally reproduce the problem with `Sulu 2.2.4` 🎉  For completion, this is the error in the development console of the browser:
[code]

It looks like this is a bug caused by conflicting versions of the `tslib` package in our dependency tree. **The problem should be fixed by #5827 in Sulu 2.2.5.**

[2021-03-03 14:04] ymc-thzi commented on #5853
YAY... thats good news, I will check 2.2.5

[2021-03-03 14:45] ymc-thzi commented on #5853
Oh man... this is so hard 😨
composer update sulu/sulu doesn't do anything

![Bildschirmfoto 2021-03-03 um 15 44 31](https://user-images.githubusercontent.com/1804472/109822758-90d73300-7c37-11eb-9d6d-ab6734f5d852.png)

[2021-03-03 15:50] ymc-thzi commented on #5853
But finally I made it 🎉. Confirmed 2.2.5 works again with custom admin builds.
Thanks guys...

[2021-03-04 09:34] niklasnatter commented on #5853
Thats good to hear 🙂
Closing this as solved then - feel free to create a new issue if you encounter another problem

[2021-03-04 09:34] #5853 closed, assigned to nobody

[2021-03-05 09:45] berkyl opened #5857 "Ordering contacts in ContactSelection has no effect in FE"
| Q | A
| --- | ---
| Sulu Version | 2.2.3
| PHP Version | 7.4.11
| DB Version | MySQL 5.7

# Actual Behavior

When you order the contacts in a ContactSelection in admin, save the changes and publish it, the order remains the same in Frontend (ordered by id)

# Expected Behavior

The list of contacts should be received in the same order as in Admin

# Steps to Reproduce

Add a contact_selection pr

[2021-03-05 11:07] luca-rath commented on #5822
Fixed by #5850

[2021-03-05 11:07] #5822 closed, assigned to nobody

[2021-03-05 11:16] luca-rath commented on #5801
I want to suggest a different approach. What about introducing a new `<tag name="sulu.teaser.field" type="kicker"/>` tag? Using `sulu.teaser.property` as tag name would also be okay for me.

This could look like that:

[code]

The benefit of this would be, that it's similar to the `sulu.teaser.description` and `sulu.teaser.media` tags.

[2021-03-05 14:08] tstauer opened #5858 "Can not add portal routes"
| Q | A
| --- | ---
| Sulu Version | 2.2.5
| PHP Version | PHP 7.3.24
| DB Version | 5.7.30
| Browser Version | Firefox 78.8.0esr

# Actual Behavior

The file "routes_website_portal.yaml" does not exist (in: "") in routes_website_portal.yaml (which is being imported from "/var/www/project/config/routes_website.yaml"). Make sure there is a loader supporting the "portal" type.

# Expected Behavior

[2021-03-08 09:21] niklasnatter commented on #5823
Should be fixed in #5854 - thanks for reporting!

[2021-03-08 09:21] #5823 closed, assigned to nobody

[2021-03-08 09:26] niklasnatter commented on #5857
Thanks for reporting! I think we should sort the items that are passed to the twig template in the `ContactSelection` (and also the `AccountSelection`) like we do it in the Demo:

https://github.com/sulu/sulu-demo/blob/0a255fba2ea9560ce87a4d622dafdf76b83fb088/src/Content/Type/AlbumSelection.php#L36-L39

[2021-03-08 14:34] HellFirePvP opened #5860 "Number-Types not visible in collapsed block preview"
| Q | A
| --- | ---
| Sulu Version | 2.2.4
| PHP Version | 7.4.15
| DB Version | Postgres 12.2
| Browser Version | Google Chrome 89.0.4389.82

# Actual Behavior

In the collapsed block view, a number-type property does not show its value, even if the tag "sulu.block_preview" is added to it.

# Expected Behavior

The number-type property should show its value in the collapsed view.

# Steps to Repr

[2021-03-10 10:10] plozmun opened #5868 "Block settings are applying in all blocks"
| Q | A
| --- | ---
| Sulu Version | >= 2.2.4
| PHP Version | -
| DB Version | -
| Browser Version | Checked on Chrome Versión 88.0.4324.192

# Actual Behavior

If some setting is applied in a block when you open block settings in another block same settings is applied ( not saved if you don't push apply )

# Steps to Reproduce

- Go to sulu.rocks , edit a block settings and check "Don't display o

[2021-03-10 12:45] luca-rath commented on #5860
Fixed by #5861

[2021-03-10 12:45] #5860 closed, assigned to nobody

[2021-03-10 14:46] tstauer opened #5869 "HTTP status code 500 instead of 404 for missing images"
| Q | A
| --- | ---
| Sulu Version | 2.2.5
| PHP Version | 7.3.24
| DB Version | MySQL 5.7.30
| Browser Version | Firefox 78.8.0esr

# Actual Behavior

Sulu returns an HTTP status 500 for missing media images.

# Expected Behavior

Sulu must return an HTTP status 404 for missing media images.

# Steps to Reproduce

* Upload an image in the media section of the Sulu backend.
* Link to it on a page

[2021-03-10 14:49] alexander-schranz commented on #5869
@tstauer this is an expected 500 error and is correct in this case. As you should never just delete the file on the filesystem only. If you remove an media it should be done over sulu api which will remove the media also from the database.

If the media was correctly removed from the database like it should be done when you remove it you will get a 404 Status Code e.g.:

https://sulu.rocks/uploads

[2021-03-10 15:45] alexander-schranz opened #5870 "Text editor horizontal scrollbar on low window size"
| Q | A
| --- | ---
| Sulu Version | 2.2.x (2.2.5)
| PHP Version | 7.4.12
| DB Version | -
| Browser Version | Microsoft Edge 89

# Actual Behavior

Text editor horizontal scrollbar on low window size.

# Expected Behavior

There should be no horizontal scrollbar.

# Steps to Reproduce

The `toolbar` of the ckeditor more icon actually cause the problem that there is a scrollbar also when its not s

[2021-03-10 15:51] tstauer commented on #5869
@alexander-schranz
Interesting, we also get a 500 error when we request a non-existing entry.

https://website.local/uploads/media/thumbnail/01/1421-notindb.png?v=1-0
->
[code]

Our corresponding entries in the server log:
[code]

In contrast:
https://website.local/uploads/media/thumbnail/05/4711-notindb.png?v=1-0
-> 404

[2021-03-10 15:52] alexander-schranz commented on #4302
As nobody ever complained about the ckeditor4 html not fully compatible with new ckeditor5 I will close this issue. If somebody does stumble over such a things they would need to create a plugin for ckeditor5 or use builtin plugins or configuration options of ckeditor for it. End it also possible that they create there own text editor.

[2021-03-10 15:52] #4302 closed

[2021-03-10 15:57] alexander-schranz commented on #5869
The route is `<id>-<filename>.<format>` where the filename is just here for SEO things and will not change anything about the response. So if `1421` exist in your database it will return that image or if you did remove the original file it will end in a 500 error.

[2021-03-11 08:48] tstauer commented on #5869
Ah, okay. Not quite what I expected because that means the same media file is available under several URLs.

However that's a design decision instead of a bug then.

[2021-03-11 08:48] #5869 closed, assigned to nobody

[2021-03-11 17:11] tstauer opened #5874 "Preview of articles not working with global variables defined in the templates"
| Q | A
| --- | ---
| Sulu Version | 2.2.5
| PHP Version | 7.3.24
| DB Version | MySQL 5.7.35
| Browser Version | Firefox 78.8.0esr
| massive/web-twig-extensions | v1.5.0
| symfony/twig-bridge | v5.2.3
| symfony/twig-bundle | v5.2.4
| twig/twig | v2.14.3

# Actual Behavior

We are getting the message "500 Internal Server Error" instead of the preview of an article.

# Expected Behavior

We want to

[2021-03-12 09:27] luca-rath opened #5875 "Add empty prefix option to URL component"
# Problem description

Currently, the URL component only allows selecting `http://`, `https://`, `ftp://`, `ftps://`, `mailto:` and `tel:` as prefix. There is no possibility to add a link to `#section2` e.g.

# Proposed solution

There should also be the option to select an empty prefix option to allow adding relative links like `#section2` or links with other protocols.

[2021-03-12 09:29] luca-rath commented on #5875
Additionally, if the website has a static symfony route called `/cart`, this would also allow the content editor to just link to `/cart` instead of `https://www.example.com/cart`

[2021-03-12 10:02] niklasnatter commented on #5875
Looks like the `Url` component is not really meant for managing relative links at the moment. Not sure if we should change that or if there should be a explicit component for relative links. I think https://github.com/sulu/sulu/issues/5790 would allow us to solve this in a nice way by implementing a `relative-link` provider 🙂

[2021-03-12 10:37] paul-staedtler opened #5876 "Save and publish option is shown when creating a page without live permission"
| Q | A
| --- | ---
| Sulu Version | 2.2.3
| PHP Version | 7.4.15
| DB Version |
| Browser Version |

# Actual Behavior

When creating a new page in a web space the save and publish option is shown without the live permission and throws following exception when trying to do so:
`Symfony\Component\HttpKernel\Exception\AccessDeniedHttpException:
Permission "live" in localization "de" for object with

[2021-03-12 10:48] andrey-scada commented on #3721
Hello, everyone! @danrot , any news on the progress regarding this issue?

[2021-03-12 13:38] niklasnatter commented on #3440
Related to https://github.com/sulu/sulu/issues/5790

[2021-03-12 13:42] niklasnatter commented on #4378
Fixed in #4809

[2021-03-12 13:42] #4378 closed

[2021-03-12 14:35] niklasnatter commented on #5876
Thanks for reporting. I want to note that this **only happens when creating a page, not when editing one**. The reason is that the visibility of the toolbar actions is determined based on the object specific permissions. For a new page, no object specific permissions are available:
https://github.com/sulu/sulu/blob/aa692e8255750d21f5a287a420304c544c2a8619/src/Sulu/Bundle/PageBundle/Admin/PageAdmin

[2021-03-12 14:40] niklasnatter commented on #3721
@andrey-scada As far as I know, there was no progress on this. I just created #5878. Unfortunately, this is a small BC break and I am not sure if we can change this before the next minor release.

[2021-03-12 15:26] alexander-schranz commented on #5276
This was fixed by #5879

[2021-03-12 15:26] #5276 closed

[2021-03-15 08:27] niklasnatter commented on #5858
Thanks for reporting - can confirm that this is a problem of the `Sulu\Bundle\WebsiteBundle\Routing\PortalLoader`.

Unfortunately, I am not sure how to fix this. If anyone has experience with loading routes, a contribution would be highly appreciated!

It looks like the loading works if the project contains an `AppBundle`. As a workaround, you can add such a bundle with the following changes:

[co

[2021-03-15 13:57] alexander-schranz commented on #3721
#5878 is merged and will be part of the next release.

[2021-03-15 13:57] #3721 closed

[2021-03-15 13:59] niklasnatter commented on #5868
Can confirm that this is a bug - thanks for reporting!
We should probably reset the data of the `blockSettingsFormStore` before opening (or after closing) the overlay here:
https://github.com/sulu/sulu/blob/aa692e8255750d21f5a287a420304c544c2a8619/src/Sulu/Bundle/AdminBundle/Resources/js/containers/FieldBlocks/FieldBlocks.js#L383-L395

[2021-03-15 14:01] niklasnatter commented on #3877
Fixed by #5878

[2021-03-15 14:01] #3877 closed

[2021-03-15 15:30] alexander-schranz commented on #5857
This was fixed by #5873 in will be part of the next patch release.

[2021-03-15 15:30] #5857 closed, assigned to nobody

[2021-03-15 21:27] RSalo opened #5880 "[REST] Get part of template properties"
# Problem description

There is no solution out of the box to load part of template properties. For example, I have a bunch of custom properties in the template that sufficient decreasing page speed. It will be better if I would load one asynchronously with frontend requests.

# Proposed solution

Add default helper services for this purpose or documentation on how to do that thing correctly.

P.S

[2021-03-16 06:58] sanderquirynen commented on #3027
Hate to dust up this old topic, but I was looking for a similar solution as was described here (defining retina images without users needing to crop them twice).
We're also in v2.x by now and I see that the image-format configuration has changed, maybe it's easier to implement something like this?

[2021-03-16 08:22] #5316 closed

[2021-03-16 08:22] #5224 closed

[2021-03-16 09:52] tstauer commented on #5858
@nnatter: Thank you four your reply.

I can confirm it works by loading the routes using a bundle.

[code]

Unfortunately loading routes is something I'm not familiar with at all. I'd love updating that code but I could not even say which file is responsible when I looked at the issue before creating it here.

[2021-03-16 09:56] alexander-schranz commented on #3027
@sanderquirynen Its definitely okay to write something to old issue!

Yes the xml format did change since this issue was opened but there would still be the same type of work to implement it so currently a image format look like this:

[code]

To support *inheritance* of crops there could be 2 implementation. First work with variants as suggested above:

If we want to support variants there the fo

[2021-03-16 10:46] niklasnatter commented on #5880
Hey,
I think we already talked about this in our Slack channel, but I will add my thoughts here again for completion.

I do not think such a feature fits into the `sulu/sulu` package. One of the basic ideas of Sulu is to pass the data that is used for rendering a page directly to the Twig template of the page. Additionally, Sulu provides twig extensions that allow for loading data like the navigat

[2021-03-16 10:56] niklasnatter commented on #5880
For completion, I want to add my thoughts on the following statements:

The `sulu_content_load` function allows to pass an array of properties which should be included in the result of the function. I dont think such a feature exists for the `SuluHeadlessBundle` yet. Feel free to create an issue if that would be important for you.

Sulu should be quite performant by default. I would recommend to i

[2021-03-16 10:58] alexander-schranz commented on #5880
I could think about that example a selection could have an option like `resolve: false`:

[code]

So in this case only the raw page id is returned e.g.:

[code]

This page id could be used to load all children, or uses a twig extension to load children, or when a category selection all pages with a specific category id could be loaded. I think there are usecases where you don't also in the content

[2021-03-16 13:24] RSalo commented on #5880
Oh, exactly! I should try Headless bundle yet. I will close this ticket if it fits for me😁

[2021-03-17 10:15] alexander-schranz commented on #5802
Seems like the publishIndicator is also because of this not correctly working for `CustomUrls`: https://sulu.rocks/admin/#/webspaces/demo/custom-urls?locale=en`

[2021-03-17 10:37] niklasnatter commented on #3027
I think I would prefer `Solution A`. Using a `<variants>` tag makes clear that this is a single image format with different variants and that it will displayed as a single format in the administration interface. With `Solution B`, i would not expect that the format is not displayed in the administration interface just because it has a `parent` attribute.

For transparency; Implementing a solution

[2021-03-17 14:06] #5760 closed, assigned to nobody

[2021-03-17 14:07] alexander-schranz commented on #5760
fixed by #5881

[2021-03-17 14:33] hedwiggggg commented on #5039
Came across the same issue today, could create a PR.
Something like this?

https://user-images.githubusercontent.com/42947316/111484451-1083f800-8736-11eb-92c4-23320db5d3a9.mp4

[2021-03-17 14:48] alexander-schranz commented on #5038
We did got a design for this. The upload should be possible but when the media is dropped and no collection is selected the following overlay should appear to select the correct collection:

![All Media - Choose Location](https://user-images.githubusercontent.com/1698337/111486823-1a0e5f80-8738-11eb-881d-f6d9d13355b7.png)

[2021-03-17 15:12] alexander-schranz commented on #5039
We did get today a Design from our UX Team, with the changes for the Collection / Media view:

![Upload Image](https://user-images.githubusercontent.com/1698337/111486063-71f89680-8737-11eb-97f9-6e7907caf41b.png)

This button will also be visible in the normal collection view:

![All Media](https://user-images.githubusercontent.com/1698337/111486419-c3088a80-8737-11eb-9316-b59de7fd6240.png)

So th

[2021-03-17 16:58] paul-staedtler opened #5884 "Trying to edit a page without language permission"
| Q | A
| --- | ---
| Sulu Version | 2.2.3
| PHP Version | 7.4.15

# Actual Behavior

When trying to edit a page without the permission for the corresponding language it will show a infinite "loading" screen and throws an exception in the background:

`Symfony\Component\HttpKernel\Exception\AccessDeniedHttpException:
Permission "view" in localization "de" for object with id "cef8e1b9-0219-4505-9d8

[2021-03-18 12:24] alexander-schranz commented on #5874
This is a limitation of the preview and this has nothing todo with sulu 2.0 this limitation does also exist in 1.6 the error is just more visible in 2.0 as most devs didn't read the error message in the logs.

If you open your 1.6 sulu you will see some like this also there in the response of the preview:

-- | --

So here was no breaking changes just DX improvement that the error is shown, and so

[2021-03-18 12:24] #5874 closed, assigned to nobody

[2021-03-18 12:26] johann-mok opened #5886 "User Roles field is marked as mandatory but is not"
| Q | A
| --- | ---
| Sulu Version | 2.2.4
| PHP Version | 7.4.15

# Actual Behavior

Its possible to save users permissions without selecting any user roles.

# Expected Behavior

There should be an error message.

# Steps to Reproduce

Edit an user inside of the permissions tab and remove all user roles.

[2021-03-18 12:50] alexander-schranz commented on #5886
@johann-mok the role is not required. You can create users and then later define which role you want to add to them. The user is not a required field. It could also be just a user of the website which don't use the sulu roles and security system. So this is correct behaviour that you can create a user without role.

I will keep this open as the form currently seems to tell that there need to be a

[2021-03-18 14:02] niklasnatter commented on #5886
As @alexander-schranz already explained, there are valid usecases creating a user without a roles. To reflect this, the misleading `mandatory` flag was removed in https://github.com/sulu/sulu/pull/5887.

The mandatory flag does not work for the `role_assignments` field-type because of the reason described in https://github.com/sulu/sulu/issues/5426 and https://github.com/sulu/sulu/issues/2938. Thi

[2021-03-18 14:02] #5886 closed, assigned to nobody

[2021-03-19 07:58] johann-mok commented on #5886
@alexander-schranz @nnatter it makes absolutely sence. The mandatory true flag was the confusing point. :)

[2021-03-20 18:02] CVogel opened #5889 "composer create-project sulu/skeleton fails when clearing cache"
| Q | A
| --- | ---
| Bug? | yes
| New Feature? | no
| Sulu Version | 2.2.5
| PHP/Composer Version | 7.4.16 / 2.0.11 and 7.4.13 / 2.0.6

#### Actual Behavior

When running composer create-project sulu/skeleton my-project
post install command cache:clear fails with exception

#### Expected Behavior

composer create-project sulu/skeleton runs without exception

#### Steps to Reproduce

1. Run `compo

[2021-03-21 16:33] SilberMa commented on #5889
@CVogel Thank you for your "possible solutions". It helped to make it work again. For now :)

[2021-03-22 08:29] chirimoya commented on #5889
For me it looks like it is related to the latest [doctrine bundle release](https://github.com/doctrine/DoctrineBundle/releases/tag/2.3.0). @alexander-schranz can you have a look?
/cc @sulu/core-team

[2021-03-22 08:40] chirimoya commented on #5889
@alexander-schranz `composer require doctrine/doctrine-bundle 2.2.4` works for me. Maybe related to https://github.com/doctrine/DoctrineBundle/pull/1304

[2021-03-22 10:14] alexander-schranz commented on #5889
I tried #1304 but sadly this PR does not fix our issue with the gedmo tree extension metadata not loaded.

[2021-03-22 11:56] niklasnatter commented on #5550
Just tried to reproduce this - I think it is not necessary to restore the child page. It looks like restoring a page to version B will break all child pages that had a draft at the time when version B was snapshotted. The following steps are enough to reproduce this for me:

1. Change `Coyoos` to `Coyoos2` and save as draft
2. Change `Artist` to `Artist2` and save and publish
3. Change `Artist2` t

[2021-03-22 12:13] nnatter commented on #5550
Spent some more time on this. It looks like this not only affects child pages with a draft, but also fully published child pages that have a descendant (child, grandchild, ...) with a draft. This reproduces the problem too:

1. Create a new `Bob Dylan` page as child of `Artist` and publish it
2. Create a new `Test` page as child of the `Bob Dylan` page and **save as draft**
3. Change `Artist` to `

[2021-03-22 12:28] jonland opened #5890 "unknown page status after restore version"
| Q | A
| --- | ---
| Sulu Version | 2.2.3 with Jackrabbit
| Jackrabbit Version | 2.18.5
| PHP Version | 7.4.3
| DB Version | MySQL 8.0.23
| Browser Version | Chrome 89.0.4389.90

# Actual Behavior
1. Sulu 2.2 with Jackrabbit.
2. Edit top level element change to wrong page type.
3. Restoring previous version of page (page type changed)
4. child's status is unknown (draft, no content).

# Expected

[2021-03-22 13:34] niklasnatter commented on #5890
Hello,
thanks for creating this issue. Unfortunately, I am not able to reproduce the problem with the provided steps.

https://user-images.githubusercontent.com/13310795/111997823-b7dca280-8b1b-11eb-81ca-809413f8b637.mov

- Can you please provide a screencast that shows how to reproduce the problem?
- How are you running Jackrabbit?
- What was the status of the pages before executing the provided

[2021-03-22 14:09] alexander-schranz commented on #5889
Current workaround would be to adjust the `composer.json` in your project like shown below. Unfortunately, there is not only an issue with doctrine/doctrine-bundle but also an issue with jms/serializer-bundle:

[code]

[code]

[2021-03-22 16:25] niklasnatter commented on #5550
Spent some more time on this. I dont think the problem is related to draft pages anymore. It looks like restoring a page to version B will **break all child pages that had at least one version at the time when version B was snapshotted**.
I can reproduce the problem with the following steps:

1. Create and publish a `Parent` page
2. Create and publish a `Child` page
3. Rename and publish the `Pare

[2021-03-22 16:31] niklasnatter commented on #5890
After spending some more time on this, I found a way to reliably reproduce the problem. It think the problem is not related to changing the template. Instead, it looks like restoring a page to version B will break all child pages that had at least one version at the time when version B was snapshotted.

I think this is the same problem as described in #5550, therefore I am going to close this issu

[2021-03-22 16:31] #5890 closed, assigned to nobody

[2021-03-22 17:42] niklasnatter commented on #5884
Thanks a lot for reporting! Should be fixed in #5885

[2021-03-22 17:42] #5884 closed, assigned to nobody

[2021-03-22 17:48] Dekminoz commented on #5889
Thank you, I’ve been having this problem all morning. Now it's working

[2021-03-22 18:24] CVogel commented on #5889
Thank you for your quick response and analysis. I'm now also using the conflict section in composer.json.

[2021-03-23 08:31] luca-rath commented on #5801
@alexander-schranz What do you think? If you agree, I would like to implement that, if I have some spare time

/cc @sulu/core-team

[2021-03-23 08:59] alexander-schranz commented on #5801
I think this should be handled on the `teaser_selection` part not in the template itself, as suggested like we doing it in the page_selection. The teaser_selection need to know which fields are needed to be displayed and loaded to display that specific teaser. Thats why I think its not good to move that to `sulu.teaser.field` as this would end in overfetching of data for teaser which does not need

[2021-03-23 09:14] luca-rath commented on #5801
But your suggestion also doesn't allow mapping the `kicker` property, if it's called `kicker` in `page-template-a` and e.g. `headerKicker` in `page-template-b`

[2021-03-23 12:42] niklasnatter commented on #5801
I would prefer to keep things consistent with the `page_selection`, `smart_content` and `sulu_content_load` 🙂

[2021-03-23 12:51] luca-rath commented on #5801
For me as developer it would be more obvious to use something similar to the `sulu.teaser.description` and `sulu.teaser.media` tags, because I'm already used to do that in the specific templates instead of the `teaser_selection` itself, but I guess I have been outvoted.

[2021-03-23 21:52] thomaskanzig opened #5896 "Bugfix additional webspaces"
| Q | A
| --- | ---
| Sulu Version | 2.1
| Bug fix? | Yes
| New feature? | No

# Actual Behavior

When I select a webspace, the article is still displayed for all webspaces.

# Expected Behavior

The article should only be displayed in the respective webspace selected.

# Steps to Reproduce

On settings tab of article, the main webspace dropdown.

# Possible Solutions

On `additionalWebspaces` sho

[2021-03-24 10:58] wimulkeman opened #5897 "Requesting ContactBundle\Entity\Account::getAccountAddresses() through Doctrine triggers incorrect return value"
| Q | A
| --- | ---
| Sulu Version | 2.2.5
| PHP Version | 7.2.20
| DB Version | 5.7.32-35
| Browser Version | - (issue on command line)

# Actual Behavior

When running the command `bin/console massive:search:reindex` the following error is thrown when indexing the accounts:

[code]

This issue is given on `getAccountAddresses`, `getPhones` and `getEmails`.

# Expected Behavior

The expected beha

[2021-03-24 11:01] alexander-schranz commented on #5897
Thank you for report.

I think we can not change the interface here from BC promise but I think we could return an empty array collection e.g.:

[code]

Do you want to create a PR for this on the `2.1` branch?

[2021-03-24 11:04] wimulkeman commented on #5897
That would indeed fix it. I will create a PR for it

[2021-03-24 11:32] wimulkeman commented on #5897
@alexander-schranz Should I set the update for all the methods which expect to return a Collection?

- getUrls
- getPhones
- getEmails
- getNotes
- getChildren
- getFaxes
- getSocialMediaProfiles
- getBankAccounts
- getTags
- getAccountContacts
- getAccountAddresses
- getMedias
- getCategories

The properties called by these methods are filled in the constructor.

[2021-03-24 12:23] alexander-schranz commented on #5897
Rethinking this here is maybe just something false with the loading mechanism because Doctrine should initialize it with a PersistentCollection or Lazy Collection and we should not have the need to handle this in our code.

[2021-03-24 12:29] alexander-schranz commented on #5897
@wimulkeman I tried to reproduce it. I created an `Account` without any address in a normal sulu/skeleton and it did work without any problems. Can you try if it works for you with a normal `sulu/skeleton` installation. Maybe the bug is inside a change of your project.

[2021-03-24 12:33] niklasnatter commented on #5897
As far as i understand, doctrine should initialize these properties based on the mapping for the entity if the entity is loaded from the database. The initialization in the constructor is only needed if a new entity is created somewhere in the code: https://www.doctrine-project.org/projects/doctrine-orm/en/2.8/reference/association-mapping.html#initializing-collections

Have you overwritten any en

[2021-03-24 13:00] wimulkeman commented on #5897
@alexander-schranz @nnatter I checked it with the `sulu/skeleton` and `sulu/sulu` repos. In both cases it works. As a test I also coupled the database of the project where it failed and it also works on the specified project database.

I see that in the project the account entity is overwritten but the new Entity is not used in Massive Search. The Doctrine configuration has also been changed under

[2021-03-24 13:00] #5897 closed, assigned to nobody

[2021-03-24 13:09] niklasnatter commented on #5897
@wimulkeman Thanks for investigating! There is an article in the documentation about how to overwrite an entity, maybe you can check if the project is configured like described:
https://docs.sulu.io/en/2.2/cookbook/extend-entities.html

I could imagine that overwriting an entity can mess things up here. Please feel free open a new issue if you can reproduce the problem by overwriting an entity as

[2021-03-24 13:18] niklasnatter commented on #5897
Okay I tried this in on of our projects and I suspect that the `massive/search-bundle` package is not compatible with overwritten entities 😕
Would you test if you can confirm this and create a new issue if you can?

[2021-03-24 13:48] wimulkeman commented on #5897
@nnatter Thanks for checking. I will give it a try in the project and let you know the results.

[2021-03-24 18:12] wimulkeman commented on #5897
@nnatter The configuration for overwriting the Account entity in the project is equal to the one descripted on at https://docs.sulu.io/en/2.2/cookbook/extend-entities.html. I will try to find a reason why `massive/search-bundle` is not using the new model and if this causes the conflict.

Would you like to have a new issue for that in this repo `sulu/sulu` because the overwrite is done through a c

[2021-03-25 09:54] niklasnatter commented on #5897
I think the `massive/search-bundle` is using an invalid mapping because of the hardcoded class in the `massive-search-mapping`:
https://github.com/sulu/sulu/blob/2.x/src/Sulu/Bundle/ContactBundle/Resources/config/massive-search/Account.xml#L3

I guess we need to use the interface in the `massive-search-mapping` and somehow adjust the `massive/search-bundle` to resolve the target entity for the int

[2021-03-26 08:21] niklasnatter commented on #5550
Thanks for reporting! Fixed by #5895

[2021-03-26 08:21] #5550 closed

[2021-03-26 12:38] GillesKnockaert opened #5899 "Collapsable sections in the backend"
# Problem description
When adding blocks to in the backend that page can become quite long, for this you can collapse blocks so that they are compact which is very nice. but sometimes this just won't cut it. to create structure here you can add sections.

# Proposed solution
also make sections collapsable
We often have blocks that you don't need to change a lot since they affect the way the page i

[2021-03-29 07:39] niklasnatter commented on #5899
Thanks for writing this up! I am going to close this because there is an existing issue for such a feature (#5094).
Please upvote the existing issue and feel free to add additional thoughts there 🙂

[2021-03-29 07:39] #5899 closed, assigned to nobody

[2021-03-29 09:03] luca-rath commented on #5094
What about introducing a param on the section which defines the default collapsed state for that section? Because probably the developer already knows which sections should be collapsed by default and which should not, right?

[2021-03-29 09:25] rogoit commented on #5094
Hi, I think a "collapse all" by default would be good and than that you can "open all" and this on top of the section

[2021-03-29 09:25] alexander-schranz commented on #5094
I know this feature from our old CMS and I must say I was never a big fan of it from content management perspective. I always like it more to have them open and scroll to them as have todo additional clicks to have things open. From content management view I don't see much usage for it and would not recommend to use it there as the content manager should need to have as less clicks as possible to

[2021-03-29 09:32] luca-rath commented on #5094
I would definitely not collapse all sections by default as @rogoit suggested, because in most cases you want the sections to be always opened

[2021-03-29 13:04] arjanfrans commented on #5823
https://github.com/sulu/sulu/issues/5823#issuecomment-786723758

My parameter '%enable_varnish%' is resolved from an environment variable, '%env(bool:ENABLE_VARNISH)%'

This still doesn't work because it doesn't resolve it to a boolean:

[code]

@alexander-schranz

[2021-03-29 13:46] niklasnatter commented on #5823
@arjanfrans What version of the `sulu/sulu` package is installed in your project?

[2021-03-29 13:51] arjanfrans commented on #5823
@nnatter 2.2.6

[2021-03-29 14:17] alexander-schranz commented on #5823
@arjanfrans I think symfony env vars are not build to be used this way to enable or disable things which have effects how the  container is build and I think thats why my previous issue was ignored by the Symfony Team. Currently you could workaround this issue by creating a kernel parameter in your `Kernel.php` e.g.:

[code]

[2021-03-29 14:30] nnatter commented on #5823
Sorry, I have not noticed that you are trying to set the value of the parameter via an environment variable. There is an intentional distinction between environment variables and parameters and when to use one vs. the other in Symfony (see https://speakerdeck.com/nicolasgrekas/configuring-symfony-from-localhost-to-high-availability). I could imagine that what you are trying to do is indeed not sup

[2021-03-29 14:31] niklasnatter commented on #5823
@arjanfrans Sorry, I have not noticed that you are trying to set the value of the parameter via an environment variable. There is an intentional distinction between environment variables and parameters and when to use one vs. the other in Symfony (see https://speakerdeck.com/nicolasgrekas/configuring-symfony-from-localhost-to-high-availability).
I could imagine that what you are trying to do is in

[2021-03-30 07:39] niklasnatter commented on #5889
Thanks for reporting! This was fixed by #5891. Make sure to set the version of the `sulu/sulu` package to `~2.2.6` in the `composer.json` of your project to install the newest version.

[2021-03-30 07:39] #5889 closed, assigned to alexander-schranz

[2021-03-30 17:30] niklasnatter commented on #5759
Thanks for reporting! Fixed by #5906

[2021-03-30 17:30] #5759 closed, assigned to nobody

[2021-03-30 17:36] niklasnatter commented on #5868
Thanks for reporting! Should be fixed by #5882

[2021-03-30 17:36] #5868 closed, assigned to nobody

[2021-03-31 10:00] arjanfrans opened #5909 "SuluMediaBundle S3 configuration without credentials"
| Q | A
| --- | ---
| Sulu Version | 2.2.6
| PHP Version | 7.4.16
| DB Version | Mysql 5.7

# Actual Behavior

Sulu requires the credentials of the S3 Client to be set. However, the client itself does not require that. The credentials can also for example be set to `false`, see https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_anonymous.html.

![image](https://user-image

[2021-03-31 14:54] niklasnatter commented on #5545
We implemented a basic `SuluEventLogBundle` in #5840 🎉

The bundle is integrated in the `TagBundle` and `CustomUrlBundle` as proof of concept at the moment. We hope to be able to integrate it into all other core bundles for the `Sulu 2.3` release. For example, #5900 will integrate the bundle into the `CategoryBundle`.

If anybody is interested in helping us with the integration in other bundles, w

[2021-03-31 14:54] niklasnatter commented on #5880
Closing this because of the reasons explained above 🙂

[2021-03-31 14:54] #5880 closed, assigned to nobody

[2021-04-01 11:39] wimulkeman opened #5913 "MassiveSearch breaks when overwriting built in contact or account entity"
Q | A
-- | --
Sulu Version | 2.2.5
PHP Version | 7.2.20
DB Version | 5.7.32-35
Browser Version | - (issue on command line)

This story is a follow-up of #5897

# Actual Behavior

In the project the Account entity has been extended following the guidelines at https://docs.sulu.io/en/2.2/cookbook/extend-entities.html.

When running the command `bin/console massive:search:reindex` the following error

[2021-04-01 11:45] alexander-schranz commented on #5913
@wimulkeman  Thank you for creating this Issue.

As mention by you the massive search `mapping` is the problem here. It loads the `abstract` `mapped-superclass` meta data from the core Account entity instead of the new metadata of the entity. Best would be that the `massve-search` supports here the usage of `AccountInterface` because the SuluPersistenceBundle would load over the AccountInterface t

[2021-04-01 12:11] wimulkeman commented on #5913
@alexander-schranz Thanks for explaining the underlying points. I will dive into it a bit myself to familiarize myself with the inner workings of the mapping part.

If I can help with anything let me know, I will try allocate some of my time to help with resolving the issue.

[2021-04-02 11:23] niklasnatter commented on #5349
Thanks for bringing this up! We have deprecated the functionality in #5912

[2021-04-02 11:23] #5349 closed

[2021-04-02 12:57] alexandersch opened #5916 "Sulu does not always redirect to login while navigating in case of an expired session"
| Q | A
| --- | ---
| Sulu Version | 2.2.7
| PHP Version | 7.4
| DB Version | MySQL 5.7
| Browser Version | Chrome 89.0.4389.90

# Actual Behavior

If your sulu admin session has expired, because of inactivity, and you navigate to any page in the CMS, it doesn't always log you out. Despite of the 401 responses on the requests. It only logs you out when a request is handled by the Requester service

[2021-04-02 13:29] niklasnatter commented on #5916
Thanks for creating the issue! The automatic logout is added as hook of the `requester` service here:
https://github.com/sulu/sulu/blob/f8b1be3c0756325f4a986a65dbf0b0474e0eddbb/src/Sulu/Bundle/AdminBundle/Resources/js/index.js#L125

It looks like the `metadataStore` service does use `fetch` instead of the `requester` service. Therefore the automatic logout will not happen if such a request fails:

[2021-04-02 13:37] alexander-schranz commented on #5916
The metadatastore.js was implemented in https://github.com/sulu/sulu/pull/4671 I see there no comment why the requester was not used and I see currently not why the requester should not work. So I would say that we should change it to the requester service at for the `metadataStore.js`.

@alexandersch do you want to create a PR for it?

[2021-04-02 13:45] niklasnatter commented on #5916
I could imagine that there is no way to access the `cache-control` information that is used here when using the `requester` service:
https://github.com/sulu/sulu/blob/f8b1be3c0756325f4a986a65dbf0b0474e0eddbb/src/Sulu/Bundle/AdminBundle/Resources/js/stores/metadataStore/metadataStore.js#L36-L39

[2021-04-02 18:19] alexandersch commented on #5916
So what do you guys suggest now, call the `Requester.handleResponseHooks` or replace fetch completely with requester service?

[2021-04-03 16:26] WouterCypers opened #5918 "Feature request: a toggler for the admin list view"
# Problem description

In Sulu, we can create an administration interface to manage custom entities. In the list view for a custom entity, it would be useful to have the possibility to directly toggle a boolean field. For example, if our entity has a boolean field `isEnabled`, we could use the toggler to switch the value from `true` to `false` or vice versa, without having to access the edit view.

[2021-04-06 08:54] niklasnatter commented on #5916
I think I would favor to add a `Requester.fetch()` method that provides the same interface as the default `fetch` method but  calls the registered `Requester.handleResponseHooks` when the promise resolves. This would allow us to use the `Requester.fetch()` method as a direct replacement in all the places that use `fetch` directly at the moment 🙂

[2021-04-06 23:23] alexandersch commented on #5916
Sounds good, I could give that a try and see what I can do.

[2021-04-07 09:08] niklasnatter commented on #5084
I can reproduce the problem by adding a translation to my template. The translation will not be updated in the preview when switching the locale:

[code]

It looks like the locale that is sent to the server by the `PreviewStore` is not updated when switching the locale in the administration interface.

[2021-04-07 15:05] Romaixn opened #5925 "Blank page on list index custom entity after insert"
| Q | A
| --- | ---
| Sulu Version | 2.2.6
| PHP Version | 7.4.3
| DB Version | postgres 13
| Browser Version | Chrome 89.0

Hello, after check out the code at https://github.com/sulu/sulu-demo/tree/example/custom-entity , I tried to reproduce.

This work but when I save an entity, I have a blank page on list view. (without sidebar, etc)

Did I miss something to have this problem?

[2021-04-07 16:07] niklasnatter commented on #5925
Hey,
do you see any errors or failed requests in the development tools of your browser?

[2021-04-08 08:15] Romaixn commented on #5925
Thanks to your response on Slack, I've solved the problem! It came from a "checkbox" field that is not available in the listing.

[2021-04-08 08:15] #5925 closed, assigned to nobody

[2021-04-08 08:53] michaelzangerle opened #5927 "Save button is not enabled after changing the template of a page"
| Q | A
| --- | ---
| Sulu Version | 2.2.6
| PHP Version | 7.4.16
| DB Version | mySQL 5.7
| Browser Version | Version 89.0.4389.114 (Official Build) (64-bit)

# Actual Behavior

The safe button for a page is not clickable.

# Expected Behavior

The safe button for a page should be clickable if all required fields are present and have a proper value.

# Steps to Reproduce

I was able to reproduce

[2021-04-08 09:18] niklasnatter commented on #4898
I like the solution outlined in #5214 because it does not require us to create a mapping between the XML parameters and the CKEditor configuration and it is compatible with additionally installed CKEditor plugins.

I am aware that it comes with the cost of needing to build the administration interface by yourself. But I could imagine to include commonly used configurations (like the one described

[2021-04-08 09:43] kfrohwein commented on #5214
Hi all,
we need a feature like this. For an App Export I need a Ckeditor with a very limited setup. I believe I can use around 3 days in the next week to implement this and I guess we will need this further on as well.

I will now do my sulu setup and put up a PR in the next days with code as far as I come. :)
And yes this time I will really do it as it's work ;)

[2021-04-08 16:00] niklasnatter commented on #5927
Thanks for reporting!

It looks like the reason for this is a bit complicated 🙈
The button is disabled because the form is marked as not dirty in this callback:
https://github.com/sulu/sulu/blob/5c7a15c250c01ee4337f1fd1c44a34b2e9035147/src/Sulu/Bundle/AdminBundle/Resources/js/containers/Form/Form.js#L58-L63

The callback is executed because the `Form` container is rerendered because the value of `

[2021-04-09 13:50] niklasnatter commented on #5918
Hey,
thanks for writing this up! I think it would be nice to better support this in the core in the future. I can think about two ways for enabling that:

## 1. Allow for different types of `ListItemAction`s

The `ListItemAction` concept is implemented similar to the `ToolbarAction` concept. The `ToolbarAction` concept already allows for different types of actions:
https://github.com/sulu/sulu/blo

[2021-04-09 14:36] alexander-schranz opened #5931 "The future of repository interfaces for sulu models"
# Problem description

In the last time @nnatter and I did discuss many times how a repository interfaces should look like in future for our domain models (contacts, medias, categories, ...) in Sulu, I think we did find a good solution in current projects. In this issue I want to write down my thoughts about how a RepositoryInterfaces for our Models should look like. It is focused focus to be flex

[2021-04-09 15:21] WouterCypers opened #5932 "Prefix or "format" for route field type"
# Problem description

This is related to [this discussion on Slack](https://sulu-io.slack.com/archives/C0430GGCV/p1617980544464500).

For custom entities, routes can be edited via the `route` field type. This means the user can edit the entire route. In some situations, this might not be desirable. It would be helpful to be able to define a prefix. My goal here is that the user should be able to

[2021-04-09 23:07] manuxi commented on #5932
Would be a nice feature. Keep the translation in mind.

[2021-04-10 10:42] gggeek commented on #5931
What about adding offset/limit to the `find` methods?

[2021-04-11 08:37] lchrusciel commented on #5931
Hey Alexander,

thanks for sharing your perspective over repositories extendibility. I don't want to interfere too much with your perspective(however from my experience inheritance starts to be a real pain when we have additional bundles/plugins on top of the framework, but below third-party app), but I would like to suggest putting what you've written into ADR as a part of the project in MD file.

[2021-04-12 06:25] alexander-schranz commented on #5931
@gggeek I know that some people prefer having them as own arguments in the methods, but from my perspective there is no difference to other filter parameters. As a parameter like limit, page (offset) are filtering the resultset like other filters. That's why the are part of the $criteria, this make it from the usage inside controller in combination with other filters easier as you can directly for

[2021-04-12 06:34] alexander-schranz commented on #5931
@lchrusciel Thx for your feedback. I aggree that extending then in third party and plugins could be difficult, but they are I think also difficult on the Model / Entity level. If there are 2 plugins/bundles adding a new field to an entity you run mostly in the same problem. Currently on entity level I only see that then the bundles would need to provide an own interface and maybe a trait, which th

[2021-04-12 07:42] niklasnatter commented on #3623
Want to quote an answer from @alexander-schranz from our Slack channel here for completion:

[2021-04-12 07:45] niklasnatter commented on #5932
In the case of pages, the behaviour of the input field depends on the configured resource locator strategy of the webspace. The `tree_leaf_edit` strategy will render everything until the last slash as read-only and will allow to only edit the part after the last slash:
https://docs.sulu.io/en/latest/book/webspaces.html#resource-locator-optional

I created a PR (#5933) to make this behaviour config

[2021-04-12 07:54] niklasnatter commented on #5932
This is not possible at the moment when using live generation because the title of the assigned artist is not available when evaluating the configured route schema (only the value of the fields with a `sulu.rlp.part` tag will be available). I think it should be possible when not using live generation but generating the route only on the first save of the entity (like in the `SuluArticleBundle`: ht

[2021-04-12 08:30] WouterCypers commented on #5932
I understand that it is a separate and more difficult issue to do live generation depending on values set in other entities. Indeed, it would probably be better to generate the route on the first save.

I think PR #5933 already adds some great functionality. Thank you!

[2021-04-12 09:21] alexander-schranz commented on #5796
At current state we will not invistigate to support mongodb. We will focus on RDBMS mostly usage of `mysql` and `postgresql` which supports today to store `json` objects which we are experimenting in the [SuluContentBundle](https://github.com/sulu/SuluContentBundle). Feel free to give it there a test, its really nice what this databases did improve in the last years and how they play together betw

[2021-04-12 09:21] #5796 closed, assigned to nobody

[2021-04-12 09:31] lchrusciel commented on #5931
In Sylius, entities are extended with traits with default Doctrine mapping - solution good enough for now but can be felt that it may backfire in the long run. The only other possibility is splitting entities into smaller chunks to avoid this issue as much as possible, but it is not always possible.

The repositories, for now, are extended mostly just by extending the previous class. However, it l

[2021-04-12 16:05] #5084 closed

[2021-04-12 16:06] alexander-schranz commented on #5084
This issue was fixed by #5924 at current state we can only fix this in the new 2.3 release.

[2021-04-13 14:38] d3vpunk opened #5935 "ContentRepository: Only fetching needed properties to increase Sulu performance"
# ContentRepository::resolvePermissions is fetching unused properties

Hi everyone :slightly_smiling_face: We are currently working on several performance fixes, starting with one of our biggest sites with the awesome Sulu 2 :+1:

On many pages we have now already implemented cache for the navigation and it has some effect - it works well.
But we looked further and noticed that much time is spent

[2021-04-14 09:44] niklasnatter commented on #5823
@arjanfrans This new issue might be interesting for your case too: https://github.com/symfony/symfony/issues/40794

[2021-04-16 12:03] tstauer opened #5938 "CKEditor heading dropdown cut off"
| Q | A
| --- | ---
| Sulu Version | 2.2.7
| PHP Version |7.3.24
| DB Version | MySQL 5.7.30
| Browser Version | Firefox 78.9.0esr (64-Bit)

# Actual Behavior

Sulu cuts off the dropdown for heading options at the end of a block

# Expected Behavior

The dropdown is fully displayed or a scrollbar within the dropdown allows to scroll to all entries.

# Steps to Reproduce

Configure a block with a c

[2021-04-16 12:29] alexander-schranz commented on #5938
Thx for reporting this issue. I hope that we maybe can fix it on ckeditor directly to avoid issues like this in future. https://github.com/ckeditor/ckeditor5/issues/9499. Else there seems currently be a `overflow-y: hidden` on the default `grid` element which was added here: https://github.com/sulu/sulu/commit/96096d163f29679215845f3877fa67da33f377ef I think we should remove that and make sure tha

[2021-04-16 13:52] luca-rath opened #5940 "Resource title of domain event is not localized"
| Q | A
| --- | ---
| Sulu Version | 2.3

# Actual Behavior

The resource title of a `DomainEvent` is not localized. This will probably be a problem for `removed` events as soon as there should be an audit log showing entity deletions, because then the actual entity is not available anymore to retrieve the title in the correct language.

# Possible Solutions

All available translations of the reso

[2021-04-16 14:32] alexander-schranz commented on #5940
Saving all locales would also mean that we would need to load the entity in all locales, which is a lot of overfetching, specially for big sites like some of our community member did have with +50, +60 localizations. So I would not save the title in all available localizations.

If we display it in the UI and it did happen in another locale we could show beside the title the locale example as indi

[2021-04-18 18:36] alexander-schranz commented on #5776
Currently there is also a `minWidth` on some items over $viewMinWidth which introduced with the `MultiItemSelection`. I think this minWidth of 420px whould be removed and components relay on it be adjusted.

[2021-04-18 18:49] StaffNowa commented on #5776
@alexander-schranz i hope and waiting for test fix :)

[2021-04-19 07:42] luca-rath commented on #5940
So this means, that the`resourceLocale` has to be saved on any domain event, even for `removed` events, but this is kind of strange, because if there is a domain event of type `removed` and with locale `en`, one could think, that this resource has only been removed for locale `en` instead of deleted completely. So I would suggest adding a new field `metaLocale` or `resourceTitleLocale` or somethin

[2021-04-19 08:00] alexander-schranz commented on #5940
@luca-rath would not add a additional locale here just to display it. A event which removes the locale would be named differently and will not be the same event, so I don't think that this will be confusing.

[2021-04-19 08:30] luca-rath commented on #5940
In a short call with @sulu/core-team we decided to add an additional locale field, which saves the locale of every localized information in that event (`resourceTitle` and maybe some other localized information in `eventContext`), but we haven't come up with a proper name yet. My suggestion would be `metaLocale`.

* I think `resourceTitleLocale` would be too specific, because it's possible, that t

[2021-04-19 08:41] alexander-schranz commented on #5940
As a reference here the current fields on the EventRecord: https://github.com/sulu/sulu/blob/7833cdced3878fe25303c0f93c99daeba1e5e6b8/src/Sulu/Bundle/EventLogBundle/Resources/config/doctrine/EventRecord.orm.xml#L10-L26

Also not sure about it. I think in all cases the problem is what is the difference between this 2 locales. Maybe the current `resourceLocale` should be renamed to `eventLocale` and

[2021-04-19 10:23] luca-rath commented on #5940
Since **every** domain event should have a resource title, i don't think we should move that into the event context. From my understanding, the event context contains *additional information* about the event or the resource

[2021-04-19 11:55] alexander-schranz commented on #5940
Also when we still have on PHP level a `getResourceTitle` method we could still save it as a part of the `eventContext` with the `locale`. Just thinking out loud which alternatives we have here to avoid confusion with 2 locales.

[2021-04-19 12:23] niklasnatter commented on #5940
The `eventContext` provides additional information that is relevant for a specific event. If that event has no `resourceLocale`, it concerns all translations of the entity (eg. moved/deleted). I am not sure if there is a lot of localized information that is relevant in the context of such an event.

What would be an example where the `eventContext` contains localized information but the `resourceL

[2021-04-19 12:37] alexander-schranz commented on #5940
Thats true.

I think I would then go with `resourceTitleLocale`, I think this is currently the only naming which make it not confusing when we have 2 locales on the event record.

[2021-04-19 12:40] alexander-schranz commented on #5931
@lchrusciel thank you for your response. I understand your point and maybe something like the visitor pattern would make it better to work and better extendable for third party libraries.

I also to rethink about the `$with` that it has some disadvantages as the caller of the method need to know which one need to be loaded and maybe a better option would be instead using `$contexts` and reuse seri

[2021-04-19 14:13] luca-rath commented on #5940
`resourceTitleLocale` is fine for me 👍

[2021-04-19 14:42] alexander-schranz commented on #1226
As we are now providing events in #5939 they can be used to send assets or other things to external services.

[2021-04-19 14:42] #1226 closed

[2021-04-20 10:25] luca-rath commented on #5940
@nnatter @alexander-schranz implemented in #5945

[2021-04-20 15:33] #5940 closed, assigned to nobody

[2021-04-23 14:41] niklasnatter commented on #5932
I am closing this as #5933 was merged. Feel free to create a new issue and reference this one if #5933 does not solve one of your usecases! 🙂

[2021-04-23 14:41] #5932 closed, assigned to nobody

[2021-04-28 14:16] davidhoelzel opened #5970 "Published pages broken in certain locale in production"
Hello,
we are encoutering a strange behaviour:
publishing pages in one of our localizations works, but data in phpcr is not updated (only in website workspace). This worked flawlessly for the last couple of months.
Unfortunately, we are not able to reproduce this behaviour in dev, no matter how hard we try.

Setup:
Affected Locale: en_us
sulu version: 2.2.5

Here is the setup for that webspace:

[

[2021-04-28 15:02] alexander-schranz commented on #5970
Hello @davidhoelzel,

Does it happen only on this installation and this db? Do this error only happens on `prod` or also on `dev` environment with the same db dump? Can you reproduce it locally on `prod` env? Did you maybe add the localizations without running the document init command. See adding localization docs: https://docs.sulu.io/en/2.2/book/localization.html

[2021-04-28 15:50] niklasnatter commented on #5970
Hey,
thanks for the detailed description!
Does this happen for all pages or only for specific pages?

[2021-04-29 06:06] davidhoelzel commented on #5970
Happens now for all pages as soon as we add it to any navigation context in that locale (new pages and already existing ones).
Only pages that were already published before that problem occurred are still working in navigation.
When not adding them to navigation context, the published pages are working as expected, but are therefore not available in navigation.

I will try to export the prod data

[2021-04-29 08:42] alexander-schranz commented on #5970
The structure you posted happens when a child page is part of the navigation but the parent page not. Does the page itself occur on the website or the url in the sitemap? How does the phpcr node look like you can with `bin/websiteconsole doctrine:phpcr:shell` then with:

[code]

which should then output the whole node which should also shown the navigation contexts.

[2021-04-29 08:53] davidhoelzel commented on #5970
Ah, I did not know that I have to exit the shell to see updated data:-)

Seems like the data for the node is correctly updated and even for locale en_us, the navigation context is set correctly:
| i18n:en_us-navContexts                 | STRING (4)      | [0] main
| i18n:en_us-published                   | DATE (29)       | 2021-04-29T10:47:57+02:00

But sulu_navigation_root_tree still returns onl

[2021-04-29 09:00] niklasnatter commented on #5970
@davidhoelzel You can use `refresh` inside of the shell to refresh the data of your session 🙂

Does this mean that the data is updated correctly and only missing when using the `sulu_navigation_root_tree` function?

Does the same problem occur when using the `sulu_navigation_root_flat`, `sulu_navigation_tree` and `sulu_breadcrumb` function?
Is it possible that there is some kind of navigation cach

[2021-04-29 10:03] davidhoelzel commented on #5970
I must admit it is wrong that the sulu_navigation_root_tree method is called, it is rather NavigationMapper::getRootNavigation (with same arguments as sulu_navigation_root_tree calls that method). From the service @sulu_website.navigation_mapper.

Yes, we have implemented a navigation cache, but this only stores the data that is returned by navigationMapper->getRootNavigation and enriches some add

[2021-04-29 10:16] alexander-schranz commented on #5970
@davidhoelzel do you have the same issues when you disable the cache and also disable all other caches (normally they are disabled when you run it locally in your `dev`). For me it looks like a caching issue, would be nice if you try to debug it from which cache maybe something is loaded incorrectly.

[2021-04-29 10:47] niklasnatter commented on #5970
From that description, I would suspect an issue in your custom cache. The answers to the following questions from above would still be interesting:

- Does this mean that the data is updated correctly and only missing when using the `sulu_navigation_root_tree` function? Do you see the updated data when visiting the page and in the PHPCR shell?
- Does the same problem occur when using the `sulu_nav

[2021-04-29 14:45] davidhoelzel commented on #5970
This has nothing todo with caching, I think this is is a bug in our code that does not handle the case of un-published pages.

As I understand that ListToTreeConverter that builds the navigation tree structure, it´s purpose is the following:
- go through found nodes
- if there are children contained but the node itself is not published -> add only the child pages, so the un-published node itself i

[2021-04-30 07:36] niklasnatter commented on #5970
Thanks for the update! I will close this, feel free to create a new issue if you encounter any other problems 🙂

[2021-04-30 07:36] #5970 closed, assigned to nobody

[2021-04-30 08:16] davidhoelzel commented on #5970
Just a sidenote: the method NavigationMapper::getNavigation returns a different structure and **does not return** published children for unpublished pages. This might be regarded as inconsistent and should therefore be made clear either in a code comment or the documentation.

[2021-04-30 10:25] kfrohwein opened #5975 "Media folders missing from the "move image" targets"
| Q | A
| --- | ---
| Sulu Version | 2.2.7
| PHP Version | 7.4
| DB Version | Pgsql
| Browser Version | Latest Chrome

# Actual Behavior

You want to move a media item but the folder is missing in the selection

![image](https://user-images.githubusercontent.com/245385/116682765-f6813a80-a9ae-11eb-8921-08fae839cd24.png)

![image](https://user-images.githubusercontent.com/245385/116682780-faad5800-

[2021-04-30 10:39] alexander-schranz commented on #5975
Thx for creating this issue, I could reproduce it on the sulu rocks demo. Not sure but could also be a problem in the Media Smart Content Provider in the collection selection.

[2021-05-03 13:31] michaelzangerle opened #5983 "Different templates with different blocks but same block names"
| Q | A
| --- | ---
| Sulu Version | current master

First of all I am not sure this is a bug or just a missing feature or something else. As I ran into it because of an error I chose the bug template to create this issue. I talked to @wachterjohannes and we decided to create an issue to discuss it here because we uncovered some more scenarios as well.

**Situation**
- we have two templates T1 and

[2021-05-04 08:15] niklasnatter commented on #5975
Thanks for reporting! Should be fixed with #5987 🙂

[2021-05-04 08:15] #5975 closed, assigned to nobody

[2021-05-05 11:29] niklasnatter commented on #5983
Hey, thanks for reporting!
We talked about this today and decided that the frontend should fallback to the default type if a block-type is not available in the current template. The data of the block should not be changed and therefore matching properties should keep the data. This behaviour should be consistent with the behaviour for properties outside of blocks 🙂

[2021-05-05 12:50] #5469 closed

[2021-05-05 17:40] alexander-schranz opened #5998 "Moving Preview Functionality into AdminBundle"
# Problem description

Currently the `Preview` functionality is in an own Bundle, but the `Admin` itself has some connection to the `PreviewBundle` like the ViewBuilder need to know about the Preview and has also a `createPreviewFormViewBuilder` method. So there is no clear cut between the AdminBundle and the PreviewBundle.

# Proposed solution

I think I would merge the `PreviewBundle` functional

[2021-05-05 17:55] luca-rath commented on #5998
The less dependencies we have between the bundles, the better ... So I'm up for this change 👍
An alternative to adding a `Preview` namespace to the `AdminBundle` would be introducing a `Preview` component, but I don't prefer that solution over the other, just wanted to bring in the idea.

[2021-05-05 17:59] alexander-schranz commented on #5998
The PHP part for the Preview would be in a `Preview` namespace inside the `AdminBundle` then, its just that `Preview` is nothing optional (still can be disabled) and as we have a deep connection between our Admin UI and the `Preview` I would just think it would be good that the are in the same Bundle, also the Preview JS would then be in the Admin Bundle.

[2021-05-06 12:38] alexandersch commented on #1074
I would prefer that it is translatable, so that we can show `English` for `EN-US` or `German` for `DE-DE`. And if your admin language is set to german you would see `Deutsch` and `Englisch`

[2021-05-06 12:51] alexander-schranz commented on #1074
We should then decide if things like `Shadow Locale` dropdown and the `User Role Locale` dropdown should then show this translation. I personally would prefer the generate the translation over the sulu Intl component to be consistent over all sulu installation. Because else this could get inconsistent if the developer can set the translation. We use the intl extension in the web-twig intl extensio

[2021-05-06 14:04] davidhoelzel opened #6004 "Changing URL in parent Page is not updating url in child pages"
| Q | A
| --- | ---
| Sulu Version | 2.2.7
| PHP Version | 8.0.3
| DB Version | Postgres 12.2
| Browser Version | Does not matter

# Actual Behavior

When the url of a parent page is changed, the child pages are not updated accordingly, at least in website phpcr workspace.
As consequence, all sulu_navigation_* methods return for child pages the outdated urls.
Openening these urls results in a (cor

[2021-05-06 14:11] alexander-schranz commented on #6004
@davidhoelzel Thank you for creating this issue. There is an exist issue for the same Problem here #4990 so I will close this one to avoid duplication. If you want to add additional information please feel free there. Currently the problem is that we would need to implement something like `partial` publishing of the child pages so only that the new `url` is published for them and not that accident

[2021-05-06 14:11] #6004 closed, assigned to nobody

[2021-05-06 15:18] alexandersch commented on #1074
I agree, automatic translations through Intl extension would be better than user translated strings. Maybe then also build in a possibility to configure which format to show. Alpha2, Alpha3 or full language name for example.

[2021-05-07 10:07] niklasnatter commented on #5545
Closing this as we managed to integrate all core entities with the now called `SuluActivityBundle` in the last weeks 🎉

[2021-05-07 10:07] #5545 closed

[2021-05-07 10:20] niklasnatter commented on #4681
Related to https://github.com/sulu/sulu/issues/5676

[2021-05-07 10:22] niklasnatter commented on #4544
Fixed in https://github.com/sulu/sulu/pull/5848

[2021-05-07 10:22] #4544 closed

[2021-05-07 10:25] niklasnatter commented on #4099
Since https://github.com/sulu/sulu/pull/5532, webspaces are sorted by the webspace name per default 🙂

[2021-05-07 10:25] #4099 closed

[2021-05-07 10:26] niklasnatter commented on #4066
Fixed in https://github.com/sulu/sulu/pull/5842

[2021-05-07 12:40] alexander-schranz commented on #5086
I still think sorting it alphabetically would make most sense in case of the Content Manager. What is maybe important for a content manager A is not important for content manager B and the most important block type is configured as `default` so I would still go here with alphabetically order as this is I think for every content manager the easiest way to find the specific block type in the dropdow

[2021-05-10 06:18] michaelzangerle commented on #5983
@nnatter That sounds good. Would this `decided that the frontend should fallback to the default type` also mean that the invalid data wont be sent to the backend in the first place and not cause this exception?

[code]

[2021-05-10 07:49] niklasnatter commented on #5983
Yes, the frontend should send the type that is displayed to the user to the server 🙂

[2021-05-10 10:04] alexander-schranz commented on #5913
This issue should be fixed with the latest MassiveSearchBundle Release: https://github.com/massiveart/MassiveSearchBundle/releases/tag/2.6.1

[2021-05-10 10:04] #5913 closed, assigned to nobody

[2021-05-10 13:25] #5718 closed

[2021-05-10 15:47] niklasnatter commented on #5858
Thanks for creating this issue! Should be fixed in #6014

[2021-05-10 15:47] #5858 closed, assigned to nobody

[2021-05-11 08:10] plozmun opened #6019 "Enable pagination in admin page tree"
# Problem description

We have a site with a lot of pages with multiple languages ( 22 in total ) and there is a bad performance in admin due to all pages are loaded ( more than 30 seconds sometimes )

# Proposed solution

Add a "Load more" in each tree to enhance performance, 20 items should be enough.

[2021-05-11 09:34] alexander-schranz commented on #5983
I did test this how this was handled in the `1.6` and it seems like in `1.6` the page data was loaded from the backend with the new template. There you see if you switch the template the page is loaded again from the backend with:

So it is loaded with the supported block types. The problem in 1.6 was when you did switch the template in the `Add Form` all your inputed data was getting lost. So not

[2021-05-11 12:36] alexander-schranz opened #6027 "X-Default handling in meta and sitemap"
| Q | A
| --- | ---
| Sulu Version | 2.x
| PHP Version |
| DB Version |
| Browser Version |

# Actual Behavior

Currently the x-default doesn't work:

 - when the webspace configure url per locale (x-default is from language to language different)
 - when the default language does not exist the `x-default` should not be returned
 - to be discussed x-default should never be set as it is a internati

[2021-05-12 07:10] wachterjohannes commented on #6019
@plozmun which version of sulu do you use?

[2021-05-12 07:24] plozmun commented on #6019
2.2.7

I know it's complicated because there are many fields in the node and a lot of children. It was a simple project at the beginning but the client wanted more and more pages 😅

[2021-05-12 07:39] wachterjohannes commented on #6019
@plozmun this is not a solution to the actual problem - but have you thought about the article bundle for some sections of your page?

[2021-05-12 07:45] plozmun commented on #6019
Yes, I thought about it but I didn't know where the client is going to create the pages 😞

[2021-05-12 08:22] plozmun commented on #6019
@wachterjohannes Is it possible to migrate pages to articles?

[2021-05-12 08:24] Romaixn opened #6030 "Focus and crop on image don't work"
| Q | A
| --- | ---
| Sulu Version | 2.2.7
| PHP Version | 7.4 / 8.0.3
| DB Version | PostgreSQL
| Browser Version | Firefox 89

# Actual Behavior

Freeze when click on "Set Focus" and "Crop image" link on media image page. The preview of image don't display and current user is disconnected.
![image](https://user-images.githubusercontent.com/18333296/117943133-1c420400-b30c-11eb-88e6-4300b61c8935.

[2021-05-12 08:38] niklasnatter commented on #6030
Hey,
I cannot reproduce this problem in my installation and on `sulu.rocks`.
Do you see any errors in the development tools of your browser?

[2021-05-12 08:45] Romaixn commented on #6030
I juste have a 401 "Unauthorized" when trying to fetch image

[2021-05-12 08:53] niklasnatter commented on #6030
Its hard to help you with this amount of information. Can you please include screenshots of the failed requests and the errors in you javascript console?

Do the medias work in other parts of the system? Have you tested the problem in different environments? Does it happen in all of them? Do you see any errors in the logs (`var/logs/*`) of your application?

[2021-05-12 08:59] Xheradon opened #6031 "Admin interface doesn't work with manual build"
| Q | A
| --- | ---
| Sulu Version | 2.2.6, 2.2.7, 2.2.8
| Browser Version | Chrome 90.0.4430.93

# Actual Behavior
An error ocurrs after loging in the admin interface:

[code]

# Expected Behavior
No error.

# Steps to Reproduce
I've build the admin manually following the docs (with the command, with docker and manually). The error happens with and without custom extensions loaded and seems to be

[2021-05-12 09:00] Romaixn commented on #6030
I have this error on var/logs/admin/prod.log :
`request.CRITICAL: Uncaught PHP Exception Symfony\Component\ErrorHandler\Error\FatalError: "Compile Error: Declaration of Proxies\__CG__\Sulu\Bundle\MediaBundle\Entity\CollectionType::addCollection(Doctrine\Common\Collections\Collection $collections) must be compatible with Sulu\Bundle\MediaBundle\Entity\CollectionType::addCollection(Sulu\Bundle\Media

[2021-05-12 09:09] niklasnatter commented on #6030
Have you tried to clear the cache of your application by removing the `var/cache` folder?

Can you please answer the following questions asked above:

- Do the medias work in other parts of the system?
- Have you tested the problem in different environments? Does it happen in all of them?

[2021-05-12 09:19] niklasnatter commented on #6031
Hey,
is it possible that the `assets/admin` folder of your project is not in sync with the respective version of the skeleton (eg. the [2.2.8 tag](https://github.com/sulu/skeleton/tree/2.2.8/assets/admin))?

Please follow the [Upgrading Sulu 2.x](https://docs.sulu.io/en/2.2/upgrades/upgrade-2.x.html) guide when updating a project. The `sulu:admin:update-build` command described in the last step sh

[2021-05-12 09:21] wachterjohannes commented on #6019
@plozmun not out of the box :) but it would be quite easy to do that in a command

But we have another issue with performance which could be your problem too. Can you maybe comment out the code of the following function?

https://github.com/sulu/sulu/blob/d2f8f5c866af8ace7ba39b0b8fa5c2fba7bf3413/src/Sulu/Component/Content/Repository/ContentRepository.php#L455

[2021-05-12 09:21] Xheradon commented on #6031
Checked that already. I deleted all files except for index.js and package.json and merged those two.

[2021-05-12 09:21] Romaixn commented on #6030
Yes, the problem persist.

The medias work well in other parts, I can add media and display them.

The problem does not appear in my local machine (Linux with PHP 8.0.6), Is a PHP module missing?

[2021-05-12 09:27] plozmun commented on #6019
Yes, I have overwritten that method to return an empty array and it improves performance.

[2021-05-12 09:30] niklasnatter commented on #6031
I just set up a fresh `sulu/skeleton`, added a `console.log('test');` to the `assets/admin/index.js` and built the administration interface using `bin/console sulu:admin:update-build`. The process worked for me and i see the log in the console of my browser.

I suspect that the problem is caused by something inside of your project. Can you please provide a repository that allows us to reproduce th

[2021-05-12 09:31] alexander-schranz commented on #6030
Sounds for me like a caching issues if cleaning the `var/cache` directory didn't work its mostly a hint that the class is in the `opcache` still cached. On some server you can just restart webserver or php-fpm. Else there is a tool called cachetool which can do this https://github.com/gordalina/cachetool as the webserver opcache can not be cleared over cli directly.

[2021-05-12 10:42] Xheradon commented on #6031
Funny thing, while trying to make a demo proyect to share after copying the js to the demo proyect and making the build it works. The old proyect still doesn't work, but if I copy the "demo build" to the old proyect it works.

Could you maybe tell me if there are any other files outside the admin folder and apart from the libraries installed (or symlinked) from the package.json file that affect th

[2021-05-12 12:34] niklasnatter commented on #6031
Yes, unfortunately npm is not able to install the correct dependencies if your project contains outdated `node_modules` folders or `package-lock.json` files in some cases (in my experience this mostly happens when switching between different `sulu/sulu` minor versions).

This is why the `sulu:admin:update-build` command cleans up these files before starting the build: https://github.com/sulu/sulu/

[2021-05-12 12:57] alexandersch opened #6033 "Add media properties to media admin"
# Problem description

The custom media properties are not visible in the media admin screen.

# Proposed solution

Something like a read only representation of the properties somewhere on the media admin screen.

[2021-05-12 12:57] Xheradon commented on #6031
I tend to use `sulu:admin:update-build`, yes. A weird thing has been happening when I use it: it deletes both the `./assets/admin/node_modules` folder and `./assets/admin/package-lock.json` but it also deletes my `./vendor` folder.

[code]

I then have to use `composer install` to get my dependencies back. After that I can use `sulu:admin:update-build` again. Seems like if I have a `node_modules`

[2021-05-12 13:51] Xheradon commented on #6031
After cloning the proyect in another folder and trying in 2 more machines I still can't replicate it. I guess some I have some corrupted folder or something.

The deletion of the `./vendor` folder still happens though. Should I open another issue with this?

I'm closing this issue, thanks for the help!

[2021-05-12 13:51] #6031 closed, assigned to nobody

[2021-05-12 15:26] alexander-schranz commented on #6033
The custom properties contains currently none content information but I think in some cases it would make sense to show them to the content manager. Example properties data are `width`, `height` for videos and images. Another example is saving `exif` data in the properties https://docs.sulu.io/en/latest/bundles/media/properties-provider.html#create-custom-properties-provider, this could be a  `cam

[2021-05-12 15:44] alexandersch commented on #6033
![image](https://user-images.githubusercontent.com/3180083/118004220-8e850980-b349-11eb-8caf-b9f301508850.png)
Seems to be working. Of course, more complex data would be difficult this way. But this will suffice for now!

[2021-05-13 16:33] #6033 closed, assigned to nobody

[2021-05-14 07:38] plozmun commented on #6027
Hi @alexander-schranz!

In a recent project we have changed the ParameterResolver behavior to add a new parameter to localizations
[code]
Later in seo.html.twig
[code]

- If alternate exists it's added.
- If default locale exists , it's added like x-default

WDYT?

[2021-05-14 08:53] alexander-schranz commented on #6027
@plozmun Yes the `alternate` flag is something I also had in mind. In twig we maybe need to check if `alternate` is not defined it should handle like `alternate: true` for backward compatibility. The `x-default` is something we are currently waiting for feedback from our partners seo experts.

The `localizations` need also be adjusted then in the `TemplateAttributeResolver` which is used by other

[2021-05-14 10:36] #6030 closed, assigned to nobody

[2021-05-14 10:40] alexander-schranz commented on #6019
@plozmun could then be similar to the following issue: https://github.com/sulu/sulu/issues/5935. We had this on our roadmap.

[2021-05-14 10:46] plozmun commented on #6019
Yes! Close this issue then to reduce noise. Thanks!

[2021-05-14 10:46] #6019 closed, assigned to nobody

[2021-05-14 10:56] alexander-schranz commented on #6019
@plozmun Thx would be great if you subscribe the other issue and to test the performance in your case when we fix the issue.

[2021-05-14 10:59] plozmun commented on #6019
Done!

[2021-05-16 07:38] alexandersch opened #6041 "Blank screen on default snippets overview"
| Q | A
| --- | ---
| Sulu Version | 2.3.0-RC1
| PHP Version | 7.4.x
| DB Version | MySQL 5.7.x
| Browser Version | Chrome, latest version

# Actual Behavior
Blank screen when going to default snippets overview. Console error logged:
[code]

# Expected Behavior
Seeing the default snippets overview

# Steps to Reproduce
Go to pages -> default snippets

[2021-05-17 12:19] #6041 closed, assigned to nobody

[2021-05-17 13:46] niklasnatter commented on #6041
Hey,
thanks for reporting! This should be fixed in #6042.

To install a version that includes the fix in your project, you can adjust the version constraint for the `sulu/sulu` package from `~2.3.0-RC1` to `^2.3@dev` in your `composer.json` and execute `composer update`.
Make sure to also update the Javascript build of the administration interface in you project with the `bin/console sulu:admin:up

[2021-05-17 15:12] alexandersch commented on #6041
Thank you!

[2021-05-18 04:20] rmatt-dev opened #6051 "Error displaying dropdown for header in ckeditor"
| Q | A
| --- | ---
| Sulu Version | 2.2.4
| PHP Version |
| DB Version |
| Browser Version |

# Actual Behavior

The error is related to overflow-y for the dropdown header. It happens, if there's not enough space between the dropdown button and the bottom of the window.
![image](https://user-images.githubusercontent.com/84366300/118589247-4c702380-b7a0-11eb-9b41-aa69d0ed63fe.png)

If I turn off o

[2021-05-18 09:13] alexander-schranz commented on #6051
Thx for reporting the issue. This is similar to #5938 I will have a look at it as it seems ckeditor did not responded to: https://github.com/ckeditor/ckeditor5/issues/9499

[2021-05-18 09:23] niklasnatter commented on #1885
This code snippet might be helpful if you are looking into implementing a `Load more` button for a `smart_content` property in your project: https://gist.github.com/luca-rath/d16c0ad74fa06da49fed22404a53398b

[2021-05-18 09:24] niklasnatter commented on #4946
Fixed by #5942

[2021-05-18 09:24] #4946 closed

[2021-05-18 09:25] niklasnatter commented on #4189
Fixed by #5407

[2021-05-18 09:25] #4189 closed

[2021-05-18 11:17] niklasnatter commented on #6051
Thanks a lot for reporting! Should be fixed in #6054

[2021-05-18 11:17] #6051 closed, assigned to nobody

[2021-05-18 11:17] niklasnatter commented on #5938
Should be fixed in #6054 - thanks for reporting! 🙂

[2021-05-18 11:17] #5938 closed, assigned to nobody

[2021-05-18 15:24] alexandersch opened #6057 "Searching in admin does not work on Sulu 2.3-RC"
| Q | A
| --- | ---
| Sulu Version | 2.3-RC
| PHP Version | 7.4.x
| DB Version | MySQL 5.7.x
| Browser Version | Chrome, latest version

# Actual Behavior
When searching on the search page in the admin it responds with an error:
```Argument 5 passed to Sulu\\Component\\Rest\\ListBuilder\\PaginatedRepresentation::__construct() must be of the type int, array given, called in /home/cms/www/vendor/sul

[2021-05-18 15:35] alexander-schranz commented on #6057
Seems like this is an issue on the MassiveSearch side. Since Elasticsearch 7 `total` will be return under `['total']['value]`.

I would adjust the code maybe to something like:

[code]

https://github.com/massiveart/MassiveSearchBundle/blob/9682a640937bd5006025f5e776bad7b90c7cf25c/Search/Adapter/ElasticSearchAdapter.php#L235

We did something similar here in our ongr elasticsearchbundle fork to su

[2021-05-19 09:35] alexander-schranz commented on #6057
This is fixed in the latest `massive/search-bundle` release. Run the following command to update it:

[code]

[2021-05-19 09:35] #6057 closed, assigned to nobody

[2021-05-19 11:11] alexander-schranz commented on #1284
As never requested, I will close this issue.

[2021-05-19 11:11] #1284 closed

[2021-05-19 11:30] alexander-schranz commented on #2477
The `max_input_vars` is a limit for the `$_POST` and other variables. We can here not do anything if an array would be get bigger. For the `roles` in the `admin` UI this should not longer exist as we are sending the `roles` now as `json` content so it should have no inpect on the `max_input_vars` configuraition in php.

[2021-05-19 11:30] #2477 closed

[2021-05-19 11:51] JulianTrei opened #6059 "Zend Lucene search does not work for search-terms containing hyphens in the first 3 characters"
| Q | A
| --- | ---
| Sulu Version | Release 2.2.3 - 2.3.0-RC1
| PHP Version | 7.2.34
| DB Version | MySQL 8.0.23

# Actual Behavior

Create page with title "e-learning" in Sulu admin interface.
Search for "e-learning" shows 0 results.
Search for "e-" shows 1 result
Search for "elearning" shows 0 result
Search for "learning" shows 1 result

Create page with title "transformation".
Search for "tran

[2021-05-19 12:36] alexander-schranz commented on #4608
Fixed in https://github.com/sulu/sulu-docs/pull/649 and https://github.com/sulu/sulu/pull/6060

[2021-05-19 12:36] #4608 closed

[2021-05-19 12:45] alexander-schranz commented on #6059
As I know this does not appear on `elasticsearch` so its a `zend_lucene` adapter issue.
Currently the following lucene query is generated: https://github.com/sulu/sulu/blob/7bd4e53cd1dbf5852c8e9fb2195c9d40c73a2d51/src/Sulu/Bundle/SearchBundle/Controller/WebsiteSearchController.php#L88-L90. I think as the query is the same it maybe have todo how zend_lucene and elasticsearch does tokinize `e-learni

[2021-05-20 12:49] #5039 closed

[2021-05-20 13:21] #5038 closed

[2021-05-20 13:22] alexander-schranz commented on #5039
This is fixed by #6050 and will be released with 2.3.

[2021-05-20 13:23] alexander-schranz commented on #5038
This is fixed by #6052 and will be part of the 2.3 release.

[2021-05-21 09:54] alexander-schranz commented on #5368
As never requested and as analysed for my SEO workshop this issue does not longer exist and was patched in modern browsers that `noopener` is default and so the target page does not have access to it.

[2021-05-21 09:54] #5368 closed

[2021-05-21 12:52] alexander-schranz commented on #4930
I aggree here with @danrot also because of jexl will make it not longer typesafe and adds a lot of complexity, still I think there is another solution for this kind of problem.

We could introduce something like a `key` property so 2 instances with the same target property name could exist e.g.:

[code]

This would also make it possible example have the same `name` and different `type` for a value

[2021-05-21 15:51] alexander-schranz commented on #4387
This seems only be an issue in the old `1.6` and seems not longer exist in `2.x` version. In 1.6 the issue leading is in the `underscore.js` version used by husky as linked above this can currently not be fixed here. Feedback here is still welcome! The good thing is that you still can set it on the website and just do something like to avoid setting the preview for the admin does fix it:

[code]

[2021-05-21 15:51] #4387 closed

[2021-05-25 08:13] alexander-schranz opened #6070 "Redirect only internal urls in Segment Switcher"
| Q | A
| --- | ---
| Sulu Version | 2.2.9

# Actual Behavior

Currently the segment controller accept all urls as target.

# Expected Behavior

It should support only redirect urls having the same domain.

[2021-05-25 15:58] alexander-schranz commented on #6027
This is now fixed by following following pull requests and will be part of the next releases:

 - #6071
 - #6072
 - #6073
 - sulu/SuluArticleBundle#568

[2021-05-25 15:58] #6027 closed, assigned to nobody

[2021-05-25 16:48] JulianTrei commented on #6059
This is the problem, removing this line fixes the search.
https://github.com/sulu/sulu/blob/7bd4e53cd1dbf5852c8e9fb2195c9d40c73a2d51/src/Sulu/Bundle/SearchBundle/Controller/WebsiteSearchController.php#L89
The error is:
`At least 3 non-wildcard characters are required at the beginning of pattern.`
Which is caught by:
https://github.com/massiveart/MassiveSearchBundle/blob/7e9c329a85a8baaca6bd299e050

[2021-05-26 08:58] alexander-schranz commented on #6070
Fixed in #6075

[2021-05-26 08:58] #6070 closed, assigned to nobody

[2021-05-26 15:49] TheCadien commented on #5998
I would be for it. I always think that you should be able to deactivate and activate the bundles next to the admin bundle and I don't think that would be the case with the preview bundle.

[2021-05-31 07:43] niklasnatter commented on #6059
Thanks a lot for investigating this! It sounds the `MassiveSearchBundle` replaces the `-` with a wildcard and the `zend_lucene` adapter does not support wildcards in the first three characters of a search term. Do I understand this right?

Maybe the `MassiveSearchBundle` could work around the problem by not using any wildcards in the first three characters if the `zend_lucene` adapter is used?

[2021-05-31 08:28] alexander-schranz commented on #5662
Think this is create I would go for the syntax like the following in the `<sulu-link href="754c610c-0b50-4d94-90bc-a598bf8e61c8#myanchor" ...>` so its similar to how normal link is.

[2021-05-31 09:23] niklasnatter commented on #4576
I think this was fixed be https://github.com/sulu/sulu/pull/5820. Please feel free to reopen if that is not the case 🙂

[2021-05-31 09:23] #4576 closed

[2021-05-31 09:24] alexander-schranz commented on #4576
Is fine for me!

[2021-05-31 14:56] rs2487 opened #6091 "Enable to overwrite FormatManager by service definition in yaml"
| Q | A
| --- | ---
| Sulu Version | 2.2.6
| PHP Version | 7.4
| DB Version |
| Browser Version |

# Actual Behavior

Can't overwrite `Sulu\Bundle\MediaBundle\Media\FormatManager\FormatManager` by own services.yaml because Symfony will inject `%sulu_media.format_cache.save_image%` as  `"1"`. The default usage of xml injects `"true"`.

# Expected Behavior

I can overwrite the FormatManager by using

[2021-06-01 07:39] niklasnatter commented on #6091
Hey,
thanks for reaching out. Unfortunately, I cannot reproduce this with Sulu 2.3.0 and Symfony 5.2.7.

I have added the following lines to my `services.yaml`:

[code]

This leads to the following arguments to the constructor of the service:
![Screenshot 2021-06-01 at 09 38 19](https://user-images.githubusercontent.com/13310795/120285012-22991f80-c2bd-11eb-847e-df5bf8d3003f.png)

[2021-06-01 09:25] niklasnatter commented on #5935
Thanks a lot for writing this up and providing all the relevant information!

The problem should hopefully be fixed in the next release by #6089 🙂

[2021-06-01 09:25] #5935 closed, assigned to nobody

[2021-06-02 07:00] d3vpunk commented on #5935
@nnatter  @alexander-schranz  You are amazing. Thank you very much!

[2021-06-02 09:45] wardaari opened #6094 "Cannot read property 'code' of undefined"
| Q | A
| --- | ---
| Sulu Version | 2.3.0
| PHP Version | 7.4.3
| DB Version | mysql  Ver 8.0.25-0ubuntu0.20.04.1 for Linux on x86_64
| Browser Version | Chrome 90.0.4430.212

# Actual Behavior

Cannot read property 'code' of undefined

# Expected Behavior

Should build the admin JS with no errors

# Steps to Reproduce

[code]

[2021-06-02 09:52] alexander-schranz commented on #6094
Hello,

Please make sure the delete all `node_modules` and `package-lock.json` directories. Because there could also be cached directories inside the `vendor` directory. Also if you have a `node_modules` directory in your project root. This need also be removed.

See also the following documentation and maybe you can try to use docker to generate your custom admin build:
https://docs.sulu.io/en/2.

[2021-06-02 10:10] wardaari commented on #6094
Hello,
I noticed the bug when I was trying to add fonts to the CKEditor following the docs [here](https://github.com/sulu/sulu-demo/pull/77). Is that doc still valid or is there another way to do this? I am new to Sulu and Symfony in general (coming from Laravel stack)

[2021-06-02 10:17] mareksuscak opened #6095 "Syncing PHPCR permissions and editing permissions fails for some pages after upgrading to 2.3.0"
| Q | A
| --- | ---
| Sulu Version | 2.3.0
| PHP Version | 7.4.16
| DB Version | MySQL 8.0.18
| Browser Version | All browsers / Server error

# Actual Behavior

[code]

![image](https://user-images.githubusercontent.com/613647/120463349-1a63e180-c39c-11eb-9ac4-3ed43298353e.png)

Changing permissions for the given page fails:

![image](https://user-images.githubusercontent.com/613647/120463388-281

[2021-06-02 10:18] mareksuscak commented on #6095
I'm opening this issue per request in the community Slack: https://sulu-io.slack.com/archives/C0430GGCV/p1622456802238900

[2021-06-02 12:17] alexander-schranz commented on #6094
@wardaari Extending the CKeditor is normally something we not recommend as in our view the content should be not connected to the presentation and so fonts should be controlled by your css and not by the content manager, but we know that still some devs want to give there control to the content manager that's why there is an example.

For your problem I think the easiest way for us the reproduce i

[2021-06-02 12:46] alexander-schranz commented on #6095
I think there are maybe two cases we did not keep in mind when we created the command:

**Case 1: Role without Permission (phpcr example):**

[code]

**Case 2: Removed Role**

We need to check if the roleId really exist in the database bofre try to sync the permissions to the new table.

/cc @luca-rath can you  have a look at this and test this cases?

[2021-06-02 14:09] wardaari commented on #6094
@alexander-schranz deleting all the node_modules and the package-lock.json files everywhere and then running `php bin/adminconsole sulu:admin:update-build` seems to have done the trick. Thanks for your help

[2021-06-02 14:11] #6094 closed, assigned to nobody

[2021-06-02 14:32] luca-rath commented on #6095
@mareksuscak Could you please try, if sulu/sulu#6098 fixes your problem?

[2021-06-02 16:41] mareksuscak commented on #6095
@luca-rath: That worked! Thanks.

![CleanShot 2021-06-02 at 18 40 55](https://user-images.githubusercontent.com/613647/120518649-1488f300-c3d2-11eb-9d22-080776b4504b.png)

[2021-06-04 08:21] alexander-schranz commented on #6095
@mareksuscak Thank you for testing this! Its merged and will be part of the 2.3.1 release.

[2021-06-04 09:00] luca-rath commented on #6095
Closing this, because it has been fixed by #6098

[2021-06-04 09:00] #6095 closed, assigned to luca-rath

[2021-06-04 10:30] alexander-schranz commented on #6091
@rs2487 for me it looks like that your `save_image` is an environment variable. All environment variables are strings and can be converted to other types using e.g.: `%env(int:...)%` or `%env(bool:...)%` more about that in the Symfony Env Variable Processor documentation: https://symfony.com/doc/current/configuration/env_var_processors.html#built-in-environment-variable-processors

[2021-06-04 13:58] JulianTrei commented on #6059
I've released my own changes now, as my customers grew impatient after nearly 3 weeks. I am still looking forward to the official fix of this bug, so I can undo my own fix and pull the official solution.

[2021-06-05 08:46] niklasnatter commented on #6059
I am sorry about that, but I am afraid we do not have the resources to have a deep look into this in the near future. Our open source resources are limit and we try to prioritize them to benefit the majority of the community. If anybody else wants to work on this and contribute a solution, we are happy to review the changes 🙂

For completion; If this is a pressing issue in one of your projects, th

[2021-06-07 05:35] rs2487 commented on #6091
@alexander-schranz no it is not a environment variable. It uses the default from the bundle.

[2021-06-07 07:38] niklasnatter commented on #6091
Could you provide a repository that allows us to reproduce the problem?
I am afraid we cannot help you with this until we are able to reproduce the problem.

[2021-06-07 20:09] alexander-schranz commented on #5935
Beside the profiled performance issue here, we could also improve the performance when using jackalope-doctrine-dbal adapter: https://github.com/jackalope/jackalope-doctrine-dbal/pull/381. Also older sulu versions will benifit from it as it is released with jackalope/jackalope-doctrine-dbal 1.7.0.

[2021-06-10 08:16] ymc-thzi opened #6103 "Display "add block" button between existing blocks"
Sometimes it is hard to find the right position via drag and drop for a newly added block especially if you had a lot of blocks and had to scroll while dragging.
Is the "add block" button configurable in some way (besides the new 2.3 attribs collapsable and movable)?

<img width="631" alt="Bildschirmfoto 2021-06-10 um 10 08 04" src="https://user-images.githubusercontent.com/1804472/121489854-c75de

[2021-06-10 08:39] alexander-schranz commented on #6103
@ymc-thzi Thank you for creating this issue. The add button is currently not configurable, but we have in discussion that on `hover` between the blocks and also I think on the top in the grey area the button should appear automatically so a block can also be added between or at the top fast.

[2021-06-15 05:11] ehibes opened #6106 "Wrong exception when lang is configured on database but not in sulu_core"
| Q | A
| --- | ---
| Sulu Version | 2.3
| PHP Version | 7.4
| DB Version | MariaDB
| Browser Version | Chrome

# Actual Behavior

Context : trying to update a 2.2 project to 2.3 project. When I update the database part, Sulu throws an exception :
``` There is no Metadata available for the type "form" with the key "snippet". ```
This is because a lang is set on updated database (fr in my case), bu

[2021-06-15 15:27] alexander-schranz commented on #6106
@ehibes Thank you for creating this issue. We decided to add here a fallback to the default locale. It can be tested here #6108

[2021-06-16 07:54] alexander-schranz commented on #6091
@rs2487 we can not reproduce this. Not sure where this variable come in your case and why its a string, could also be that you are on an old symfony version? I will close this issue, because if it would it happens I think it would be a bug on symfony side with dependency injection, maybe an symfony update helps in your case.

[2021-06-16 07:54] #6091 closed, assigned to nobody

[2021-06-16 11:20] luca-rath opened #6112 "User can override permissions of page/collection, even if he doesn't have permissions for it"
| Q | A
| --- | ---
| Sulu Version | 2.2

# Actual Behavior

If a user has full permissions of a parent page/collection, but has no permissions for a child, he can still override the child's permissions by changing the permissions of the parent page/collection and checking `Override permissions of sub elements`.

# Expected Behavior

An error message should be displayed, that the user is not allow

[2021-06-16 13:13] niklasnatter commented on #5983
Thanks for reporting this! It should be fixed by #6077 in the upcoming Sulu 2.3.1 release 🙂

[2021-06-16 13:13] #5983 closed, assigned to nobody

[2021-06-17 06:51] #6106 closed, assigned to nobody

[2021-06-21 08:24] remdan opened #6125 "Allow to limit maximum occurrences of a specific block-type"
# Problem description

At the moment it is not possible to set a limit for a block-type. You can only set the limit (maxOccurs) for all blocks not for one specific type.

Example use case: I also use blocks for certain sections like Heading-Area (Hero with Image, Title, Subtitle, ...).
So I have created a section "heading" white blocks in properties. I have one block-type "hero. It should be possi

[2021-06-21 08:43] alexander-schranz commented on #5870
This should be fixed with #6063

[2021-06-21 08:43] #5870 closed, assigned to nobody

[2021-06-21 12:34] alexander-schranz commented on #4624
Close this was won't fix.

[2021-06-21 12:34] #4624 closed

[2021-06-21 12:35] alexander-schranz commented on #5927
This is fixed by #6115

[2021-06-21 12:35] #5927 closed, assigned to nobody

[2021-06-21 13:01] alexander-schranz commented on #3178
This was fixed by symfony over a robots-tag header: https://symfony.com/blog/new-in-symfony-4-3-automatic-search-engine-protection to avoid indexing stages. Also it can still add urls to the robots.txt file or create a custom controller for it.

[2021-06-21 13:01] #3178 closed

[2021-06-22 08:43] popoplanter opened #6126 "Update shadow pages correctly in smartcontent"
| Q | A
| --- | ---
| Sulu Version | 1.6.40
| PHP Version | 7.4
| DB Version | mysql 5.7
| Browser Version | all

# Actual Behavior

- Shadow pages are still counted in the pagination when created from a page that is in draft mode, therefore a wrong hasNextPage result will occur.

- When changing the title of a page, the shadow page does not update the information in the smart content and the sort

[2021-06-23 07:09] sebheitzmann opened #6127 "Pass data of current row to the FieldTransformer::transform method"
# Problem description

I have a list in the admin with some fields on it. I would like to add a link in one of this field to go on another page. To do that my first idea was to use a transformer to transform the text value in a href link to the other page.

My problem is that the transform fonction receive only two parameter, the field value and the type parameter.
What i need is the id of the ite

[2021-06-23 08:42] niklasnatter commented on #6127
Thanks for creating this issue! For the moment, as a workaround, you can adjust your API to include the information that as required in your transformer in the value of the column.

I recently added some thoughts on this topic in https://github.com/sulu/sulu/issues/5918#issuecomment-816696754. The comment also explains the workarounds that are possible at the moment.

[2021-06-23 09:17] niklasnatter commented on #6126
Thanks for creating this issue! I dont fully understand the following yet:

This is a scenario where the shadow locale itself is published but the target locale is not, right? In this case, the `hasNextPage` acts like the shadow page is included in the result but the result itself does not include it?

[2021-06-23 10:16] sebheitzmann commented on #6127
Thanks for the tips. I will try that

[2021-06-29 14:49] MrBuchnev opened #6135 "Google Analytics and Matomo not being added if GTM is not added"
| Q | A
| --- | ---
| Sulu Version | 2.2.0
| PHP Version | 7.2
| DB Version | MySQL 5.7.32
| Browser Version | N/A

# Actual Behavior

When trying to add Google Analytics and/or Matomo via webspaces panel, they are not added to the website. Either one of them (or both) only appear after Google Tag Manager is added.

# Expected Behavior

Each analytics tool should be added on its own, without havin

[2021-06-30 12:07] Prokyonn commented on #6135
I just tested this out with a new Sulu-Skeleton 2.2.11 project and it seems to work without any problems.

Have you maybe forgotten to activate it for either your domain or all domains?

[2021-06-30 12:26] MrBuchnev commented on #6135
@Prokyonn , I'm always selecting all domains (which is a single one in my case), and yet the problem persists.

The problem first became apparent on an already functioning project, so I decided to create a clean new Sulu project and test the bug there. Unfortunately, the problem persists on a clean one for me as well.

[2021-06-30 12:31] Prokyonn commented on #6135
@MrBuchnev Are you sure that the domain in your webspace is correctly configured and equivalent with the domain in your url in the browser?

Can you try it out with checking the toggler for `All domains`?

edit: If it still doesn't work, maybe you can upload your testing-repository (with the database dump) to github, then it will be easier for us to trace the error.

[2021-07-02 08:05] niklasnatter commented on #6135
@MrBuchnev Can you provide a repository that allows us to reproduce this problem?

[2021-07-02 12:42] sabinebaer opened #6140 "Unable to navigate to other pages after deleting all entries of one page in a list (e.g. snippets)"
| Q | A
| --- | ---
| Sulu Version | 2.3.1
| PHP Version | 7.4.16
| DB Version | 5.7.32
| Browser Version | Chrome 91.0.4472.114

# Actual Behavior

After deleting all items of a page in a list view (e.g. snippets) the pagination navigation is not shown any more:

<img width="1245" alt="snippets-deleted" src="https://user-images.githubusercontent.com/5627878/124275603-0c43e500-db43-11eb-924e-203c7

[2021-07-05 14:01] sabinebaer opened #6145 "Page template is not refreshed when switching locales in the Sulu admin"
| Q | A
| --- | ---
| Sulu Version | 2.3.1
| PHP Version | 7.4.16
| DB Version | MySQL 5.7.32
| Browser Version | 91.0.4472.114

# Actual Behavior

The page template is not refreshed after switching locales when editing a page in the Sulu admin. This leads also to a strange behavior, where the content saved in blocks is not refreshed correctly when switching the locale.

# Expected Behavior

The p

[2021-07-05 14:34] alexander-schranz commented on #6145
I test it and it seems like this issues does also exist in older versions (2.2.2 and 2.2.11) so atleast it has not todo with our latest refractorings in the ResourceFormStore, still this issue should be fixed, that the correct template metadata data is used.

[2021-07-07 13:24] niklasnatter commented on #6135
Closing this because of inactivity. Please feel free to create a new issue with a reproducible repository if the problem still occurs for you.

[2021-07-07 13:24] #6135 closed, assigned to nobody

[2021-07-08 06:21] sebheitzmann commented on #5918
Very great article. Thanks a lot.

I will try this.

But just if it's easy for you how can I modify the data controller to implement the workaround 2 ?

For the moment that's what I have :

[code]

Shoud i implement a getter and reference it in the list.xml ?

[2021-07-08 09:11] niklasnatter commented on #5918
The `ListBuilder` component uses optimized queries to load the data directly from the database. The data is not hydrated into objects and therefore you cannot use getters in the list configuration.

The modified code of the controller could look something like this:

[code]

[2021-07-08 14:13] sebheitzmann commented on #5918
Thank you very very much

[2021-07-08 15:34] sabinebaer opened #6148 "Pressing enter does not work when switching pages in lists (e.g. snippets)"
| Q | A
| --- | ---
| Sulu Version | 2.3.1
| PHP Version | 7.4.16
| DB Version | MySQL 5.7.32
| Browser Version | 91.0.4472.114

# Actual Behavior

Pressing enter in the input field for the page number in the pagination navigation for lists does not change the page. The page is changed after clicking somewhere outside the input field.

<img width="278" alt="pagination" src="https://user-images.git

[2021-07-09 07:42] niklasnatter commented on #5918
@sebheitzmann You are welcome! Sorry for not explaining this in the initial post

[2021-07-09 12:58] niklasnatter commented on #6103
This could be tackled together with https://github.com/sulu/sulu/issues/5836

[2021-07-12 07:58] remdan opened #6150 "Add "copy link" button to resource_locator content type"
# Problem description
When you have a page under a subpage it doesn't show me the entire url. So actually always no matter with or without underside.

![Bildschirmfoto 2021-07-12 um 09 43 56](https://user-images.githubusercontent.com/5031692/125251876-11015980-e2f8-11eb-8d37-b64a4e3c49fe.png)

I either have to copy the individual parts of the url together or open the corresponding page via the fro

[2021-07-12 08:26] alexander-schranz commented on #6150
@remdan Thank you for creating this issue. Sadly the issue is not easy to implement. The problem here is that the resourceSegment does not represent a whole visitable url, its just the last part of the url it does not contain the webspace configurations domain, locale and a possible subfolder. So to provide such a feature the form and so the resourceSegment would need to know about this so a full

[2021-07-15 16:50] remdan opened #6154 "media items reload per page after batch delete"
| Q | A
| --- | ---
| Sulu Version | 2.3.1
| PHP Version | 7.4.16
| DB Version | MySQL 5.7.35
| Browser Version | Firefox 89.0.2

# Actual Behavior
I'm in a media folder with more than 100 items.
It shows me 10 items per page on default.
If I select one or more items and delete them, then there is no reload like a refill until the page maximum is reached.
Also, if I select and delete all, in my ex

[2021-07-15 20:00] alexander-schranz commented on #6154
@remdan Seems like for its the same issue as described here: https://github.com/sulu/sulu/issues/6140 or do I understand it not correctly?

[2021-07-19 11:16] remdan commented on #6154
Yes, looks like this behavior exist in every list!

[2021-07-19 12:17] alexander-schranz commented on #6154
I will close then this issue in favor of #6140 to avoid here duplicated issues, please subscribe #6140 and add there maybe additional information if you want.

[2021-07-19 12:17] #6154 closed, assigned to nobody

[2021-07-20 09:11] remdan commented on #6140
It also happens in the media list.

My expected behavior: After delete items, it should refill the items per page and update the pagination... not only after deleting all items one time...

[2021-07-20 09:42] remdan opened #6157 "Provide total number of elements from smart_content property"
I know this topic has been brought up many times about slack and it is not that easy to implement, but here I have not yet found a ticket/issue about it!

So I think it is time for a  Feature request...

# Problem description

In smart content if we set a pagination we can know just the current page or the next page.

![Bildschirmfoto 2021-07-20 um 11 39 48](https://user-images.githubusercontent.c

[2021-07-20 09:55] alexander-schranz commented on #6157
Hello @remdan,
currently this is a limitation because of performance problem on PHPCR.

We are currently working on it with the ContentBundle and will make a first prototype with the [SuluArticleBundle 3.0](https://github.com/sulu/SuluArticleBundle/issues/545). If that works well we will also migrate the pages also to it and then I think a total should be no problem in the smart content longer.

[2021-07-24 13:57] rogoit opened #6159 "Image in portrait mode are turned"
| Q | A
| --- | ---
| Sulu Version | 2.3.1
| PHP Version | 7.4

# Actual Behavior
When I upload a image in portrait modus it is turned

# Expected Behavior
Get the image like uploaded

# Steps to Reproduce
Try images from here
![Bildschirmfoto vom 2021-07-24 15-53-48](https://user-images.githubusercontent.com/3101439/126870658-3309fd87-4b19-4946-9df9-6aef7fd47c02.png)
![20210718_204745](https://us

[2021-07-25 13:57] alexander-schranz commented on #6159
Most cameras save images only in landscape mode and only use a exif meta header to set the image rotation.

The rotation of an image is detected by the Imagine Library. It uses the standard exif orientation headers of an image for it. The method doing this can be found here: https://github.com/avalanche123/Imagine/blob/b6b631517a5c50ebfad0e0576ef9aeb9fd10d1dc/src/Filter/Basic/Autorotate.php#L86.
I

[2021-07-25 15:25] RealAestan commented on #4387
There is an issue with the usage of the ajv library regarding the Content-Security-Policy header and the necessity to add 'unsafe-eval'. I think that there is a way to fix it :

- https://ajv.js.org/security.html#content-security-policy
- https://ajv.js.org/guide/environments.html#browsers
- https://github.com/ajv-validator/ajv/issues/1640

[2021-07-25 16:53] alexander-schranz commented on #4387
@RealAestan Thank you for the feedback. I'm currently not sure if the documented way work for dynamic external schemas. It seems the only workaround is compiling the schemas before and so ajv isn't used to validate the schemas. Or did you get a way to get this work?
Currently the ajv is created here: https://github.com/sulu/sulu/blob/2.x/src/Sulu/Bundle/AdminBundle/Resources/js/utils/Ajv/createAjv

[2021-07-25 19:19] rogoit commented on #6159
I will try next days thx

[2021-07-27 08:16] RealAestan commented on #4387
@alexander-schranz I'm not sure. I never used this library so I don't know the implications, from what I see in the documentation you could use something like this
[code]
to have a standalone code generation that does not use unsafe eval. Although, take it with a grain of salt since I didn't try this. Could you test this since you know the implications of this library better than I do ?
Though it'

[2021-07-27 09:45] alexander-schranz commented on #4387
@RealAestan the require formats don't work in our case the formats do not exist as files which can be required, they are generated external by the api and returned. Thats why I think the current solutions provided by ajv for CSP do not work in our case. Sadly I'm not so deep in ajv, maybe @luca-rath know more about this if something form the docs would be possible. /cc @luca-rath

[2021-07-29 14:42] sebheitzmann opened #6162 "Column config is cached or user setting ?"
| Q | A
| --- | ---
| Sulu Version | 2.2.5
| PHP Version | 7.4.6
| DB Version | Mariadb 10.4
| Browser Version | Chrome 91.0.4472.101

# Actual Behavior

I have two different admin user which doesn't see the same column in the column config list.

![image](https://user-images.githubusercontent.com/2197902/127511704-895fce1b-cf76-4268-ae76-9852725a8eea.png)

The last column is not present on the sa

[2021-07-29 14:43] sebheitzmann commented on #6162
The columns order are not the same on the two screenshot but i don't have the same number of column.

[2021-07-29 15:27] alexander-schranz commented on #6162
Looks for me like that they are cached in the `se_user_settings` table. The `se_user_settings` saves the last selected items, selected columns, filters, views. To fix your problem you could truncate that table or just remove the specific setting key for your user which does not list all column list.

[2021-07-30 05:02] sebheitzmann commented on #6162
![image](https://user-images.githubusercontent.com/2197902/127602754-32610095-5f45-4acd-b57e-fac01a0fdf55.png)

this info are cached in the table. But I don't really understand why ? If i add a new column in the adherent.xml file it will not be changed for old user ?

[2021-07-30 08:39] alexander-schranz commented on #6162
@sebheitzmann  the settings should be merged with exist columns but looks like currently they are overwritten with the user columns. Not sure if it was fixed in some version after the one you are using. If not I think the problem is somewhere in this method https://github.com/sulu/sulu/blob/0238c55bd6a4d965aa7ebd12b2ba7467f33db957/src/Sulu/Bundle/AdminBundle/Resources/js/containers/List/stores/Lis

[2021-08-02 10:50] niklasnatter commented on #6150
Thanks for creating this issue!

As already explained by @alexander-schranz, the resource locator does not represent the "full" url because it does not include the URL that is configured for the webspace. A project can contain multiple webspaces with different URLs. In such a case, the used would need to select the webspace before the URL can be copied.

[2021-08-02 12:15] niklasnatter commented on #6162
I think this problem should be fixed in https://github.com/sulu/sulu/pull/5267. Is it possible that your project uses an outdated admin javascript build?
Make sure to update the admin javascript build in you project when upgrading your project like described in the [upgrade guide in the documentation](https://docs.sulu.io/en/2.2/upgrades/upgrade-2.x.html) 🙂

[2021-08-02 14:42] niklasnatter commented on #6126
@C-burr I remember that we talked about this but I am not sure if we found a solution. Is this still a problem? 🤔

[2021-08-03 08:13] niklasnatter commented on #6159
As mentioned by @alexander-schranz, this should already work if the `exif` php extension is installed on the server. The functionality was implemented in #4236. Because of this, I am closing this issue.

Please feel free to open a new issue if the problem persists after enabling the `exif` extension 🙂

[2021-08-03 08:13] #6159 closed, assigned to nobody

[2021-08-03 15:12] niklasnatter commented on #5661
Fixed in https://github.com/sulu/sulu/pull/6090

[2021-08-03 15:12] #5661 closed

[2021-08-03 15:12] niklasnatter commented on #5662
Fixed in https://github.com/sulu/sulu/pull/6090

[2021-08-03 15:12] #5662 closed

[2021-08-05 08:26] alexander-schranz commented on #5727
Fixed in https://github.com/sulu/sulu/pull/6171

[2021-08-05 08:26] #5727 closed

[2021-08-05 11:40] R3dLantern opened #6173 "xi:include fails inside recursive xi:include"
| Q                  | A
| ------------- | ---
| Sulu version | 2.3.1
| PHP version | 8.0.9
| DB version | MySQL 10.4.12-MariaDB
| Browser | Google Chrome 64-bit 92.0.4515.107

XML schema validation fails if the `xi:include` structure is too complex.
When using a recursive inclusion, e.g.
[code]
an underlying `xi:include` will not be resolved:
[code]
which in turn throws a validation exception in

[2021-08-05 11:55] alexander-schranz commented on #6173
Hello @scarcloud,

I don't think you can xi:include recursively this would end in an endless loop. But you can xinclude inside an xinclude.

See as example the demo:

 - https://github.com/sulu/sulu-demo/blob/master/config/templates/pages/homepage.xml#L80-L81
 - https://github.com/sulu/sulu-demo/blob/38b3cecf8efa919aa38f92c9a243d3fe75a6bf69/config/templates/includes/blocks.xml#L16

 But you still

[2021-08-05 12:56] luca-rath commented on #6127
Fixed by #6164, will be released as `2.2.12` and `2.3.2`

[2021-08-05 12:56] #6127 closed, assigned to nobody

[2021-08-05 13:11] luca-rath commented on #6148
Fixed by #6167, will be released as 2.2.12 and 2.3.2

[2021-08-05 13:11] #6148 closed, assigned to nobody

[2021-08-06 09:23] luca-rath commented on #5596
Fixed by #6170, will be released as 2.2.12 and 2.3.2

[2021-08-06 09:23] #5596 closed

[2021-08-09 07:57] niklasnatter commented on #5779
This was fixed in #6174 and will be included in the 2.2.12 and 2.3.2 release 🙂

In the new releases, the missing node is automatically created when the corrupt page is modified. If you want to remove a corrupt page, you need to modify the page a single time. After this, the deletion should work without any errors.

[2021-08-09 07:57] #5779 closed, assigned to nobody

[2021-08-10 11:19] niklasnatter commented on #5916
Fixed in https://github.com/sulu/sulu/pull/6172 - thanks for reporting! 🙂

[2021-08-10 11:19] #5916 closed, assigned to nobody

[2021-08-10 12:29] niklasnatter commented on #6140
Thanks for reporting! Should be fixed in #6168 and will be included in the upcoming 2.2.12 and 2.3.2 release 🙂

[2021-08-10 12:29] #6140 closed, assigned to nobody

[2021-08-10 12:41] niklasnatter commented on #6162
Closing this because of inactivity. Please feel free to create a new issue if the problem persists for you after updating the admin javascript build 🙂

[2021-08-10 12:41] #6162 closed, assigned to nobody

[2021-08-10 12:59] niklasnatter commented on #6145
Thanks for reporting! Should be fixed in #6168 and will be included in the upcoming 2.2.12 and 2.3.2 release 🙂

[2021-08-10 12:59] #6145 closed, assigned to nobody

[2021-08-10 14:01] popoplanter commented on #6126
@nnatter i dont think we found a solution for it, i just saved the affected shadow pages to fix the issue. But this problem could occur again

[2021-08-11 07:03] sebheitzmann commented on #6162
I'm sorry, I was in holidays for two weeks. I've found a workaround for the moment and I have seen that the new version should correct the pb. I will try that. Thanks for all.

[2021-08-12 10:18] cirykpopeye opened #6178 "File upload max size evaluation before upload"
# Problem description

Uploading a 10MB file with a post max on the server of around 8MB will throw a nginx error f.e.

# Proposed solution

Evaluate the size of the image before even attempting the upload ( A JS solution ), this could enhance the user feedback when dealing with larger files.

[2021-08-12 11:01] cirykpopeye commented on #6178
Since react-dropzone is used, we can make use of the `maxSize` attribute

[2021-08-16 09:57] wimvds opened #6179 "Settings tab of pages does not work (due to JS error)"
| Q | A
| --- | ---
| Sulu Version | 2.2.12 & 2.3.2
| PHP Version | 7.4.22
| DB Version | MySQL 5.7.33
| Browser Version | Firefox 91.0

# Actual Behavior

The Settings tab of pages does not work. In the JS console we see a the following error :
`Uncaught (in promise) Error: The "page_settings" configuration does not support types, but a type of "default" was given`
(in metadataStore.js:79:18)

#

[2021-08-16 10:24] alexander-schranz commented on #6179
Thank you for reporting. I tested it and I can reproduce it, it seems like it have todo with the changes in https://github.com/sulu/sulu/pull/6169. We will have a look at it.

[2021-08-16 11:29] niklasnatter commented on #6179
Thanks for reporting! I am sorry to say that this is a bug in the new version indeed. For the moment, downgrading to `2.2.11` and updating the administration build with the `bin/adminconsole sulu:admin:update-build` command should make the error disappear.

We are working on a fix and I hope that we can release a new version without the problem soon! 🙂

[2021-08-16 13:05] almare opened #6181 "The "page_excerpt" configuration does not support types, but a type of "default" was given"
| Q | A
| --- | ---
| Sulu Version | 2.3.2
| PHP Version | 8.04
| DB Version | MARIADB 10.3.31
| Browser Version | Firefox 91

# Actual Behavior
After updating to latest Sulu version incl. the following Bundles (Article, Form, Automatation, SuluMegamenu, Theme,Redirect) I receive this error if I try to open the excerpt, seo or settings page of each page and article. I had also custom config/forms/

[2021-08-16 13:14] alexander-schranz commented on #6181
@almare Thank you for reporting, this issue is similar to #6179. We are already working on a fix: #6180. Will close this in favor of #6179

[2021-08-16 13:14] #6181 closed, assigned to nobody

[2021-08-16 13:25] almare commented on #6181
Oh, sorry! I didn't see that issue. Thx

[2021-08-16 15:00] alexander-schranz commented on #6179
This is fixed in #6180 and released in [2.2.13](https://github.com/sulu/sulu/releases/tag/2.2.13) and [2.3.3](https://github.com/sulu/sulu/releases/tag/2.3.3).

[2021-08-16 15:00] #6179 closed, assigned to nobody

[2021-08-17 10:05] remdan opened #6182 "Bigger preview picture on selections"
# Problem description

Example: If I use a Media selection, the preview Image from a selected File is very small. It's not very usefull... to identify exactly which image is involved, for select others or moving it in the list.

![Bildschirmfoto 2021-08-17 um 11 47 23](https://user-images.githubusercontent.com/5031692/129704563-01eb0025-4b38-40be-b374-fadc56722d32.png)

# Proposed solution

- Zoom

[2021-08-17 18:00] remdan opened #6185 "Changing the default segment for a webspace dynamically"
# Problem description

Changing the default segment for a webspace dynamically over the backend.
Example: switch after spring to summer and after fall to winter fix for a webspace.

In the moment, I have to do it for my customer over the webspace config and this results in a new deploy.

# Proposed solution

It should be possible to change the default segment over the backend and not only over the